In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
387,2021-02-04,00:30,soccer,brazil,serie-a,Bahia,Fluminense,X2,2.66,201.0
386,2021-02-04,20:00,soccer,england,premier-league,Tottenham,Chelsea,X2,2.14,245.0
388,2021-02-04,13:00,soccer,uruguay,primera-division,River Plate,Danubio,X1,2.17,124.0

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1,01:00,2021-02-04,/hockey/usa/nhl/philadelphia-flyers-boston-bru...,Philadelphia Flyers,Boston Bruins,2.88,4.17,2.17,0.574471

### Premium

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
750,2021-02-04,20:00,soccer,england,premier-league,Tottenham,Chelsea,TEAM2,1.000000,2.14,100
751,2021-02-04,00:00,basketball,usa,nba,Charlotte Hornets,Philadelphia 76ers,OVER,0.586695,1.90,100
752,2021-02-04,00:30,basketball,usa,nba,Atlanta Hawks,Dallas Mavericks,OVER,0.554411,1.90,100
753,2021-02-04,01:00,basketball,usa,nba,Cleveland Cavaliers,Los Angeles Clippers,OVER,0.673583,1.90,100
754,2021-02-04,01:00,basketball,usa,nba,Miami Heat,Washington Wizards,OVER,0.573700,1.90,100
755,2021-02-04,01:00,basketball,usa,nba,Chicago Bulls,New York Knicks,OVER,0.702739,1.90,100
756,2021-02-04,01:00,basketball,usa,nba,Oklahoma City Thunder,Houston Rockets,OVER,0.618462,1.90,100
757,2021-02-04,01:30,basketball,usa,nba,San Antonio Spurs,Minnesota Timberwolves,OVER,0.564578,1.90,100
758,2021-02-04,02:30,basketball,usa,nba,New Orleans Pelicans,Phoenix Suns,OVER,0.635465,1.90,100

### Criterio

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
960,2021-02-04,01:00,soccer,nicaragua,liga-primera,Diriangen,Jalapa,TEAM1,1.61,256
961,2021-02-04,02:00,soccer,nicaragua,liga-primera,Ferretti,CD Junior,TEAM1,1.57,234
962,2021-02-04,18:00,soccer,romania,liga-1,CFR Cluj,Viitorul Constanta,TEAM1,1.59,245
963,2021-02-04,13:00,soccer,uruguay,primera-division,River Plate,Danubio,TEAM1,2.17,124
964,2021-02-04,22:15,soccer,uruguay,primera-division,Montevideo City,Defensor Sp.,TEAM1,2.24,141

### TAN!! SPECIAL SELECTION

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1722,20:00,2021-02-04,/soccer/england/premier-league/tottenham-chels...,Tottenham,Chelsea,3.61,3.43,2.14,TEAM2
1719,21:00,2021-02-04,/soccer/portugal/primeira-liga/braga-portimone...,Braga,Portimonense,1.42,4.63,7.61,TEAM1
1721,15:00,2021-02-04,/soccer/portugal/primeira-liga/sc-farense-sant...,SC Farense,Santa Clara,2.73,2.92,2.92,TEAM2
1720,19:30,2021-02-04,/soccer/switzerland/super-league/lausanne-base...,Lausanne,Basel,2.78,3.47,2.44,TEAM2

___

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
973,01:00,2021-02-04,/soccer/nicaragua/liga-primera/diriangen-jalap...,Diriangen,Jalapa,1.61,3.45,5.75,TEAM1
974,02:00,2021-02-04,/soccer/nicaragua/liga-primera/walter-ferreti-...,Ferretti,CD Junior,1.57,3.75,5.53,TEAM1
975,21:00,2021-02-04,/soccer/portugal/primeira-liga/braga-portimone...,Braga,Portimonense,1.42,4.63,7.61,TEAM1
976,18:00,2021-02-04,/soccer/romania/liga-1/cfr-cluj-viitorul-const...,CFR Cluj,Viitorul Constanta,1.59,3.70,5.96,TEAM1
977,16:00,2021-02-04,/soccer/turkey/super-lig/trabzonspor-denizlisp...,Trabzonspor,Denizlispor,1.50,4.16,6.68,TEAM1

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
662,2021-02-04,00:00,basketball,usa,nba,Charlotte Hornets,Philadelphia 76ers,228.5,1.60,100,0.586695
663,2021-02-04,00:00,basketball,usa,nba,Milwaukee Bucks,Indiana Pacers,238.5,1.57,100,0.494581
664,2021-02-04,00:30,basketball,usa,nba,Atlanta Hawks,Dallas Mavericks,228.0,1.62,100,0.554411
665,2021-02-04,01:00,basketball,usa,nba,Cleveland Cavaliers,Los Angeles Clippers,224.0,1.58,100,0.673583
666,2021-02-04,01:00,basketball,usa,nba,Miami Heat,Washington Wizards,232.5,1.56,100,0.573700
667,2021-02-04,01:00,basketball,usa,nba,Chicago Bulls,New York Knicks,223.0,1.60,100,0.702739
668,2021-02-04,01:00,basketball,usa,nba,Oklahoma City Thunder,Houston Rockets,226.5,1.60,100,0.618462
669,2021-02-04,01:30,basketball,usa,nba,San Antonio Spurs,Minnesota Timberwolves,228.5,1.59,100,0.564578
670,2021-02-04,02:30,basketball,usa,nba,New Orleans Pelicans,Phoenix Suns,227.5,1.59,100,0.635465
671,2021-02-04,03:00,basketball,usa,nba,Sacramento Kings,Boston Celtics,229.0,1.58,100,0.536038
672,2021-02-04,01:00,hockey,usa,nhl,Philadelphia Flyers,Boston Bruins,6.5,1.41,100,0.423931

## NBA

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
206,00:30,2021-02-04,/basketball/usa/nba/atlanta-hawks-dallas-maver...,Atlanta Hawks,Dallas Mavericks,2.09,0,1.80,0.554275
204,00:00,2021-02-04,/basketball/usa/nba/charlotte-hornets-philadel...,Charlotte Hornets,Philadelphia 76ers,3.49,0,1.33,0.436320
209,01:00,2021-02-04,/basketball/usa/nba/chicago-bulls-new-york-kni...,Chicago Bulls,New York Knicks,1.78,0,2.10,0.541689
207,01:00,2021-02-04,/basketball/usa/nba/cleveland-cavaliers-los-an...,Cleveland Cavaliers,Los Angeles Clippers,4.23,0,1.25,0.370355
208,01:00,2021-02-04,/basketball/usa/nba/miami-heat-washington-wiza...,Miami Heat,Washington Wizards,1.23,0,4.39,0.586527
205,00:00,2021-02-04,/basketball/usa/nba/milwaukee-bucks-indiana-pa...,Milwaukee Bucks,Indiana Pacers,1.25,0,4.20,0.571907
212,02:30,2021-02-04,/basketball/usa/nba/new-orleans-pelicans-phoen...,New Orleans Pelicans,Phoenix Suns,2.35,0,1.64,0.498032
210,01:00,2021-02-04,/basketball/usa/nba/oklahoma-city-thunder-hous...,Oklahoma City Thunder,Houston Rockets,3.31,0,1.36,0.508374
213,03:00,2021-02-04,/basketball/usa/nba/sacramento-kings-boston-ce...,Sacramento Kings,Boston Celtics,1.99,0,1.87,0.492484
211,01:30,2021-02-04,/basketball/usa/nba/san-antonio-spurs-minnesot...,San Antonio Spurs,Minnesota Timberwolves,1.31,0,3.65,0.707634

## NBA CLUSTER FALLO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
60,0:0,2021-02-04,basketball/usa_nba,San Antonio Spurs,Minnesota Timberwolves,1.29,0,3.72,2
61,0:0,2021-02-04,basketball/usa_nba,Miami Heat,Washington Wizards,1.29,0,3.73,2
62,0:0,2021-02-04,basketball/usa_nba,Cleveland Cavaliers,Los Angeles Clippers,4.25,0,1.23,1

## NBA FALLO SIN FILTRO

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
129,0:0,2021-02-04,basketball/usa_nba,San Antonio Spurs,Minnesota Timberwolves,1.29,0,3.72,2
130,0:0,2021-02-04,basketball/usa_nba,Miami Heat,Washington Wizards,1.29,0,3.73,2
131,0:0,2021-02-04,basketball/usa_nba,Cleveland Cavaliers,Los Angeles Clippers,4.25,0,1.23,1

## NHL

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
152,01:00,2021-02-04,/hockey/usa/nhl/philadelphia-flyers-boston-bru...,Philadelphia Flyers,Boston Bruins,2.88,4.17,2.17,0.574471

## NHL CLUSTER FALLO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### MLB

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
49,20:00,2021-02-04,/soccer/england/premier-league/tottenham-chels...,Tottenham,Chelsea,3.61,3.43,2.14,0.514719

### SOCCER CLUSTER FALLO

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
37,0:0,2021-02-04,soccer/england_premier-league,Tottenham,Chelsea,3.6,3.45,2.15,1

### SOCCER EMPATE SECUENCIA

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
189,00:30,2021-02-04,soccer/uruguay_primera-division,Wanderers,Boston River,2.2,3.06,3.39,3-Boston River-0.15

## SOCCER FAVORITO SECUENCIA

###  MILAN - ms negativo -77

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
47,00:30,2021-02-04,soccer/brazil_serie-a,Bahia,Fluminense,2.69,3.25,2.66,FALLO-1-Bahia--0.04
48,21:30,2021-02-04,soccer/brazil_serie-a,Fortaleza,Coritiba,1.76,3.56,4.79,FALLO-6-Coritiba--0.26
49,01:00,2021-02-04,soccer/costa-rica_primera-division,San Carlos,Cartagines,2.15,3.17,3.26,FAVORITO-1-Cartagines--0.26

## CRB - ms positivo .49

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
13,00:30,2021-02-04,soccer/brazil_serie-a,Corinthians,Ceara,1.93,3.49,3.94,FAVORITO-1-Corinthians-0.27
14,00:30,2021-02-04,soccer/brazil_serie-a,Bahia,Fluminense,2.69,3.25,2.66,FAVORITO-2-Fluminense-0.22

### LIGA MX

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5637,21:00,2021-02-04,/soccer/portugal/primeira-liga/braga-portimone...,Braga,Portimonense,1.42,4.63,7.61,0.690882
5640,10:00,2021-02-04,/soccer/world/club-friendly/dynamo-moscow-k-al...,Dynamo Moscow (Rus),K. Almaty (Kaz),1.52,4.46,5.45,0.525719
5646,14:00,2021-02-04,/soccer/world/club-friendly/fc-liefering-graze...,Liefering (Aut),Grazer (Aut),1.69,4.07,3.84,0.525719
5647,15:30,2021-02-04,/soccer/world/club-friendly/fk-rostov-krasnoda...,FK Rostov (Rus),Krasnodar (Rus),2.89,3.20,2.42,0.525719
5645,13:30,2021-02-04,/soccer/world/club-friendly/kolding-if-frederi...,Kolding IF (Den),Fredericia (Den),3.03,3.69,2.03,0.525719
5644,13:00,2021-02-04,/soccer/world/club-friendly/lokomotiv-moscow-k...,Lokomotiv Moscow (Rus),Krasnodar (Rus),3.19,3.30,2.17,0.525719
5642,13:00,2021-02-04,/soccer/world/club-friendly/molde-brann-t0icG8Y0/,Molde (Nor),Brann (Nor),1.51,4.35,5.01,0.525719
5641,13:00,2021-02-04,/soccer/world/club-friendly/petrzalka-sered-KC...,Petrzalka (Svk),Sered (Svk),5.79,4.73,1.41,0.525719
5643,13:00,2021-02-04,/soccer/world/club-friendly/ska-khabarovsk-t-m...,SKA Khabarovsk (Rus),T. Moscow (Rus),3.19,3.30,2.20,0.525719
5639,20:00,2021-02-04,/soccer/england/premier-league/tottenham-chels...,Tottenham,Chelsea,3.61,3.43,2.14,0.514719
5633,17:15,2021-02-04,/soccer/switzerland/super-league/luzern-servet...,Luzern,Servette,2.15,3.52,3.24,0.498138
5638,21:30,2021-02-04,/soccer/portugal/primeira-liga/famalicao-morei...,Famalicao,Moreirense,2.07,3.22,3.90,0.470710
5634,19:30,2021-02-04,/soccer/switzerland/super-league/lausanne-base...,Lausanne,Basel,2.78,3.47,2.44,0.465136
5635,15:00,2021-02-04,/soccer/portugal/primeira-liga/sc-farense-sant...,SC Farense,Santa Clara,2.73,2.92,2.92,0.441975
5636,19:00,2021-02-04,/soccer/portugal/primeira-liga/belenenses-fc-p...,Belenenses,FC Porto,8.59,4.74,1.38,0.303301

___

## EXPERIMENTAL

### Daily model 53

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []