In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
657,2021-04-12,18:00,soccer,germany,3-liga,Meppen,Wehen,X2,2.25,100.0
658,2021-04-12,18:00,soccer,sweden,superettan,Vasteras SK,AFC Eskilstuna,X1,1.94,100.0
659,2021-04-12,00:00,basketball,usa,nba,Orlando Magic,Milwaukee Bucks,UNDER-229.5,1.57,100.0
660,2021-04-12,03:00,basketball,usa,nba,Los Angeles Clippers,Detroit Pistons,UNDER-220,1.62,100.0

### Gana Favorito en ODDs finales.

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
140,01:00,2021-04-12,/basketball/usa/nba/minnesota-timberwolves-chi...,Minnesota Timberwolves,Chicago Bulls,2.48,0.0,1.58,0.469169
139,03:00,2021-04-12,/basketball/usa/nba/portland-trail-blazers-mia...,Portland Trail Blazers,Miami Heat,1.94,0.0,1.92,0.534601

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
20,17:00,2021-04-12,/soccer/serbia/super-liga/vojvodina-fk-zlatibo...,Vojvodina,Zlatibor Cajetina,1.27,5.48,8.89,0.726341

### Premium

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1226,2021-04-12,18:00,soccer,germany,3-liga,Meppen,Wehen,X2,1.000000,2.25,100
1225,2021-04-12,17:00,soccer,israel,leumit-league,Beitar Tel Aviv,Hap. Ramat Gan,X2,1.000000,3.26,100
1227,2021-04-12,03:06,soccer,mexico,liga-mx,Club Tijuana,Mazatlan FC,X2,1.000000,4.13,100
1228,2021-04-12,00:00,basketball,usa,nba,Cleveland Cavaliers,New Orleans Pelicans,OVER,0.733299,1.90,100
1229,2021-04-12,01:00,basketball,usa,nba,Dallas Mavericks,San Antonio Spurs,OVER,0.721681,1.90,100
1230,2021-04-12,01:00,basketball,usa,nba,Memphis Grizzlies,Indiana Pacers,OVER,0.603061,1.90,100
1231,2021-04-12,01:00,basketball,usa,nba,New York Knicks,Toronto Raptors,OVER,0.574814,1.90,100
1232,2021-04-12,03:00,basketball,usa,nba,Los Angeles Clippers,Detroit Pistons,UNDER,0.336658,1.90,100
1233,2021-04-12,03:00,basketball,usa,nba,Portland Trail Blazers,Miami Heat,OVER,0.762510,1.90,100

### Criterio

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1272,2021-04-12,17:30,soccer,bulgaria,parva-liga,Beroe,Etar,TEAM1,1.40,113
1269,2021-04-12,15:20,soccer,iran,persian-gulf-pro-league,Sepahan,Naft M.I.S,TEAM1,1.41,126
1270,2021-04-12,17:00,soccer,turkey,super-lig,Alanyaspor,Denizlispor,TEAM1,1.51,234
1273,2021-04-12,01:00,hockey,usa,nhl,Nashville Predators,Dallas Stars,TEAM1,2.59,240
1271,2021-04-12,11:00,soccer,vietnam,v-league-1,Gia Lai,Nam Dinh,TEAM1,1.58,287

### TAN!! SPECIAL SELECTION

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2201,17:30,2021-04-12,/soccer/bulgaria/parva-liga/beroe-etar-rJvBEJOK/,Beroe,Etar,1.40,4.37,7.69,TEAM1
2203,17:00,2021-04-12,/soccer/serbia/super-liga/napredak-macva-sabac...,Napredak,Macva,1.31,4.78,8.71,TEAM1
2202,17:00,2021-04-12,/soccer/serbia/super-liga/vojvodina-fk-zlatibo...,Vojvodina,Zlatibor Cajetina,1.27,5.48,8.89,TEAM1

___

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1461,15:20,2021-04-12,/soccer/iran/persian-gulf-pro-league/sepahan-n...,Sepahan,Naft M.I.S,1.41,3.90,8.13,TEAM1
1462,17:00,2021-04-12,/soccer/turkey/super-lig/alanyaspor-denizlispo...,Alanyaspor,Denizlispor,1.51,4.41,6.08,TEAM1
1463,11:00,2021-04-12,/soccer/vietnam/v-league-1/gia-lai-nam-dinh-C8...,Gia Lai,Nam Dinh,1.58,3.75,5.29,TEAM1

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1345,2021-04-12,20:15,soccer,england,premier-league,Brighton,Everton,3.25,1.33,100,0.919717
1346,2021-04-12,15:00,soccer,serbia,super-liga,FK Indjija,Backa,3.50,1.31,100,0.782359
1335,2021-04-12,00:00,basketball,usa,nba,Cleveland Cavaliers,New Orleans Pelicans,231.00,1.58,100,0.733299
1336,2021-04-12,00:00,basketball,usa,nba,Orlando Magic,Milwaukee Bucks,229.50,1.57,100,0.377077
1337,2021-04-12,01:00,basketball,usa,nba,Dallas Mavericks,San Antonio Spurs,225.50,1.58,100,0.721681
1338,2021-04-12,01:00,basketball,usa,nba,Memphis Grizzlies,Indiana Pacers,240.00,1.56,100,0.603061
1339,2021-04-12,01:00,basketball,usa,nba,Minnesota Timberwolves,Chicago Bulls,237.00,1.58,100,0.485827
1340,2021-04-12,01:00,basketball,usa,nba,New York Knicks,Toronto Raptors,220.50,1.60,100,0.574814
1341,2021-04-12,03:00,basketball,usa,nba,Los Angeles Clippers,Detroit Pistons,220.00,1.62,100,0.336658
1342,2021-04-12,03:00,basketball,usa,nba,Portland Trail Blazers,Miami Heat,227.50,1.58,100,0.762510
1343,2021-04-12,00:00,hockey,usa,nhl,Boston Bruins,Washington Capitals,6.50,1.43,100,0.767374
1344,2021-04-12,01:00,hockey,usa,nhl,Nashville Predators,Dallas Stars,6.00,1.37,100,0.537766

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
20,2021-04-12,00:00,basketball,usa,nba,Orlando Magic,Milwaukee Bucks,229.5,1.57,100,UNDER
21,2021-04-12,01:00,basketball,usa,nba,Minnesota Timberwolves,Chicago Bulls,237.0,1.58,100,OVER
22,2021-04-12,01:00,basketball,usa,nba,Memphis Grizzlies,Indiana Pacers,240.0,1.56,100,UNDER

## NBA

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
688,00:00,2021-04-12,/basketball/usa/nba/cleveland-cavaliers-new-or...,Cleveland Cavaliers,New Orleans Pelicans,3.80,0,1.29,0.500187
690,01:00,2021-04-12,/basketball/usa/nba/dallas-mavericks-san-anton...,Dallas Mavericks,San Antonio Spurs,1.41,0,3.02,0.679820
694,03:00,2021-04-12,/basketball/usa/nba/los-angeles-clippers-detro...,Los Angeles Clippers,Detroit Pistons,1.11,0,7.08,0.710258
691,01:00,2021-04-12,/basketball/usa/nba/memphis-grizzlies-indiana-...,Memphis Grizzlies,Indiana Pacers,1.63,0,2.37,0.612365
692,01:00,2021-04-12,/basketball/usa/nba/minnesota-timberwolves-chi...,Minnesota Timberwolves,Chicago Bulls,2.48,0,1.58,0.469169
693,01:00,2021-04-12,/basketball/usa/nba/new-york-knicks-toronto-ra...,New York Knicks,Toronto Raptors,1.58,0,2.48,0.653129
689,00:00,2021-04-12,/basketball/usa/nba/orlando-magic-milwaukee-bu...,Orlando Magic,Milwaukee Bucks,3.99,0,1.27,0.410045
695,03:00,2021-04-12,/basketball/usa/nba/portland-trail-blazers-mia...,Portland Trail Blazers,Miami Heat,1.94,0,1.92,0.534601

## NBA CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
241,0:0,2021-04-12,basketball/usa_nba,Los Angeles Clippers,Detroit Pistons,1.15,0,5.69,2

## NBA FALLO SIN FILTRO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
445,0:0,2021-04-12,basketball/usa_nba,Memphis Grizzlies,Indiana Pacers,1.76,0,2.10,2
446,0:0,2021-04-12,basketball/usa_nba,Minnesota Timberwolves,Chicago Bulls,2.63,0,1.52,1
447,0:0,2021-04-12,basketball/usa_nba,Dallas Mavericks,San Antonio Spurs,1.40,0,3.04,2
448,0:0,2021-04-12,basketball/usa_nba,Los Angeles Clippers,Detroit Pistons,1.15,0,5.69,2

## NHL

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
650,00:00,2021-04-12,/hockey/usa/nhl/boston-bruins-washington-capit...,Boston Bruins,Washington Capitals,2.68,4.14,2.28,0.512121
651,01:00,2021-04-12,/hockey/usa/nhl/nashville-predators-dallas-sta...,Nashville Predators,Dallas Stars,2.59,4.06,2.36,0.628311
648,00:00,2021-04-12,/hockey/usa/nhl/new-jersey-devils-pittsburgh-p...,New Jersey Devils,Pittsburgh Penguins,3.23,4.41,1.92,0.424109
649,00:00,2021-04-12,/hockey/usa/nhl/new-york-islanders-new-york-ra...,New York Islanders,New York Rangers,2.16,4.17,2.85,0.588377

## NHL CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
339,0:0,2021-04-12,hockey/usa_nhl,Columbus Blue Jackets,Chicago Blackhawks,2.58,4.15,2.36,1
340,0:0,2021-04-12,hockey/usa_nhl,Nashville Predators,Dallas Stars,2.60,4.08,2.35,1
341,0:0,2021-04-12,hockey/usa_nhl,Montreal Canadiens,Toronto Maple Leafs,2.75,4.30,2.18,2

### MLB

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
225,20:15,2021-04-12,/soccer/england/premier-league/brighton-everto...,Brighton,Everton,2.32,3.31,3.33,0.514700
224,18:00,2021-04-12,/soccer/england/premier-league/west-brom-south...,West Brom,Southampton,3.57,3.33,2.20,0.531616
226,19:30,2021-04-12,/soccer/germany/bundesliga/hoffenheim-bayer-le...,Hoffenheim,Bayer Leverkusen,2.97,3.73,2.31,0.526552

### SOCCER CLUSTER FALLO

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
171,0:0,2021-04-12,soccer/england_premier-league,Brighton,Everton,2.30,3.31,3.35,2
172,0:0,2021-04-12,soccer/england_premier-league,Palestino,Everton,2.08,3.30,3.38,2
173,0:0,2021-04-12,soccer/england_premier-league,West Brom,Southampton,3.57,3.30,2.21,1
170,0:0,2021-04-12,soccer/germany_bundesliga,Hoffenheim,Bayer Leverkusen,2.95,3.73,2.32,1

### SOCCER EMPATE SECUENCIA

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
490,19:45,2021-04-12,soccer/france_ligue-2,Guingamp,Toulouse,3.39,3.17,2.24,1-Guingamp-0.32
494,18:00,2021-04-12,soccer/italy_serie-b,Chievo,Pisa,1.93,3.19,4.48,4-Pisa-0.15
492,15:30,2021-04-12,soccer/romania_liga-1,Poli Iasi,FC Hermannstadt,3.42,3.16,2.19,2-FC Hermannstadt-0.13
491,20:00,2021-04-12,soccer/spain_laliga2,Alcorcon,Castellon,2.02,3.04,4.33,1-Alcorcon-0.12
493,17:00,2021-04-12,soccer/turkey_super-lig,Fenerbahce,Gaziantep,1.47,4.50,6.57,1-Gaziantep-0.08

## SOCCER FAVORITO SECUENCIA

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
13,17:00,2021-04-12,soccer/serbia_super-liga,Napredak,Macva,1.31,4.78,8.71,1-Macva--0.12

###  MILAN - ms negativo -77

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
177,2021-04-12,01:00,soccer,mexico,liga-mx,Queretaro,Santos Laguna,TEAM1,0.421608,2.61,100
178,2021-04-12,03:06,soccer,mexico,liga-mx,Club Tijuana,Mazatlan FC,TEAM1,0.504836,1.86,100

### NFL

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
282,16:30,2021-04-12,/hockey/finland/liiga/tappara-karpat-oulu-QDKb...,Tappara,Karpat,2.20,3.78,2.89,0.578897
284,17:30,2021-04-12,/hockey/germany/del/grizzly-wolfsburg-erc-ingo...,Grizzly Wolfsburg,ERC Ingolstadt,2.39,4.06,2.48,0.566264
285,17:30,2021-04-12,/hockey/germany/del/krefeld-pinguine-schwennin...,Krefeld Pinguine,Schwenninger,3.61,4.79,1.71,0.371731
283,17:30,2021-04-12,/hockey/germany/del/nurnberg-ice-tigers-dussel...,Nurnberg Ice Tigers,Dusseldorf,2.73,4.22,2.15,0.477965
286,19:30,2021-04-12,/hockey/germany/del/pinguins-bremerhaven-munch...,Bremerhaven,Munchen,2.85,4.56,2.01,0.460294

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7029,16:00,2021-04-12,/soccer/lithuania/a-lyga/suduva-dziugas-telsia...,Suduva,Dziugas Telsiai,1.34,4.58,7.37,0.850842
7030,18:00,2021-04-12,/soccer/lithuania/a-lyga/riteriai-nevezis-keda...,Riteriai,Nevezis Kedainiai,1.81,3.67,3.68,0.764094
7025,17:00,2021-04-12,/soccer/serbia/super-liga/vojvodina-fk-zlatibo...,Vojvodina,Zlatibor Cajetina,1.27,5.48,8.89,0.726341
7027,17:00,2021-04-12,/soccer/serbia/super-liga/napredak-macva-sabac...,Napredak,Macva,1.31,4.78,8.71,0.648187
7023,15:00,2021-04-12,/soccer/serbia/super-liga/indjija-backa-6B0Ux9u0/,FK Indjija,Backa,1.75,3.61,4.15,0.638337
7026,17:00,2021-04-12,/soccer/serbia/super-liga/radnik-surdulica-met...,Radnik,Metalac,1.84,3.46,3.91,0.625016
7022,17:30,2021-04-12,/soccer/bulgaria/parva-liga/beroe-etar-rJvBEJOK/,Beroe,Etar,1.40,4.37,7.69,0.621497
7024,17:00,2021-04-12,/soccer/serbia/super-liga/rad-beograd-novi-paz...,Rad Beograd,Novi Pazar,1.77,3.53,4.18,0.549256
7020,18:00,2021-04-12,/soccer/england/premier-league/west-brom-south...,West Brom,Southampton,3.57,3.33,2.20,0.531616
7018,19:45,2021-04-12,/soccer/italy/serie-a/benevento-sassuolo-2sYIV...,Benevento,Sassuolo,3.50,3.58,2.12,0.520035
7021,20:15,2021-04-12,/soccer/england/premier-league/brighton-everto...,Brighton,Everton,2.32,3.31,3.33,0.514700
7019,20:00,2021-04-12,/soccer/spain/laliga/celta-vigo-sevilla-hUF3Hv9G/,Celta Vigo,Sevilla,3.67,3.41,2.14,0.472306
7028,18:00,2021-04-12,/soccer/sweden/division-1-norra/hammarby-tff-d...,Hammarby TFF,Dalkurd,2.96,3.76,2.05,0.308514

___

## EXPERIMENTAL

### Daily model 53

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
dsp.daily_prediction_model(df_prediccion)

,X,hora,date,area_league,team1,team2,score1,score2,outcome,team1_odds,...,Games.y,Win.y,Draw.y,Loss.y,Lag.y,objetivo,are,league,pronostico,auc
164,0,DRAW,51,19:45,2021-04-12,/soccer/france/ligue-2/guingamp-toulouse-trvz1...,Guingamp,Toulouse,NaN,NaN,...,186.516641,0.150886,5.0,3.0,0.0,2.0,1.0,DRAW,soccer@france,ligue-2
185,0,DRAW,58,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,NaN,NaN,...,255.045209,0.149886,1.0,0.0,1.0,0.0,5.0,DRAW,soccer@romania,liga-1
186,1,DRAW,58,15:30,2021-04-12,/soccer/romania/liga-1/poli-iasi-fc-hermannsta...,Poli Iasi,FC Hermannstadt,NaN,NaN,...,255.045955,0.149968,1.0,1.0,0.0,0.0,4.0,DRAW,soccer@romania,liga-1
192,0,DRAW,59,17:00,2021-04-12,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,Hap. Ramat Gan,NaN,NaN,...,144.618399,0.149349,8.0,2.0,5.0,1.0,1.0,DRAW,soccer@israel,leumit-league
193,1,DRAW,59,17:00,2021-04-12,/soccer/israel/leumit-league/h-raanana-hapoel-...,H. Raanana,H. Akko,NaN,NaN,...,169.419353,0.149578,8.0,0.0,2.0,6.0,1.0,DRAW,soccer@israel,leumit-league
195,0,DRAW,49,18:00,2021-04-12,/soccer/italy/serie-b/chievo-pisa-bkiw1cGi/,Chievo,Pisa,NaN,NaN,...,201.777082,0.150129,4.0,1.0,0.0,3.0,1.0,DRAW,soccer@italy,serie-b
196,0,DRAW,51,18:00,2021-04-12,/soccer/germany/3-liga/meppen-wehen-lOiLfxBo/,Meppen,Wehen,NaN,NaN,...,266.923073,0.149944,1.0,0.0,1.0,0.0,4.0,DRAW,soccer@germany,3-liga
204,0,DRAW,52,01:00,2021-04-12,/soccer/mexico/liga-mx/queretaro-santos-laguna...,Queretaro,Santos Laguna,NaN,NaN,...,153.581580,0.150033,10.0,5.0,2.0,3.0,1.0,DRAW,soccer@mexico,liga-mx
205,1,DRAW,52,03:06,2021-04-12,/soccer/mexico/liga-mx/club-tijuana-mazatlan-f...,Club Tijuana,Mazatlan FC,NaN,NaN,...,155.811779,0.149920,10.0,3.0,1.0,6.0,2.0,DRAW,soccer@mexico,liga-mx
165,0,DRAW,48,18:00,2021-04-12,/soccer/sweden/division-1-norra/hammarby-tff-d...,Hammarby TFF,Dalkurd,NaN,NaN,...,266.923073,0.149944,1.0,0.0,1.0,0.0,0.0,TEAM1,soccer@sweden,division-1-norra
166,0,DRAW,49,18:00,2021-04-12,/soccer/germany/3-liga/meppen-wehen-lOiLfxBo/,Meppen,Wehen,NaN,NaN,...,266.923073,0.149944,1.0,0.0,1.0,0.0,4.0,TEAM1,soccer@germany,3-liga
172,0,DRAW,56,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,NaN,NaN,...,255.045209,0.149886,1.0,0.0,1.0,0.0,5.0,TEAM1,soccer@romania,liga-1
173,1,DRAW,56,15:30,2021-04-12,/soccer/romania/liga-1/poli-iasi-fc-hermannsta...,Poli Iasi,FC Hermannstadt,NaN,NaN,...,255.045955,0.149968,1.0,1.0,0.0,0.0,4.0,TEAM1,soccer@romania,liga-1
176,0,DRAW,46,15:00,2021-04-12,/soccer/serbia/super-liga/indjija-backa-6B0Ux9u0/,FK Indjija,Backa,NaN,NaN,...,171.364846,0.149431,8.0,0.0,2.0,6.0,1.0,TEAM1,soccer@serbia,super-liga
177,1,DRAW,46,17:00,2021-04-12,/soccer/serbia/super-liga/rad-beograd-novi-paz...,Rad Beograd,Novi Pazar,NaN,NaN,...,151.647881,0.150138,8.0,4.0,0.0,4.0,2.0,TEAM1,soccer@serbia,super-liga
178,2,DRAW,46,17:00,2021-04-12,/soccer/serbia/super-liga/radnik-surdulica-met...,Radnik,Metalac,NaN,NaN,...,156.793860,0.149392,8.0,2.0,3.0,3.0,0.0,TEAM1,soccer@serbia,super-liga
179,0,DRAW,54,17:00,2021-04-12,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,Hap. Ramat Gan,NaN,NaN,...,144.618399,0.149349,8.0,2.0,5.0,1.0,1.0,TEAM1,soccer@israel,leumit-league
180,1,DRAW,54,17:00,2021-04-12,/soccer/israel/leumit-league/h-raanana-hapoel-...,H. Raanana,H. Akko,NaN,NaN,...,169.419353,0.149578,8.0,0.0,2.0,6.0,1.0,TEAM1,soccer@israel,leumit-league
182,0,DRAW,52,19:45,2021-04-12,/soccer/france/ligue-2/guingamp-toulouse-trvz1...,Guingamp,Toulouse,NaN,NaN,...,186.516641,0.150886,5.0,3.0,0.0,2.0,1.0,TEAM1,soccer@france,ligue-2
184,0,DRAW,52,19:30,2021-04-12,/soccer/germany/bundesliga/hoffenheim-bayer-le...,Hoffenheim,Bayer Leverkusen,NaN,NaN,...,222.503247,0.149934,2.0,1.0,0.0,1.0,2.0,TEAM1,soccer@germany,bundesliga
187,0,DRAW,50,01:00,2021-04-12,/soccer/mexico/liga-mx/queretaro-santos-laguna...,Queretaro,Santos Laguna,NaN,NaN,...,153.581580,0.150033,10.0,5.0,2.0,3.0,1.0,TEAM1,soccer@mexico,liga-mx
188,1,DRAW,50,03:06,2021-04-12,/soccer/mexico/liga-mx/club-tijuana-mazatlan-f...,Club Tijuana,Mazatlan FC,NaN,NaN,...,155.811779,0.149920,10.0,3.0,1.0,6.0,2.0,TEAM1,soccer@mexico,liga-mx
189,0,DRAW,51,18:00,2021-04-12,/soccer/italy/serie-b/chievo-pisa-bkiw1cGi/,Chievo,Pisa,NaN,NaN,...,201.777082,0.150129,4.0,1.0,0.0,3.0,1.0,TEAM1,soccer@italy,serie-b
190,0,DRAW,49,20:15,2021-04-12,/soccer/england/premier-league/brighton-everto...,Brighton,Everton,NaN,NaN,...,215.162759,0.149804,3.0,0.0,1.0,2.0,1.0,TEAM1,soccer@england,premier-league
191,1,DRAW,49,18:00,2021-04-12,/soccer/england/premier-league/west-brom-south...,West Brom,Southampton,NaN,NaN,...,202.154764,0.150368,4.0,2.0,0.0,2.0,2.0,TEAM1,soccer@england,premier-league
194,0,DRAW,51,18:00,2021-04-12,/soccer/sweden/superettan/vasteras-sk-afc-eski...,Vasteras SK,AFC Eskilstuna,NaN,NaN,...,162.624746,0.150662,7.0,4.0,0.0,3.0,0.0,TEAM1,soccer@sweden,superettan
197,0,DRAW,50,17:00,2021-04-12,/soccer/poland/ekstraklasa/piast-gliwice-gorni...,Piast Gliwice,Gornik Z.,NaN,NaN,...,161.345870,0.149477,7.0,2.0,2.0,3.0,1.0,TEAM1,soccer@poland,ekstraklasa
198,0,DRAW,52,17:30,2021-04-12,/soccer/greece/super-league/giannina-lamia-pMZ...,Giannina,Lamia,NaN,NaN,...,176.103405,0.149785,5.0,2.0,2.0,1.0,1.0,TEAM1,soccer@greece,super-league
199,0,DRAW,80,18:00,2021-04-12,/soccer/lithuania/a-lyga/riteriai-nevezis-keda...,Riteriai,Nevezis Kedainiai,NaN,NaN,...,242.650777,0.149858,2.0,0.0,0.0,2.0,1.0,TEAM1,soccer@lithuania,a-lyga
201,0,DRAW,57,15:00,2021-04-12,/soccer/serbia/prva-liga/jagodina-dubocica-zo9...,Jagodina,Dubocica,NaN,NaN,...,183.048802,0.150354,5.0,2.0,0.0,3.0,0.0,TEAM1,soccer@serbia,prva-liga
202,1,DRAW,57,15:00,2021-04-12,/soccer/serbia/prva-liga/loznica-imt-novi-beog...,Loznica,IMT Novi Beograd,NaN,NaN,...,191.870311,0.149937,4.0,2.0,1.0,1.0,1.0,TEAM1,soccer@serbia,prva-liga
203,2,DRAW,57,18:00,2021-04-12,/soccer/serbia/prva-liga/kolubara-graficar-beo...,Kolubara,Graficar Beograd,NaN,NaN,...,188.911247,0.149752,4.0,1.0,1.0,2.0,0.0,TEAM1,soccer@serbia,prva-liga
167,0,DRAW,55,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,NaN,NaN,...,255.045209,0.149886,1.0,0.0,1.0,0.0,5.0,TEAM2,soccer@romania,liga-1
168,1,DRAW,55,15:30,2021-04-12,/soccer/romania/liga-1/poli-iasi-fc-hermannsta...,Poli Iasi,FC Hermannstadt,NaN,NaN,...,255.045955,0.149968,1.0,1.0,0.0,0.0,4.0,TEAM2,soccer@romania,liga-1
169,0,DRAW,51,15:00,2021-04-12,/soccer/serbia/super-liga/indjija-backa-6B0Ux9u0/,FK Indjija,Backa,NaN,NaN,...,171.364846,0.149431,8.0,0.0,2.0,6.0,1.0,TEAM2,soccer@serbia,super-liga
170,1,DRAW,51,17:00,2021-04-12,/soccer/serbia/super-liga/rad-beograd-novi-paz...,Rad Beograd,Novi Pazar,NaN,NaN,...,151.647881,0.150138,8.0,4.0,0.0,4.0,2.0,TEAM2,soccer@serbia,super-liga
171,2,DRAW,51,17:00,2021-04-12,/soccer/serbia/super-liga/radnik-surdulica-met...,Radnik,Metalac,NaN,NaN,...,156.793860,0.149392,8.0,2.0,3.0,3.0,0.0,TEAM2,soccer@serbia,super-liga
174,0,DRAW,46,18:00,2021-04-12,/soccer/denmark/superliga/lyngby-aalborg-bZOqX...,Lyngby,Aalborg,NaN,NaN,...,266.922960,0.149933,1.0,1.0,0.0,0.0,2.0,TEAM2,soccer@denmark,superliga
175,0,DRAW,49,17:00,2021-04-12,/soccer/poland/ekstraklasa/piast-gliwice-gorni...,Piast Gliwice,Gornik Z.,NaN,NaN,...,161.345870,0.149477,7.0,2.0,2.0,3.0,1.0,TEAM2,soccer@poland,ekstraklasa
181,0,DRAW,44,14:00,2021-04-12,/soccer/turkey/super-lig/kasimpasa-yeni-malaty...,Kasimpasa,Yeni Malatyaspor,NaN,NaN,...,178.310998,0.149518,7.0,0.0,3.0,4.0,0.0,TEAM2,soccer@turkey,super-lig
183,0,DRAW,52,19:45,2021-04-12,/soccer/france/ligue-2/guingamp-toulouse-trvz1...,Guingamp,Toulouse,NaN,NaN,...,186.516641,0.150886,5.0,3.0,0.0,2.0,1.0,TEAM2,soccer@france,ligue-2
200,0,DRAW,50,18:00,2021-04-12,/soccer/germany/3-liga/meppen-wehen-lOiLfxBo/,Meppen,Wehen,NaN,NaN,...,266.923073,0.149944,1.0,0.0,1.0,0.0,4.0,TEAM2,soccer@germany,3-liga
206,0,DRAW,48,20:15,2021-04-12,/soccer/england/premier-league/brighton-everto...,Brighton,Everton,NaN,NaN,...,215.162759,0.149804,3.0,0.0,1.0,2.0,1.0,TEAM2,soccer@england,premier-league
207,1,DRAW,48,18:00,2021-04-12,/soccer/england/premier-league/west-brom-south...,West Brom,Southampton,NaN,NaN,...,202.154764,0.150368,4.0,2.0,0.0,2.0,2.0,TEAM2,soccer@england,premier-league
208,0,DRAW,61,18:00,2021-04-12,/soccer/lithuania/a-lyga/riteriai-nevezis-keda...,Riteriai,Nevezis Kedainiai,NaN,NaN,...,242.650777,0.149858,2.0,0.0,0.0,2.0,1.0,TEAM2,soccer@lithuania,a-lyga

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1155,17:00,2021-04-12,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,Hap. Ramat Gan,2.14,3.17,3.26,DRAW
1161,18:00,2021-04-12,/soccer/lithuania/a-lyga/riteriai-nevezis-keda...,Riteriai,Nevezis Kedainiai,1.81,3.67,3.68,TEAM2
1148,15:30,2021-04-12,/soccer/romania/liga-1/poli-iasi-fc-hermannsta...,Poli Iasi,FC Hermannstadt,3.42,3.16,2.19,TEAM2
1147,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,1.98,3.29,3.89,TEAM2
1149,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,1.98,3.29,3.89,TEAM1

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7560,19:45,2021-04-12,/soccer/france/ligue-2/guingamp-toulouse-trvz1...,Guingamp,Toulouse,3.39,3.17,2.24,DRAW
7570,19:45,2021-04-12,/soccer/france/ligue-2/guingamp-toulouse-trvz1...,Guingamp,Toulouse,3.39,3.17,2.24,TEAM1
7579,18:00,2021-04-12,/soccer/germany/3-liga/meppen-wehen-lOiLfxBo/,Meppen,Wehen,2.98,3.50,2.25,DRAW
7576,17:00,2021-04-12,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,Hap. Ramat Gan,2.14,3.17,3.26,DRAW
7587,18:00,2021-04-12,/soccer/lithuania/a-lyga/riteriai-nevezis-keda...,Riteriai,Nevezis Kedainiai,1.81,3.67,3.68,TEAM2
7586,03:06,2021-04-12,/soccer/mexico/liga-mx/club-tijuana-mazatlan-f...,Club Tijuana,Mazatlan FC,1.86,3.53,4.13,DRAW
7562,15:30,2021-04-12,/soccer/romania/liga-1/poli-iasi-fc-hermannsta...,Poli Iasi,FC Hermannstadt,3.42,3.16,2.19,TEAM2
7561,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,1.98,3.29,3.89,TEAM2
7566,18:30,2021-04-12,/soccer/romania/liga-1/viitorul-constanta-gaz-...,Viitorul Constanta,Gaz Metan Medias,1.98,3.29,3.89,TEAM1
7563,15:00,2021-04-12,/soccer/serbia/super-liga/indjija-backa-6B0Ux9u0/,FK Indjija,Backa,1.75,3.61,4.15,TEAM2
7578,18:00,2021-04-12,/soccer/sweden/superettan/vasteras-sk-afc-eski...,Vasteras SK,AFC Eskilstuna,1.94,3.50,3.81,TEAM1

### Daily predictions machin4 EMPATE

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []