In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

### Simples

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin7")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### ONE-SHOT

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin8")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### DOBLE en secuencia

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin9")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
562,17:00,2020-09-14,/soccer/england/premier-league/sheffield-utd-w...,Sheffield Utd,Wolves,3.44,3.06,2.40,TEAM2
564,16:00,2020-09-14,/soccer/norway/obos-ligaen/jerv-sogndal-0fcnnNDe/,Jerv,Sogndal,3.61,3.73,1.92,TEAM2
563,16:00,2020-09-14,/soccer/norway/obos-ligaen/kongsvinger-asane-6...,Kongsvinger,Asane,2.61,3.61,2.45,TEAM2
559,16:00,2020-09-14,/soccer/norway/obos-ligaen/ranheim-ull-kisa-G4...,Ranheim,Ull/Kisa,1.34,5.46,7.53,TEAM1
561,03:00,2020-09-14,/soccer/usa/mls/san-jose-earthquakes-los-angel...,San Jose Earthquakes,Los Angeles Galaxy,2.93,4.10,2.15,TEAM2
560,01:30,2020-09-14,/soccer/usa/mls/vancouver-whitecaps-montreal-i...,Vancouver Whitecaps,Montreal Impact,2.88,3.48,2.40,TEAM2

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
195,14:00,2020-09-14,/hockey/russia/mhl/krasnaya-armiya-mhl-hc-riga...,Krasnaya Armiya,HC Riga,1.43,5.16,5.33,TEAM1
196,17:00,2020-09-14,/soccer/denmark/superliga/aarhus-vejle-tUdTWrke/,Aarhus,Vejle,1.61,4.00,5.44,TEAM1
197,17:30,2020-09-14,/soccer/israel/ligat-ha-al/beitar-jerusalem-ha...,Beitar Jerusalem,Hapoel Hadera,1.58,3.70,5.28,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
288,2020-09-14,17:00,soccer,denmark,superliga,Aarhus,Vejle,TEAM1,1.61,311
289,2020-09-14,17:30,soccer,israel,ligat-ha-al,Beitar Jerusalem,Hapoel Hadera,TEAM1,1.58,292
290,2020-09-14,16:00,soccer,norway,obos-ligaen,Ranheim,Ull/Kisa,TEAM1,1.34,132
287,2020-09-14,14:00,hockey,russia,mhl,Krasnaya Armiya,HC Riga,TEAM1,1.43,154
291,2020-09-14,16:30,hockey,russia,vhl,HC Rostov,Bars,TEAM2,2.05,111

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
96,2020-09-14,17:00,soccer,denmark,superliga,Aarhus,Vejle,TEAM1,1.61,404
97,2020-09-14,17:30,soccer,israel,ligat-ha-al,Beitar Jerusalem,Hapoel Hadera,TEAM1,1.58,379
98,2020-09-14,16:00,soccer,norway,obos-ligaen,Ranheim,Ull/Kisa,TEAM1,1.34,17
95,2020-09-14,14:00,hockey,russia,mhl,Krasnaya Armiya,HC Riga,TEAM1,1.43,200

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
67,2020-09-14,16:00,soccer,norway,obos-ligaen,Ranheim,Ull/Kisa,TEAM1,1.34,1000

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
227,2020-09-14,23:35,baseball,usa,mlb,Baltimore Orioles,Atlanta Braves,12.5,1.5,100,0.674763

### MLB

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
0,2020-09-14,00:00,soccer,mexico,liga-mx,Queretaro,Club Leon,TEAM1,0.433889,3.27,100
1,2020-09-14,02:06,soccer,mexico,liga-mx,Club Tijuana,Cruz Azul,TEAM1,0.377752,3.14,100

### NFL

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
0,2020-09-14,00:20,american-football,usa,nfl,Los Angeles Rams,Dallas Cowboys,TEAM1,0.591485,1.91,100

### Daily predictions machin3.

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
225,10:00,2020-09-14,/soccer/china/super-league/henan-jianye-shenzh...,Henan Jianye,Shenzhen,3.98,3.75,1.84,TEAM1
226,15:30,2020-09-14,/soccer/finland/veikkausliiga/hifk-inter-turku...,HIFK,Inter Turku,3.85,3.39,1.98,TEAM1

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2499,16:00,2020-09-14,/soccer/norway/obos-ligaen/raufoss-grorud-U3zq...,Raufoss,Grorud,1.98,3.67,3.44,0.787023
2493,16:30,2020-09-14,/soccer/bulgaria/parva-liga/slavia-sofia-beroe...,Slavia Sofia,Beroe,3.89,3.57,1.80,0.609509
2498,16:00,2020-09-14,/soccer/norway/obos-ligaen/ranheim-ull-kisa-G4...,Ranheim,Ull/Kisa,1.34,5.46,7.53,0.591975
2488,01:30,2020-09-14,/soccer/usa/mls/vancouver-whitecaps-montreal-i...,Vancouver Whitecaps,Montreal Impact,2.88,3.48,2.40,0.521770
2494,15:00,2020-09-14,/soccer/norway/obos-ligaen/strommen-ham-kam-dd...,Strommen,Ham-Kam,2.30,3.56,2.86,0.520679
2491,17:00,2020-09-14,/soccer/england/premier-league/sheffield-utd-w...,Sheffield Utd,Wolves,3.44,3.06,2.40,0.495799
2487,00:30,2020-09-14,/soccer/usa/mls/sporting-kansas-city-minnesota...,Sporting Kansas City,Minnesota United,1.66,4.31,4.62,0.489063
2492,19:15,2020-09-14,/soccer/england/premier-league/brighton-chelse...,Brighton,Chelsea,5.39,4.34,1.62,0.487858
2489,03:00,2020-09-14,/soccer/usa/mls/los-angeles-fc-portland-timber...,Los Angeles FC,Portland Timbers,1.46,5.09,5.93,0.478439
2496,16:00,2020-09-14,/soccer/norway/obos-ligaen/kongsvinger-asane-6...,Kongsvinger,Asane,2.61,3.61,2.45,0.467871
2490,03:00,2020-09-14,/soccer/usa/mls/san-jose-earthquakes-los-angel...,San Jose Earthquakes,Los Angeles Galaxy,2.93,4.10,2.15,0.442470
2497,16:00,2020-09-14,/soccer/norway/obos-ligaen/jerv-sogndal-0fcnnNDe/,Jerv,Sogndal,3.61,3.73,1.92,0.425450
2486,19:15,2020-09-14,/soccer/iceland/pepsideild/grotta-fjolnir-EuYT...,Grotta,Fjolnir,2.74,3.66,2.31,0.339345
2495,16:00,2020-09-14,/soccer/norway/obos-ligaen/oygarden-fk-kfum-os...,Oygarden,KFUM Oslo,3.74,3.65,1.88,0.236365
2500,16:00,2020-09-14,/soccer/norway/obos-ligaen/stjordals-blink-san...,Stjordals Blink,Sandnes,2.22,3.83,2.83,0.211858

___

## EXPERIMENTAL

### Daily model 53

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
186,18:00,2020-09-14,/soccer/romania/liga-1/viitorul-constanta-cs-u...,Viitorul Constanta,U Craiova,2.99,3.11,2.45,TEAM2

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1530,15:30,2020-09-14,/soccer/finland/veikkausliiga/lahti-kups-n92Qh...,Lahti,KuPS,3.91,3.65,1.89,TEAM2
1529,15:00,2020-09-14,/soccer/finland/veikkausliiga/tps-mariehamn-WM...,TPS,Mariehamn,2.48,3.41,2.75,TEAM2
1532,18:00,2020-09-14,/soccer/romania/liga-1/viitorul-constanta-cs-u...,Viitorul Constanta,U Craiova,2.99,3.11,2.45,TEAM2
1533,10:30,2020-09-14,/soccer/south-korea/k-league-2/suwon-city-buch...,Suwon City,Bucheon FC 1995,1.7,3.69,4.62,TEAM2

### Daily predictions machin4 EMPATE

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []