In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
353,2021-01-29,17:00,soccer,czech-republic,1-liga,Mlada Boleslav,Sigma Olomouc,X2,3.03,187.0
352,2021-01-29,19:45,soccer,italy,serie-a,Torino,Fiorentina,X2,2.70,135.0
354,2021-01-29,00:30,basketball,usa,nba,Houston Rockets,Portland Trail Blazers,UNDER-234,1.58,100.0
355,2021-01-29,0:0,hockey,usa,nhl,Buffalo Sabres,New York Rangers,1,2.55,200.0
356,2021-01-29,0:0,hockey,usa,nhl,Columbus Blue Jackets,Florida Panthers,2,2.57,200.0
357,2021-01-29,0:0,hockey,usa,nhl,Montreal Canadiens,Calgary Flames,1,2.24,200.0

### Premium

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
710,2021-01-29,20:00,soccer,spain,laliga,Valladolid,Huesca,TEAM2,1.000000,3.27,100
711,2021-01-29,01:00,basketball,usa,nba,Detroit Pistons,Los Angeles Lakers,OVER,0.658891,1.90,100

### Criterio

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
931,2021-01-29,19:45,soccer,belgium,jupiler-league,Antwerp,Waasland-Beveren,TEAM1,1.41,146
930,2021-01-29,16:00,hockey,czech-republic,extraliga,Mountfield HK,Ceske Budejovice,TEAM1,1.45,202
932,2021-01-29,20:00,soccer,france,ligue-1,Lyon,Bordeaux,TEAM1,1.45,202
933,2021-01-29,03:00,soccer,mexico,liga-mx,U.A.N.L.- Tigres,Necaxa,TEAM1,1.55,308
934,2021-01-29,20:00,soccer,spain,laliga,Valladolid,Huesca,TEAM2,3.27,141

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1689,20:00,2021-01-29,/soccer/spain/laliga/valladolid-huesca-QPArFinP/,Valladolid,Huesca,2.41,3.16,3.27,TEAM2

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
920,16:00,2021-01-29,/hockey/czech-republic/extraliga/mountfield-hk...,Mountfield HK,Ceske Budejovice,1.45,5.17,5.43,TEAM1
921,19:45,2021-01-29,/soccer/belgium/jupiler-league/antwerp-waaslan...,Antwerp,Waasland-Beveren,1.41,4.75,7.16,TEAM1
922,20:00,2021-01-29,/soccer/france/ligue-1/lyon-bordeaux-KAjFXPMu/,Lyon,Bordeaux,1.45,4.75,7.08,TEAM1
923,03:00,2021-01-29,/soccer/mexico/liga-mx/u-a-n-l-tigres-necaxa-E...,U.A.N.L.- Tigres,Necaxa,1.55,3.75,6.60,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
606,2021-01-29,00:30,basketball,usa,nba,Houston Rockets,Portland Trail Blazers,234.0,1.58,100,0.394742
607,2021-01-29,01:00,basketball,usa,nba,Detroit Pistons,Los Angeles Lakers,218.5,1.57,100,0.658891
608,2021-01-29,01:00,basketball,usa,nba,Miami Heat,Los Angeles Clippers,218.0,1.60,100,0.450744
609,2021-01-29,03:00,basketball,usa,nba,Phoenix Suns,Golden State Warriors,224.5,1.58,100,0.470774
610,2021-01-29,00:00,hockey,usa,nhl,Boston Bruins,Pittsburgh Penguins,6.5,1.43,100,0.622378
611,2021-01-29,02:00,hockey,usa,nhl,Arizona Coyotes,Anaheim Ducks,6.0,1.38,100,0.376085
612,2021-01-29,03:00,hockey,usa,nhl,Vancouver Canucks,Ottawa Senators,7.0,1.40,100,0.545755

## NBA

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
161,01:00,2021-01-29,/basketball/usa/nba/detroit-pistons-los-angele...,Detroit Pistons,Los Angeles Lakers,3.32,0,1.36,0.299824
160,00:30,2021-01-29,/basketball/usa/nba/houston-rockets-portland-t...,Houston Rockets,Portland Trail Blazers,1.51,0,2.68,0.543197
162,01:00,2021-01-29,/basketball/usa/nba/miami-heat-los-angeles-cli...,Miami Heat,Los Angeles Clippers,1.52,0,2.65,0.393035
163,03:00,2021-01-29,/basketball/usa/nba/phoenix-suns-golden-state-...,Phoenix Suns,Golden State Warriors,1.85,0,2.01,0.497390

## NBA CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
44,0:0,2021-01-29,basketball/usa_nba,Detroit Pistons,Los Angeles Lakers,5.01,0,1.18,1

## NBA FALLO SIN FILTRO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
87,0:0,2021-01-29,basketball/usa_nba,Phoenix Suns,Golden State Warriors,1.88,0,1.95,2
88,0:0,2021-01-29,basketball/usa_nba,Houston Rockets,Portland Trail Blazers,1.55,0,2.53,2
89,0:0,2021-01-29,basketball/usa_nba,Miami Heat,Los Angeles Clippers,1.48,0,2.73,2
90,0:0,2021-01-29,basketball/usa_nba,Detroit Pistons,Los Angeles Lakers,5.01,0,1.18,1

## NHL

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
113,02:00,2021-01-29,/hockey/usa/nhl/arizona-coyotes-anaheim-ducks-...,Arizona Coyotes,Anaheim Ducks,2.17,4.09,2.89,0.534573
103,00:00,2021-01-29,/hockey/usa/nhl/boston-bruins-pittsburgh-pengu...,Boston Bruins,Pittsburgh Penguins,2.23,4.17,2.77,0.572445
104,00:00,2021-01-29,/hockey/usa/nhl/buffalo-sabres-new-york-ranger...,Buffalo Sabres,New York Rangers,2.61,4.22,2.31,0.567088
107,00:00,2021-01-29,/hockey/usa/nhl/carolina-hurricanes-tampa-bay-...,Carolina Hurricanes,Tampa Bay Lightning,2.98,4.34,2.06,0.405496
112,02:00,2021-01-29,/hockey/usa/nhl/colorado-avalanche-san-jose-sh...,Colorado Avalanche,San Jose Sharks,1.68,4.69,4.07,0.597793
108,00:00,2021-01-29,/hockey/usa/nhl/columbus-blue-jackets-florida-...,Columbus Blue Jackets,Florida Panthers,2.39,4.10,2.54,0.494682
111,01:30,2021-01-29,/hockey/usa/nhl/dallas-stars-detroit-red-wings...,Dallas Stars,Detroit Red Wings,1.85,4.31,3.56,0.746119
114,03:00,2021-01-29,/hockey/usa/nhl/edmonton-oilers-toronto-maple-...,Edmonton Oilers,Toronto Maple Leafs,2.74,4.31,2.19,0.486475
110,01:00,2021-01-29,/hockey/usa/nhl/minnesota-wild-los-angeles-kin...,Minnesota Wild,Los Angeles Kings,1.95,4.20,3.32,0.539072
109,00:00,2021-01-29,/hockey/usa/nhl/montreal-canadiens-calgary-fla...,Montreal Canadiens,Calgary Flames,2.24,4.20,2.71,0.588996
105,00:00,2021-01-29,/hockey/usa/nhl/new-jersey-devils-philadelphia...,New Jersey Devils,Philadelphia Flyers,3.11,4.32,2.00,0.585255
115,03:00,2021-01-29,/hockey/usa/nhl/vancouver-canucks-ottawa-senat...,Vancouver Canucks,Ottawa Senators,2.00,4.39,3.06,0.639028
116,02:00,2021-01-29,/hockey/usa/nhl/vegas-golden-knights-st-louis-...,Vegas Golden Knights,St. Louis Blues,2.06,4.35,3.00,0.645799
106,00:00,2021-01-29,/hockey/usa/nhl/washington-capitals-new-york-i...,Washington Capitals,New York Islanders,2.83,4.07,2.20,0.408050

## NHL CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
27,0:0,2021-01-29,hockey/usa_nhl,Buffalo Sabres,New York Rangers,2.55,4.22,2.35,1
28,0:0,2021-01-29,hockey/usa_nhl,Columbus Blue Jackets,Florida Panthers,2.37,4.10,2.57,2
29,0:0,2021-01-29,hockey/usa_nhl,Montreal Canadiens,Calgary Flames,2.24,4.21,2.71,1

### MLB

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
21,19:30,2021-01-29,/soccer/germany/bundesliga/vfb-stuttgart-mainz...,Stuttgart,Mainz,1.74,4.07,4.57,0.578598

### SOCCER CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
16,0:0,2021-01-29,soccer/germany_bundesliga,Stuttgart,Mainz,1.74,4.07,4.58,2

### SOCCER EMPATE SECUENCIA

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
163,19:00,2021-01-29,soccer/brazil_serie-b,Figueirense,Ponte Preta,2.55,3.19,2.67,4-Figueirense-0.01
166,20:00,2021-01-29,soccer/brazil_serie-b,Sampaio Correa,Oeste,1.77,3.57,4.16,6-Oeste-0
165,19:45,2021-01-29,soccer/italy_serie-a,Torino,Fiorentina,2.80,3.23,2.70,4-Fiorentina-0.19
167,20:00,2021-01-29,soccer/italy_serie-b,L.R. Vicenza,Venezia,2.97,2.85,2.71,2-Venezia-0.13
164,22:15,2021-01-29,soccer/uruguay_primera-division,Boston River,Cerro Largo,2.71,2.93,2.71,2-Boston River-0.15

## SOCCER FAVORITO SECUENCIA

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
93,2021-01-29,03:00,soccer,mexico,liga-mx,U.A.N.L.- Tigres,Necaxa,TEAM1,0.630483,1.55,100

### NFL

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
65,16:00,2021-01-29,/hockey/finland/liiga/assat-pori-ilves-tampere...,Assat,Ilves,2.66,4.17,2.23,0.515475
69,16:30,2021-01-29,/hockey/finland/liiga/hameenlinna-kalpa-kuopio...,Hameenlinna,KalPa,3.60,4.21,1.82,0.407235
68,16:30,2021-01-29,/hockey/finland/liiga/ifk-helsinki-tps-turku-n...,IFK Helsinki,TPS Turku,1.74,4.46,3.77,0.545585
66,16:30,2021-01-29,/hockey/finland/liiga/jukurit-kookoo-QHGHYXlr/,Jukurit,KooKoo,5.26,4.95,1.49,0.446044
67,16:30,2021-01-29,/hockey/finland/liiga/jyp-jyvaskyla-tappara-Sz...,JYP,Tappara,5.19,5.11,1.48,0.433751
70,16:30,2021-01-29,/hockey/finland/liiga/vaasan-sport-saipa-hMy1X...,Vaasan Sport,SaiPa,1.94,4.00,3.36,0.548858

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
18,0:0,2021-01-29,hockey/finland_liiga,Assat,Ilves,2.67,4.17,2.23,1
19,0:0,2021-01-29,hockey/finland_liiga,Vaasan Sport,SaiPa,1.95,3.98,3.34,2
20,0:0,2021-01-29,hockey/finland_liiga,Hameenlinna,KalPa,3.60,4.19,1.82,1

### Daily predictions machin3.

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5515,16:00,2021-01-29,/soccer/world/club-friendly/sturm-graz-wacker-...,Sturm Graz (Aut),Wacker Innsbruck (Aut),1.65,4.10,3.50,0.904774
5507,20:00,2021-01-29,/soccer/spain/laliga/valladolid-huesca-QPArFinP/,Valladolid,Huesca,2.41,3.16,3.27,0.530655
5512,13:00,2021-01-29,/soccer/world/club-friendly/fc-liefering-a-kla...,Liefering (Aut),A. Klagenfurt (Aut),2.10,3.75,2.79,0.525719
5513,13:00,2021-01-29,/soccer/world/club-friendly/fredericia-skive-i...,Fredericia (Den),Skive IK (Den),1.69,4.00,3.83,0.525719
5509,13:00,2021-01-29,/soccer/world/club-friendly/helsingor-brondby-...,Helsingor (Den),Brondby (Den),4.41,4.08,1.59,0.525719
5510,13:00,2021-01-29,/soccer/world/club-friendly/midtjylland-esbjer...,Midtjylland (Den),Esbjerg (Den),1.78,3.88,3.53,0.525719
5508,11:30,2021-01-29,/soccer/world/club-friendly/pirin-blagoevgrad-...,Pirin Blagoevgrad (Bul),CSKA Sofia (Bul),3.82,3.79,1.73,0.525719
5514,13:00,2021-01-29,/soccer/world/club-friendly/trencin-l-mikulas-...,Trencin (Svk),L. Mikulas (Svk),1.57,4.27,4.27,0.525719
5511,13:00,2021-01-29,/soccer/world/club-friendly/vorwarts-steyr-flo...,Vorwarts Steyr (Aut),Floridsdorfer AC (Aut),2.79,3.90,2.05,0.525719

___

## EXPERIMENTAL

### Daily model 53

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []