In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
89,10:00,23/05/2021,soccer/england_premier-league,Manchester City,Everton,1.43,5.13,7.09,1-Manchester City--0.5

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
157,22/05/2021,21:30,basketball,usa,nba,Denver Nuggets,Portland Trail Blazers,227.0,1.9,100,UNDER
159,23/05/2021,12:00,basketball,usa,nba,Philadelphia 76ers,Washington Wizards,229.0,1.9,100,UNDER
158,23/05/2021,14:30,basketball,usa,nba,Phoenix Suns,Los Angeles Lakers,213.5,1.9,100,OVER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
45,22/05/2021,18:15,baseball,usa,mlb,St.Louis Cardinals,Chicago Cubs,8.5,1.9,100,UNDER

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
103,22/05/2021,19:00,soccer,usa,mls,New England Revolution,New York Red Bulls,2.75,1.9,100,OVER
102,23/05/2021,10:00,soccer,england,premier-league,Arsenal,Brighton,2.75,1.9,100,OVER
104,23/05/2021,10:00,soccer,england,premier-league,Liverpool,Crystal Palace,3.50,1.9,100,OVER
106,23/05/2021,10:00,soccer,england,premier-league,Leeds,West Brom,3.50,1.9,100,OVER
105,23/05/2021,13:45,soccer,italy,serie-a,Sassuolo,Lazio,3.50,1.9,100,OVER
107,23/05/2021,15:30,soccer,usa,mls,Seattle Sounders,Atlanta Utd,2.75,1.9,100,UNDER

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_hp")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
93,22/05/2021,19:00,soccer,usa,mls,New England Revolution,New York Red Bulls,-0.75,1.9,100,New England Revolution
92,23/05/2021,10:00,soccer,england,premier-league,West Ham,Southampton,-0.75,1.9,100,West Ham
91,23/05/2021,14:30,basketball,usa,nba,Phoenix Suns,Los Angeles Lakers,3.00,1.9,100,Los Angeles Lakers

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
53,23/05/2021,07:00,soccer,sweden,superettan,Norrby,AFC Eskilstuna,3-Norrby-0.12,1.90,100,FT_EMPATE
55,23/05/2021,14:00,soccer,france,ligue-1,Reims,Bordeaux,2-Reims-0.42,2.93,100,EMPATE

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_model2_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
31,22/05/2021,20:00,soccer,mexico,liga-mx,Cruz Azul,Pachuca,TEAM1,1.91,100,TEAM1
32,23/05/2021,02:00,soccer,south-korea,k-league-2,Jeonnam,Busan,TEAM1,2.24,100,TEAM1
33,23/05/2021,04:30,soccer,south-korea,k-league-2,Anyang,Gimcheon Sangmu,TEAM1,2.48,100,TEAM1

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_model_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
3818,05:15,23/05/2021,soccer@netherlands,eredivisie,Feyenoord,Utrecht,2.16,3.59,3.23,TEAM2,-51.809396,58
3766,06:45,23/05/2021,soccer@england,national-league,Sutton,Hartlepool,2.27,3.29,3.08,TEAM2,-72.854325,53

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=5)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
3764,19:00,22/05/2021,soccer@panama,lpf,Deportivo Universitario,Veraguas,2.92,3.42,2.30,TEAM2,-128.418901,52
3784,20:00,22/05/2021,soccer@mexico,liga-mx,Cruz Azul,Pachuca,1.91,3.29,4.21,TEAM1,-61.200576,50
3779,02:00,23/05/2021,soccer@south-korea,k-league-2,Jeonnam,Busan,2.24,3.05,3.30,TEAM1,227.714234,47
3850,04:30,23/05/2021,soccer@south-korea,k-league-2,Anyang,Gimcheon Sangmu,2.48,3.10,2.84,TEAM2,113.638634,52
3818,05:15,23/05/2021,soccer@netherlands,eredivisie,Feyenoord,Utrecht,2.16,3.59,3.23,TEAM2,-51.809396,58
3846,06:30,23/05/2021,soccer@england,league-two,Morecambe,Tranmere,2.59,3.20,2.78,TEAM2,235.870034,48
3767,06:30,23/05/2021,soccer@england,league-two,Morecambe,Tranmere,2.59,3.20,2.78,TEAM1,235.870034,50
3766,06:45,23/05/2021,soccer@england,national-league,Sutton,Hartlepool,2.27,3.29,3.08,TEAM2,-72.854325,53
3749,08:00,23/05/2021,soccer@sweden,allsvenskan,Halmstad,Degerfors,2.12,3.36,3.58,TEAM1,-155.344290,48
3750,10:30,23/05/2021,soccer@sweden,allsvenskan,Hacken,Varbergs,1.72,3.70,5.01,TEAM1,-180.767307,48

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
841,23/05/2021,08:30,soccer,germany,2-bundesliga,Wurzburger Kickers,Paderborn,X2,1.81,100.0

## NHL CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
470,0:0,2021-05-23,hockey/usa_nhl,Minnesota Wild,Vegas Golden Knights,2.61,4.08,2.34,1
471,0:0,2021-05-23,hockey/usa_nhl,Winnipeg Jets,Edmonton Oilers,2.63,4.13,2.32,1
472,0:0,2021-05-23,hockey/usa_nhl,Washington Capitals,Boston Bruins,2.77,4.06,2.22,2

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl_original")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
73,0:0,2021-05-23,hockey/usa_nhl,Minnesota Wild,Vegas Golden Knights,2.61,4.08,2.34,1
74,0:0,2021-05-23,hockey/usa_nhl,Winnipeg Jets,Edmonton Oilers,2.63,4.13,2.32,1
75,0:0,2021-05-23,hockey/usa_nhl,Washington Capitals,Boston Bruins,2.77,4.06,2.22,2

### TAN!! SPECIAL SELECTION

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2424,06:00,23/05/2021,/soccer/sweden/division-1-norra/hudiksvalls-pi...,Hudiksvalls,Pitea,1.78,3.54,3.87,TEAM1
2415,08:00,23/05/2021,/soccer/italy/serie-a/inter-udinese-tQpRzYOc/,Inter,Udinese,1.40,5.42,7.24,TEAM1
2423,08:00,23/05/2021,/soccer/sweden/division-1-norra/dalkurd-ifk-lu...,Dalkurd,IFK Lulea,1.32,5.34,7.54,TEAM1
2419,10:00,23/05/2021,/soccer/england/premier-league/arsenal-brighto...,Arsenal,Brighton,1.66,4.26,5.05,TEAM1
2420,10:00,23/05/2021,/soccer/england/premier-league/leeds-west-brom...,Leeds,West Brom,1.44,5.29,6.60,TEAM1
2421,10:00,23/05/2021,/soccer/england/premier-league/liverpool-cryst...,Liverpool,Crystal Palace,1.16,8.67,17.68,TEAM1
2422,10:00,23/05/2021,/soccer/england/premier-league/manchester-city...,Manchester City,Everton,1.43,5.13,7.09,TEAM1
2416,13:45,23/05/2021,/soccer/italy/serie-a/napoli-verona-OlzWZiv4/,Napoli,Verona,1.21,7.28,13.75,TEAM1
2417,14:00,23/05/2021,/soccer/spain/laliga/sevilla-alaves-IyuY2fCD/,Sevilla,Alaves,1.53,4.44,6.36,TEAM1
2418,15:30,23/05/2021,/soccer/usa/mls/seattle-sounders-atlanta-unite...,Seattle Sounders,Atlanta Utd,1.66,3.75,5.41,TEAM1

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
238,12:00,2021-05-23,/soccer/sweden/division-1-norra/hudiksvalls-pi...,Hudiksvalls,Pitea,1.78,3.54,3.87,0.254918

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1630,2021-05-23,16:00,soccer,england,premier-league,Arsenal,Brighton,TEAM1,1.000000,1.66,100
1631,2021-05-23,16:00,soccer,england,premier-league,Leeds,West Brom,TEAM1,1.000000,1.44,100
1632,2021-05-23,16:00,soccer,england,premier-league,Liverpool,Crystal Palace,TEAM1,1.000000,1.16,100
1633,2021-05-23,16:00,soccer,england,premier-league,Manchester City,Everton,TEAM1,1.000000,1.43,100
1625,2021-05-23,14:30,soccer,germany,2-bundesliga,Bochum,Sandhausen,X2,1.000000,4.51,100
1626,2021-05-23,14:30,soccer,germany,2-bundesliga,Wurzburger Kickers,Paderborn,X2,1.000000,1.81,100
1627,2021-05-23,14:00,soccer,italy,serie-a,Inter,Udinese,TEAM1,1.000000,1.40,100
1628,2021-05-23,19:45,soccer,italy,serie-a,Napoli,Verona,TEAM1,1.000000,1.21,100
1629,2021-05-23,20:00,soccer,spain,laliga,Sevilla,Alaves,TEAM1,1.000000,1.53,100
1634,2021-05-23,01:00,basketball,usa,nba,Brooklyn Nets,Boston Celtics,OVER,0.646985,1.90,100
1635,2021-05-23,03:30,basketball,usa,nba,Denver Nuggets,Portland Trail Blazers,OVER,0.731715,1.90,100

### Criterio

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1469,2021-05-23,16:00,soccer,england,premier-league,Arsenal,Brighton,TEAM1,1.66,208
1470,2021-05-23,22:45,soccer,paraguay,primera-division,Olimpia Asuncion,Sp. Luqueno,TEAM1,1.60,187
1471,2021-05-23,17:15,soccer,spain,laliga2,Espanyol,Tenerife,TEAM1,1.58,179
1472,2021-05-23,16:30,soccer,sweden,allsvenskan,Djurgarden,Goteborg,TEAM1,1.69,218
1473,2021-05-23,21:30,soccer,usa,mls,Seattle Sounders,Atlanta Utd,TEAM1,1.66,208

___

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1791,16:00,2021-05-23,/soccer/england/premier-league/arsenal-brighto...,Arsenal,Brighton,1.66,4.26,5.05,TEAM1
1792,16:00,2021-05-23,/soccer/england/premier-league/leeds-west-brom...,Leeds,West Brom,1.44,5.29,6.60,TEAM1
1793,16:00,2021-05-23,/soccer/england/premier-league/manchester-city...,Manchester City,Everton,1.43,5.13,7.09,TEAM1
1794,19:00,2021-05-23,/soccer/israel/ligat-ha-al/maccabi-haifa-ashdo...,Maccabi Haifa,Ashdod,1.42,4.56,6.46,TEAM1
1795,14:00,2021-05-23,/soccer/latvia/optibet-virsliga/fk-liepaja-ven...,FK Liepaja,Ventspils,1.48,4.27,5.39,TEAM1
1796,22:45,2021-05-23,/soccer/paraguay/primera-division/olimpia-asun...,Olimpia Asuncion,Sp. Luqueno,1.60,3.58,5.71,TEAM1
1797,20:00,2021-05-23,/soccer/spain/laliga/sevilla-alaves-IyuY2fCD/,Sevilla,Alaves,1.53,4.44,6.36,TEAM1
1798,17:15,2021-05-23,/soccer/spain/laliga2/espanyol-tenerife-pp6tBBr7/,Espanyol,Tenerife,1.58,3.76,6.36,TEAM1
1799,16:30,2021-05-23,/soccer/sweden/allsvenskan/djurgarden-ifk-gote...,Djurgarden,Goteborg,1.69,3.68,5.33,TEAM1
1800,21:30,2021-05-23,/soccer/usa/mls/seattle-sounders-atlanta-unite...,Seattle Sounders,Atlanta Utd,1.66,3.75,5.41,TEAM1

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
2223,2021-05-23,06:00,soccer,australia,npl-victoria,Heidelberg Utd,Avondale FC,4.00,1.31,100,0.901857
2211,2021-05-23,16:00,soccer,england,premier-league,Arsenal,Brighton,3.75,1.36,100,0.846593
2212,2021-05-23,16:00,soccer,england,premier-league,Liverpool,Crystal Palace,4.50,1.38,100,0.848939
2213,2021-05-23,16:00,soccer,england,premier-league,Manchester City,Everton,4.00,1.29,100,0.601192
2214,2021-05-23,16:00,soccer,england,premier-league,West Ham,Southampton,4.00,1.29,100,0.687274
2221,2021-05-23,16:00,soccer,england,premier-league,Leeds,West Brom,4.50,1.35,100,0.811061
2222,2021-05-23,16:00,soccer,england,premier-league,Leicester,Tottenham,4.00,1.32,100,0.806987
2219,2021-05-23,19:45,soccer,italy,serie-a,Sassuolo,Lazio,4.50,1.37,100,0.856865
2220,2021-05-23,20:00,soccer,spain,laliga,Sevilla,Alaves,4.00,1.30,100,0.503385
2202,2021-05-23,00:15,baseball,usa,mlb,San Francisco Giants,Los Angeles Dodgers,9.50,1.43,100,0.900299
2203,2021-05-23,00:15,baseball,usa,mlb,St.Louis Cardinals,Chicago Cubs,10.50,1.42,100,0.667377
2204,2021-05-23,00:15,baseball,usa,mlb,Philadelphia Phillies,Boston Red Sox,11.00,1.41,100,0.639933
2205,2021-05-23,00:37,baseball,usa,mlb,Toronto Blue Jays,Tampa Bay Rays,11.50,1.43,100,0.378475
2215,2021-05-23,00:00,soccer,usa,mls,Orlando City,Toronto FC,3.50,1.33,100,0.870641
2216,2021-05-23,01:00,soccer,usa,mls,New England Revolution,New York Red Bulls,3.75,1.33,100,0.794888
2218,2021-05-23,21:30,soccer,usa,mls,Seattle Sounders,Atlanta Utd,3.75,1.31,100,0.732287
2206,2021-05-23,01:00,basketball,usa,nba,Brooklyn Nets,Boston Celtics,237.50,1.57,100,0.646985
2207,2021-05-23,03:30,basketball,usa,nba,Denver Nuggets,Portland Trail Blazers,232.00,1.57,100,0.731715
2209,2021-05-23,18:00,basketball,usa,nba,Philadelphia 76ers,Washington Wizards,234.00,1.56,100,0.526819
2208,2021-05-23,20:30,basketball,usa,nba,Phoenix Suns,Los Angeles Lakers,218.50,1.56,100,0.539823
2210,2021-05-23,00:00,hockey,usa,nhl,Toronto Maple Leafs,Montreal Canadiens,6.50,1.41,100,0.334566

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_handicap1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
388,2021-05-23,16:00,soccer,england,premier-league,Leicester,Tottenham,-0.50,1.9,100,0.358604
389,2021-05-23,16:00,soccer,england,premier-league,Liverpool,Crystal Palace,-2.25,1.9,100,0.308555
390,2021-05-23,16:00,soccer,england,premier-league,Manchester City,Everton,-1.25,1.9,100,0.745516
391,2021-05-23,16:00,soccer,england,premier-league,West Ham,Southampton,-0.75,1.9,100,0.572776
387,2021-05-23,02:00,soccer,mexico,liga-mx,Cruz Azul,Pachuca,-0.50,1.9,100,0.448085
398,2021-05-23,00:15,baseball,usa,mlb,Philadelphia Phillies,Boston Red Sox,1.00,1.9,100,0.597550
399,2021-05-23,19:35,baseball,usa,mlb,Texas Rangers,Houston Astros,1.50,1.9,100,0.237314
400,2021-05-23,20:10,baseball,usa,mlb,Colorado Rockies,Arizona Diamondbacks,-1.00,1.9,100,0.235890
392,2021-05-23,01:00,soccer,usa,mls,New England Revolution,New York Red Bulls,-0.75,1.9,100,0.144330
393,2021-05-23,03:00,soccer,usa,mls,San Jose Earthquakes,Sporting Kansas City,0.00,1.9,100,0.209161
394,2021-05-23,01:00,basketball,usa,nba,Brooklyn Nets,Boston Celtics,-8.00,1.9,100,0.502240
395,2021-05-23,03:30,basketball,usa,nba,Denver Nuggets,Portland Trail Blazers,-1.50,1.9,100,0.681830
397,2021-05-23,18:00,basketball,usa,nba,Philadelphia 76ers,Washington Wizards,-7.50,1.9,100,0.510013
396,2021-05-23,20:30,basketball,usa,nba,Phoenix Suns,Los Angeles Lakers,-3.00,1.9,100,0.556903
385,2021-05-23,00:00,hockey,usa,nhl,Toronto Maple Leafs,Montreal Canadiens,-0.75,1.9,100,0.260118
386,2021-05-23,22:00,hockey,usa,nhl,St. Louis Blues,Colorado Avalanche,1.25,1.9,100,0.538687

## NBA

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
984,01:00,2021-05-23,/basketball/usa/nba/brooklyn-nets-boston-celti...,Brooklyn Nets,Boston Celtics,1.27,0,3.91,0.637380
985,03:30,2021-05-23,/basketball/usa/nba/denver-nuggets-portland-tr...,Denver Nuggets,Portland Trail Blazers,1.83,0,2.02,0.528674
986,18:00,2021-05-23,/basketball/usa/nba/philadelphia-76ers-washing...,Philadelphia 76ers,Washington Wizards,1.30,0,3.64,0.595369
987,20:30,2021-05-23,/basketball/usa/nba/phoenix-suns-los-angeles-l...,Phoenix Suns,Los Angeles Lakers,1.69,0,2.24,0.565664

## NBA CLUSTER FALLO

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
318,0:0,2021-05-23,basketball/usa_nba,Philadelphia 76ers,Washington Wizards,1.31,0,3.56,2
319,0:0,2021-05-23,basketball/usa_nba,Brooklyn Nets,Boston Celtics,1.27,0,3.88,2

## NBA FALLO SIN FILTRO

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
603,0:0,2021-05-23,basketball/usa_nba,New York Knicks,Atlanta Hawks,1.84,0,2.00,2
604,0:0,2021-05-23,basketball/usa_nba,Phoenix Suns,Los Angeles Lakers,1.71,0,2.19,2
605,0:0,2021-05-23,basketball/usa_nba,Philadelphia 76ers,Washington Wizards,1.31,0,3.56,2
606,0:0,2021-05-23,basketball/usa_nba,Brooklyn Nets,Boston Celtics,1.27,0,3.88,2

### MLB FALLO

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_mlb")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
912,01:00,2021-05-23,/hockey/usa/nhl/minnesota-wild-vegas-golden-kn...,Minnesota Wild,Vegas Golden Knights,2.65,4.11,2.31,0.497265
913,19:30,2021-05-23,/hockey/usa/nhl/nashville-predators-carolina-h...,Nashville Predators,Carolina Hurricanes,2.93,4.19,2.09,0.503546
914,22:00,2021-05-23,/hockey/usa/nhl/st-louis-blues-colorado-avalan...,St. Louis Blues,Colorado Avalanche,4.03,4.57,1.69,0.442968
911,00:00,2021-05-23,/hockey/usa/nhl/toronto-maple-leafs-montreal-c...,Toronto Maple Leafs,Montreal Canadiens,1.85,4.36,3.52,0.547116

### MLB

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
342,16:00,2021-05-23,/soccer/england/premier-league/arsenal-brighto...,Arsenal,Brighton,1.66,4.26,5.05,0.618388
343,16:00,2021-05-23,/soccer/england/premier-league/aston-villa-che...,Aston Villa,Chelsea,6.81,4.72,1.48,0.421356
344,16:00,2021-05-23,/soccer/england/premier-league/fulham-newcastl...,Fulham,Newcastle,2.08,3.88,3.37,0.428807
345,16:00,2021-05-23,/soccer/england/premier-league/leeds-west-brom...,Leeds,West Brom,1.44,5.29,6.60,0.706414
346,16:00,2021-05-23,/soccer/england/premier-league/leicester-totte...,Leicester,Tottenham,1.99,4.14,3.46,0.577130
347,16:00,2021-05-23,/soccer/england/premier-league/liverpool-cryst...,Liverpool,Crystal Palace,1.16,8.67,17.68,0.684214
348,16:00,2021-05-23,/soccer/england/premier-league/manchester-city...,Manchester City,Everton,1.43,5.13,7.09,0.632080
349,16:00,2021-05-23,/soccer/england/premier-league/sheffield-utd-b...,Sheffield Utd,Burnley,2.92,3.75,2.35,0.477796
350,16:00,2021-05-23,/soccer/england/premier-league/west-ham-southa...,West Ham,Southampton,1.74,3.99,4.79,0.625215
351,16:00,2021-05-23,/soccer/england/premier-league/wolves-manchest...,Wolves,Manchester Utd,2.35,3.68,2.97,0.419631

### SOCCER CLUSTER FALLO

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
260,0:0,2021-05-23,soccer/england_premier-league,Sheffield Utd,Burnley,2.90,3.74,2.37,1
261,0:0,2021-05-23,soccer/england_premier-league,Wolves,Manchester Utd,2.37,3.68,2.94,2
262,0:0,2021-05-23,soccer/england_premier-league,Fulham,Newcastle,2.08,3.89,3.37,2

### SOCCER EMPATE SECUENCIA

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
761,16:00,2021-05-23,soccer/austria_2-liga,SK Rapid Vienna (Am),A. Klagenfurt,4.27,4.42,1.63,9-A. Klagenfurt-0.17
758,16:00,2021-05-23,soccer/england_premier-league,Wolves,Manchester Utd,2.35,3.68,2.97,3-Wolves-0.02
759,20:00,2021-05-23,soccer/france_ligue-1,Reims,Bordeaux,2.62,2.93,3.19,2-Reims-0.42
760,14:30,2021-05-23,soccer/germany_2-bundesliga,Regensburg,St. Pauli,2.38,3.42,2.94,9-St. Pauli-0.05
757,13:00,2021-05-23,soccer/sweden_superettan,Norrby,AFC Eskilstuna,1.99,3.36,3.75,3-Norrby-0.12
762,16:00,2021-05-23,soccer/uruguay_primera-division,Plaza Colonia,Montevideo City,2.54,3.34,2.61,4-Montevideo City-0.04

###  MILAN - ms negativo -77

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
218,2021-05-23,02:00,soccer,mexico,liga-mx,Cruz Azul,Pachuca,TEAM1,0.567813,1.91,100

### NFL

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [41]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
793,19:00,2021-05-23,/soccer/israel/ligat-ha-al/maccabi-petah-tikva...,Maccabi Petah Tikva,Maccabi Tel Aviv,4.04,3.52,1.85,TEAM2
792,20:15,2021-05-23,/soccer/italy/serie-b/cittadella-unione-venezi...,Cittadella,Venezia,2.45,3.12,2.96,TEAM1

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [42]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8162,19:45,2021-05-23,/soccer/italy/serie-a/napoli-verona-OlzWZiv4/,Napoli,Verona,1.21,7.28,13.75,0.745053
8172,21:30,2021-05-23,/soccer/usa/mls/seattle-sounders-atlanta-unite...,Seattle Sounders,Atlanta Utd,1.66,3.75,5.41,0.730125
8190,14:00,2021-05-23,/soccer/sweden/division-1-norra/dalkurd-ifk-lu...,Dalkurd,IFK Lulea,1.32,5.34,7.54,0.728263
8156,14:00,2021-05-23,/soccer/italy/serie-a/inter-udinese-tQpRzYOc/,Inter,Udinese,1.40,5.42,7.24,0.725547
8176,16:00,2021-05-23,/soccer/england/premier-league/leeds-west-brom...,Leeds,West Brom,1.44,5.29,6.60,0.706414
8187,17:00,2021-05-23,/soccer/norway/obos-ligaen/aalesund-kfum-oslo-...,Aalesund,KFUM Oslo,1.73,3.91,4.29,0.690919
8178,16:00,2021-05-23,/soccer/england/premier-league/liverpool-cryst...,Liverpool,Crystal Palace,1.16,8.67,17.68,0.684214
8179,16:00,2021-05-23,/soccer/england/premier-league/manchester-city...,Manchester City,Everton,1.43,5.13,7.09,0.632080
8181,16:00,2021-05-23,/soccer/england/premier-league/west-ham-southa...,West Ham,Southampton,1.74,3.99,4.79,0.625215
8157,19:45,2021-05-23,/soccer/italy/serie-a/torino-benevento-2JcaMY94/,Torino,Benevento,1.77,4.46,4.05,0.624377
8164,20:00,2021-05-23,/soccer/spain/laliga/sevilla-alaves-IyuY2fCD/,Sevilla,Alaves,1.53,4.44,6.36,0.622411
8173,16:00,2021-05-23,/soccer/england/premier-league/arsenal-brighto...,Arsenal,Brighton,1.66,4.26,5.05,0.618388
8168,01:00,2021-05-23,/soccer/usa/mls/new-england-revolution-new-yor...,New England Revolution,New York Red Bulls,1.73,3.86,4.62,0.616906
8189,14:00,2021-05-23,/soccer/sweden/division-1-norra/umea-fc-assyri...,Umea FC,Assyriska FF,1.57,4.18,4.95,0.600876
8160,19:45,2021-05-23,/soccer/italy/serie-a/atalanta-ac-milan-zTgyEAHp/,Atalanta,AC Milan,2.41,4.18,2.61,0.594277
8165,00:00,2021-05-23,/soccer/usa/mls/orlando-city-toronto-fc-dzxqnLxb/,Orlando City,Toronto FC,2.17,3.39,3.39,0.587126
8177,16:00,2021-05-23,/soccer/england/premier-league/leicester-totte...,Leicester,Tottenham,1.99,4.14,3.46,0.577130
8184,18:30,2021-05-23,/soccer/bulgaria/parva-liga/cherno-more-levski...,Cherno More,Levski Sofia,1.65,3.78,4.75,0.570961
8159,19:45,2021-05-23,/soccer/italy/serie-a/sassuolo-lazio-WbkGIj9T/,Sassuolo,Lazio,1.85,4.49,3.66,0.555757
8185,16:30,2021-05-23,/soccer/finland/ykkonen/jaro-vps-tC9Y5Ai9/,Jaro,VPS,2.33,3.29,2.89,0.552105
8167,01:00,2021-05-23,/soccer/usa/mls/fc-dallas-real-salt-lake-WdMm9...,FC Dallas,Real Salt Lake,2.00,3.55,3.68,0.549722
8166,00:30,2021-05-23,/soccer/usa/mls/new-york-city-columbus-crew-h6...,New York City,Columbus Crew,1.77,3.65,4.66,0.538899
8169,02:00,2021-05-23,/soccer/usa/mls/houston-dynamo-vancouver-white...,Houston Dynamo,Vancouver Whitecaps,1.57,4.08,5.84,0.527930
8188,16:00,2021-05-23,/soccer/slovakia/2-liga/zilina-bardejov-KnOqtHyT/,Zilina B,Bardejov,1.25,6.39,7.94,0.512615
8183,18:30,2021-05-23,/soccer/bulgaria/parva-liga/botev-plovdiv-tsar...,Botev Plovdiv,Tsarsko Selo,1.62,3.56,5.56,0.508743
8161,19:45,2021-05-23,/soccer/italy/serie-a/spezia-as-roma-SMtNyE9i/,Spezia,AS Roma,5.11,4.77,1.59,0.491478
8193,06:00,2021-05-23,/soccer/australia/npl-victoria/heidelberg-utd-...,Heidelberg Utd,Avondale FC,2.75,3.81,2.25,0.486865
8163,17:30,2021-05-23,/soccer/spain/laliga/granada-cf-getafe-A5lD7Icr/,Granada CF,Getafe,2.81,3.38,2.61,0.478380
8180,16:00,2021-05-23,/soccer/england/premier-league/sheffield-utd-b...,Sheffield Utd,Burnley,2.92,3.75,2.35,0.477796
8170,03:00,2021-05-23,/soccer/usa/mls/san-jose-earthquakes-sporting-...,San Jose Earthquakes,Sporting Kansas City,2.56,3.58,2.61,0.469322
8171,03:30,2021-05-23,/soccer/usa/mls/los-angeles-fc-colorado-rapids...,Los Angeles FC,Colorado Rapids,1.62,4.07,5.27,0.468127
8186,16:30,2021-05-23,/soccer/finland/ykkonen/mikkelin-tps-K28x5U6F/,Mikkelin,TPS,4.64,3.41,1.75,0.439030
8175,16:00,2021-05-23,/soccer/england/premier-league/fulham-newcastl...,Fulham,Newcastle,2.08,3.88,3.37,0.428807
8174,16:00,2021-05-23,/soccer/england/premier-league/aston-villa-che...,Aston Villa,Chelsea,6.81,4.72,1.48,0.421356
8182,16:00,2021-05-23,/soccer/england/premier-league/wolves-manchest...,Wolves,Manchester Utd,2.35,3.68,2.97,0.419631
8158,19:45,2021-05-23,/soccer/italy/serie-a/bologna-juventus-h8jCJWgN/,Bologna,Juventus,11.88,6.72,1.25,0.380446
8192,12:00,2021-05-23,/soccer/sweden/division-1-norra/hudiksvalls-pi...,Hudiksvalls,Pitea,1.78,3.54,3.87,0.254918
8191,14:30,2021-05-23,/soccer/sweden/division-1-norra/hammarby-tff-b...,Hammarby TFF,Brommapojkarna,8.13,5.67,1.29,0.231277

___

## EXPERIMENTAL

### Daily model 53

In [43]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1921,16:00,2021-05-23,/soccer/austria/2-liga/dornbirn-floridsdorfer-...,Dornbirn,Floridsdorfer AC,2.72,3.67,2.32,TEAM2
1918,16:00,2021-05-23,/soccer/austria/2-liga/fc-liefering-bw-linz-K8...,Liefering,BW Linz,2.15,3.76,2.92,TEAM2
1910,16:00,2021-05-23,/soccer/czech-republic/1-liga/pribram-fk-pardu...,Pribram,FK Pardubice,2.39,3.51,2.77,TEAM2
1912,16:00,2021-05-23,/soccer/czech-republic/1-liga/sigma-olomouc-ml...,Sigma Olomouc,Mlada Boleslav,2.40,3.27,2.94,TEAM2
1922,16:30,2021-05-23,/soccer/finland/ykkonen/jaro-vps-tC9Y5Ai9/,Jaro,VPS,2.33,3.29,2.89,TEAM2
1916,11:15,2021-05-23,/soccer/netherlands/eredivisie/feyenoord-utrec...,Feyenoord,Utrecht,2.16,3.59,3.23,TEAM2

In [44]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
9540,16:00,2021-05-23,/soccer/austria/2-liga/dornbirn-floridsdorfer-...,Dornbirn,Floridsdorfer AC,2.72,3.67,2.32,TEAM2
9537,16:00,2021-05-23,/soccer/austria/2-liga/fc-liefering-bw-linz-K8...,Liefering,BW Linz,2.15,3.76,2.92,TEAM2
9513,16:00,2021-05-23,/soccer/czech-republic/1-liga/pribram-fk-pardu...,Pribram,FK Pardubice,2.39,3.51,2.77,TEAM2
9515,16:00,2021-05-23,/soccer/czech-republic/1-liga/sigma-olomouc-ml...,Sigma Olomouc,Mlada Boleslav,2.40,3.27,2.94,TEAM2
9508,12:45,2021-05-23,/soccer/england/national-league/sutton-hartlep...,Sutton,Hartlepool,2.27,3.29,3.08,TEAM2
9546,16:30,2021-05-23,/soccer/finland/ykkonen/jaro-vps-tC9Y5Ai9/,Jaro,VPS,2.33,3.29,2.89,TEAM2
9525,20:00,2021-05-23,/soccer/france/ligue-1/strasbourg-lorient-Gzgr...,Strasbourg,Lorient,2.84,2.11,4.58,TEAM2
9532,14:30,2021-05-23,/soccer/germany/2-bundesliga/bochum-sandhausen...,Bochum,Sandhausen,1.71,4.00,4.51,DRAW
9535,14:30,2021-05-23,/soccer/germany/2-bundesliga/wurzburger-kicker...,Wurzburger Kickers,Paderborn,3.79,4.24,1.81,DRAW
9545,19:00,2021-05-23,/soccer/israel/ligat-ha-al/maccabi-petah-tikva...,Maccabi Petah Tikva,Maccabi Tel Aviv,4.04,3.52,1.85,TEAM2
9527,11:15,2021-05-23,/soccer/netherlands/eredivisie/feyenoord-utrec...,Feyenoord,Utrecht,2.16,3.59,3.23,TEAM2
9507,01:00,2021-05-23,/soccer/panama/lpf/union-deportivo-universitar...,Deportivo Universitario,Veraguas,2.92,3.42,2.30,TEAM2
9543,10:30,2021-05-23,/soccer/south-korea/k-league-2/anyang-gimcheon...,Anyang,Gimcheon Sangmu,2.48,3.10,2.84,TEAM2
9521,14:00,2021-05-23,/soccer/sweden/superettan/falkenbergs-vasalund...,Falkenbergs,Vasalunds,1.74,3.87,4.27,TEAM1
9519,12:00,2021-05-23,/soccer/sweden/superettan/osters-brage-voz0GoM5/,Osters,Brage,2.01,3.30,3.78,TEAM1

### Daily predictions machin4 EMPATE

In [45]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [46]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []