In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
375,2021-02-02,15:00,soccer,south-africa,premier-league,Golden Arrows,Orlando Pirates,X2,2.04,249.0
376,2021-02-02,0:0,hockey,usa,nhl,New York Rangers,Pittsburgh Penguins,1,2.52,200.0
377,2021-02-02,0:0,hockey,usa,nhl,Winnipeg Jets,Calgary Flames,2,2.28,200.0
378,2021-02-02,0:0,hockey,usa,nhl,New York Islanders,Buffalo Sabres,2,2.91,200.0

### Premium

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
737,2021-02-02,18:00,soccer,england,premier-league,Wolves,Arsenal,TEAM2,1.000000,2.22,100
736,2021-02-02,20:15,soccer,england,premier-league,Manchester Utd,Southampton,TEAM1,1.000000,1.49,100
738,2021-02-02,20:15,soccer,england,premier-league,Newcastle,Crystal Palace,TEAM2,1.000000,2.65,100
739,2021-02-02,00:30,basketball,usa,nba,Atlanta Hawks,Los Angeles Lakers,OVER,0.685646,1.90,100
740,2021-02-02,00:30,basketball,usa,nba,Miami Heat,Charlotte Hornets,OVER,0.557527,1.90,100
741,2021-02-02,01:00,basketball,usa,nba,Chicago Bulls,New York Knicks,OVER,0.654440,1.90,100
742,2021-02-02,01:00,basketball,usa,nba,New Orleans Pelicans,Sacramento Kings,OVER,0.616412,1.90,100
743,2021-02-02,01:30,basketball,usa,nba,San Antonio Spurs,Memphis Grizzlies,OVER,0.662939,1.90,100

### Criterio

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
950,2021-02-02,17:00,soccer,denmark,superliga,Randers FC,Horsens,TEAM1,1.62,226
951,2021-02-02,19:00,soccer,england,league-one,Blackpool,Northampton,TEAM1,1.58,208
954,2021-02-02,19:30,hockey,germany,del,ERC Ingolstadt,Nurnberg Ice Tigers,TEAM1,1.46,163
952,2021-02-02,03:00,soccer,mexico,liga-mx,Club Leon,Atl. San Luis,TEAM1,1.65,239
953,2021-02-02,16:00,hockey,russia,mhl,Russkie Vityazi,SKA-Varyagi,TEAM1,1.42,163

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1712,20:15,2021-02-02,/soccer/england/premier-league/manchester-unit...,Manchester Utd,Southampton,1.49,4.56,6.92,TEAM1
1714,20:15,2021-02-02,/soccer/england/premier-league/newcastle-utd-c...,Newcastle,Crystal Palace,2.84,3.27,2.65,TEAM2
1713,18:00,2021-02-02,/soccer/england/premier-league/wolves-arsenal-...,Wolves,Arsenal,3.50,3.34,2.22,TEAM2

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
956,16:00,2021-02-02,/hockey/czech-republic/extraliga/mountfield-hk...,Mountfield HK,Zlin,1.41,5.15,5.92,TEAM1
955,16:00,2021-02-02,/hockey/czech-republic/extraliga/trinec-vitkov...,Trinec,Vitkovice,1.44,5.14,5.55,TEAM1
957,19:30,2021-02-02,/hockey/germany/del/erc-ingolstadt-nurnberg-ic...,ERC Ingolstadt,Nurnberg Ice Tigers,1.46,5.28,5.28,TEAM1
958,16:00,2021-02-02,/hockey/russia/mhl/russkie-vityazi-mhl-ska-var...,Russkie Vityazi,SKA-Varyagi,1.42,5.07,5.30,TEAM1
959,15:00,2021-02-02,/soccer/croatia/1-hnl/osijek-slaven-belupo-GKl...,Osijek,Slaven Belupo,1.49,3.97,6.39,TEAM1
960,17:00,2021-02-02,/soccer/denmark/superliga/randers-fc-horsens-n...,Randers FC,Horsens,1.62,3.92,5.47,TEAM1
961,19:00,2021-02-02,/soccer/england/league-one/blackpool-northampt...,Blackpool,Northampton,1.58,3.69,6.85,TEAM1
962,19:45,2021-02-02,/soccer/england/national-league/boreham-wood-w...,Boreham Wood,Weymouth,1.55,4.05,5.47,TEAM1
963,20:15,2021-02-02,/soccer/england/premier-league/manchester-unit...,Manchester Utd,Southampton,1.49,4.56,6.92,TEAM1
964,03:00,2021-02-02,/soccer/mexico/liga-mx/club-leon-atletico-san-...,Club Leon,Atl. San Luis,1.65,3.80,5.01,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
652,2021-02-02,20:15,soccer,england,premier-league,Manchester Utd,Southampton,4.0,1.29,100,0.758818
640,2021-02-02,00:30,basketball,usa,nba,Atlanta Hawks,Los Angeles Lakers,224.0,1.59,100,0.685646
641,2021-02-02,00:30,basketball,usa,nba,Miami Heat,Charlotte Hornets,222.0,1.58,100,0.557527
642,2021-02-02,01:00,basketball,usa,nba,Cleveland Cavaliers,Minnesota Timberwolves,224.0,1.58,100,0.435397
643,2021-02-02,01:00,basketball,usa,nba,Chicago Bulls,New York Knicks,223.5,1.58,100,0.654440
644,2021-02-02,01:00,basketball,usa,nba,Milwaukee Bucks,Portland Trail Blazers,240.0,1.58,100,0.461960
645,2021-02-02,01:00,basketball,usa,nba,New Orleans Pelicans,Sacramento Kings,239.0,1.58,100,0.616412
646,2021-02-02,01:00,basketball,usa,nba,Oklahoma City Thunder,Houston Rockets,228.5,1.59,100,0.538969
647,2021-02-02,01:30,basketball,usa,nba,Dallas Mavericks,Phoenix Suns,222.5,1.58,100,0.461929
648,2021-02-02,01:30,basketball,usa,nba,San Antonio Spurs,Memphis Grizzlies,227.0,1.56,100,0.662939
649,2021-02-02,02:00,basketball,usa,nba,Denver Nuggets,Detroit Pistons,222.0,1.61,100,0.413857
650,2021-02-02,00:00,hockey,usa,nhl,New York Rangers,Pittsburgh Penguins,7.0,1.42,100,0.708820
651,2021-02-02,00:00,hockey,usa,nhl,Montreal Canadiens,Vancouver Canucks,7.0,1.43,100,0.333592

## NBA

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
188,00:30,2021-02-02,/basketball/usa/nba/atlanta-hawks-los-angeles-...,Atlanta Hawks,Los Angeles Lakers,3.00,0,1.42,0.425564
191,01:00,2021-02-02,/basketball/usa/nba/chicago-bulls-new-york-kni...,Chicago Bulls,New York Knicks,1.61,0,2.41,0.555020
190,01:00,2021-02-02,/basketball/usa/nba/cleveland-cavaliers-minnes...,Cleveland Cavaliers,Minnesota Timberwolves,1.57,0,2.51,0.660026
195,01:30,2021-02-02,/basketball/usa/nba/dallas-mavericks-phoenix-s...,Dallas Mavericks,Phoenix Suns,1.70,0,2.22,0.541391
197,02:00,2021-02-02,/basketball/usa/nba/denver-nuggets-detroit-pis...,Denver Nuggets,Detroit Pistons,1.29,0,3.79,0.676444
189,00:30,2021-02-02,/basketball/usa/nba/miami-heat-charlotte-horne...,Miami Heat,Charlotte Hornets,1.41,0,3.05,0.543352
192,01:00,2021-02-02,/basketball/usa/nba/milwaukee-bucks-portland-t...,Milwaukee Bucks,Portland Trail Blazers,1.21,0,4.73,0.603778
193,01:00,2021-02-02,/basketball/usa/nba/new-orleans-pelicans-sacra...,New Orleans Pelicans,Sacramento Kings,1.66,0,2.29,0.519575
194,01:00,2021-02-02,/basketball/usa/nba/oklahoma-city-thunder-hous...,Oklahoma City Thunder,Houston Rockets,2.73,0,1.49,0.522465
196,01:30,2021-02-02,/basketball/usa/nba/san-antonio-spurs-memphis-...,San Antonio Spurs,Memphis Grizzlies,1.58,0,2.48,0.550220

## NBA CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
54,0:0,2021-02-02,basketball/usa_nba,Denver Nuggets,Detroit Pistons,1.20,0,4.72,2
55,0:0,2021-02-02,basketball/usa_nba,Milwaukee Bucks,Portland Trail Blazers,1.18,0,5.25,2

## NBA FALLO SIN FILTRO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
113,0:0,2021-02-02,basketball/usa_nba,Cleveland Cavaliers,Minnesota Timberwolves,1.47,0,2.74,2
114,0:0,2021-02-02,basketball/usa_nba,Atlanta Hawks,Los Angeles Lakers,2.95,0,1.42,1
115,0:0,2021-02-02,basketball/usa_nba,Denver Nuggets,Detroit Pistons,1.20,0,4.72,2
116,0:0,2021-02-02,basketball/usa_nba,Milwaukee Bucks,Portland Trail Blazers,1.18,0,5.25,2

## NHL

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
139,00:00,2021-02-02,/hockey/usa/nhl/montreal-canadiens-vancouver-c...,Montreal Canadiens,Vancouver Canucks,1.90,4.47,3.30,0.591186
141,23:00,2021-02-02,/hockey/usa/nhl/new-york-islanders-buffalo-sab...,New York Islanders,Buffalo Sabres,2.18,4.15,2.82,0.589620
136,00:00,2021-02-02,/hockey/usa/nhl/new-york-rangers-pittsburgh-pe...,New York Rangers,Pittsburgh Penguins,2.52,4.24,2.39,0.488442
138,00:00,2021-02-02,/hockey/usa/nhl/tampa-bay-lightning-nashville-...,Tampa Bay Lightning,Nashville Predators,1.94,4.27,3.32,0.617109
137,00:00,2021-02-02,/hockey/usa/nhl/washington-capitals-boston-bru...,Washington Capitals,Boston Bruins,3.10,4.26,2.02,0.462690
140,01:00,2021-02-02,/hockey/usa/nhl/winnipeg-jets-calgary-flames-n...,Winnipeg Jets,Calgary Flames,2.66,4.21,2.28,0.630426

## NHL CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
36,0:0,2021-02-02,hockey/usa_nhl,New York Rangers,Pittsburgh Penguins,2.52,4.23,2.38,1
37,0:0,2021-02-02,hockey/usa_nhl,Winnipeg Jets,Calgary Flames,2.66,4.20,2.28,2
38,0:0,2021-02-02,hockey/usa_nhl,New York Islanders,Buffalo Sabres,2.11,4.25,2.91,2

### MLB

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
42,20:15,2021-02-02,/soccer/england/premier-league/manchester-unit...,Manchester Utd,Southampton,1.49,4.56,6.92,0.636385
43,20:15,2021-02-02,/soccer/england/premier-league/newcastle-utd-c...,Newcastle,Crystal Palace,2.84,3.27,2.65,0.482984
40,18:00,2021-02-02,/soccer/england/premier-league/sheffield-utd-w...,Sheffield Utd,West Brom,1.95,3.42,4.34,0.570766
41,18:00,2021-02-02,/soccer/england/premier-league/wolves-arsenal-...,Wolves,Arsenal,3.50,3.34,2.22,0.419140

### SOCCER CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
28,0:0,2021-02-02,soccer/england_premier-league,Newcastle,Crystal Palace,2.85,3.28,2.64,1
29,0:0,2021-02-02,soccer/england_premier-league,Wolves,Arsenal,3.39,3.35,2.26,1
31,0:0,2021-02-02,soccer/england_premier-league,Sheffield Utd,West Brom,1.94,3.43,4.38,2
30,0:0,2021-02-02,soccer/germany_bundesliga,Werder Bremen,Greuther Furth,2.05,3.53,3.47,2

### SOCCER EMPATE SECUENCIA

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
183,19:00,2021-02-02,soccer/england_league-one,Shrewsbury,Crewe,2.54,3.39,2.74,3-Shrewsbury-0.08
184,19:00,2021-02-02,soccer/england_league-two,Crawley,Leyton Orient,2.23,3.36,3.25,3-Crawley-0.02
185,19:00,2021-02-02,soccer/france_ligue-2,Grenoble,Guingamp,2.08,3.15,3.83,3-Grenoble-0.28
186,19:00,2021-02-02,soccer/france_ligue-2,Grenoble,Guingamp,2.08,3.15,3.83,1-Guingamp-0.17

## SOCCER FAVORITO SECUENCIA

###  MILAN - ms negativo -77

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
35,19:00,2021-02-02,soccer/brazil_serie-a,Palmeiras,Botafogo RJ,1.77,3.60,4.59,FALLO-1-Palmeiras--0.26
39,19:00,2021-02-02,soccer/england_league-two,Cheltenham,Barrow,1.91,3.45,4.07,FALLO-1-Cheltenham--0.18
36,19:00,2021-02-02,soccer/england_national-league,FC Halifax,Hartlepool,2.80,2.93,2.66,FALLO-5-FC Halifax--0.26
40,18:00,2021-02-02,soccer/england_premier-league,Sheffield Utd,West Brom,1.95,3.42,4.34,FAVORITO-5-Sheffield Utd--0.33
37,19:00,2021-02-02,soccer/france_ligue-2,Pau FC,Amiens,3.69,3.06,2.17,FALLO-1-Pau FC--0.26
38,19:00,2021-02-02,soccer/france_ligue-2,Le Havre,Nancy,2.52,2.88,3.18,FALLO-4-Le Havre--0.59
34,03:00,2021-02-02,soccer/mexico_liga-mx,Club Leon,Atl. San Luis,1.65,3.80,5.01,FALLO-1-Club Leon--0.76

## CRB - ms positivo .49

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
10,19:00,2021-02-02,soccer/england_league-one,Charlton,Portsmouth,2.85,3.26,2.52,FALLO-2-Charlton-0.16
11,19:00,2021-02-02,soccer/england_league-two,Crawley,Leyton Orient,2.23,3.36,3.25,FAVORITO-2-Leyton Orient-0.49

### LIGA MX

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
100,2021-02-02,03:00,soccer,mexico,liga-mx,Club Leon,Atl. San Luis,TEAM1,0.738884,1.65,100

### NFL

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
74,16:30,2021-02-02,/hockey/finland/liiga/ilves-tampere-lukko-raum...,Ilves,Lukko,3.39,4.33,1.85,0.420143
77,16:30,2021-02-02,/hockey/finland/liiga/karpat-oulu-kookoo-CpBwo...,Karpat,KooKoo,2.40,4.04,2.51,0.444122
78,16:30,2021-02-02,/hockey/finland/liiga/pelicans-lahti-kalpa-kuo...,Pelicans,KalPa,2.22,4.07,2.72,0.629625
79,16:30,2021-02-02,/hockey/finland/liiga/saipa-jukurit-hKOX1Rg8/,SaiPa,Jukurit,1.94,4.06,3.34,0.536882
75,16:30,2021-02-02,/hockey/finland/liiga/tps-turku-hameenlinna-UT...,TPS Turku,Hameenlinna,1.63,4.56,4.31,0.683160
76,16:30,2021-02-02,/hockey/finland/liiga/vaasan-sport-tappara-tUx...,Vaasan Sport,Tappara,3.10,3.96,2.06,0.468660

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
21,0:0,2021-02-02,hockey/finland_liiga,Karpat,KooKoo,2.39,4.06,2.52,2
22,0:0,2021-02-02,hockey/finland_liiga,Pelicans,KalPa,2.22,4.08,2.72,2
23,0:0,2021-02-02,hockey/finland_liiga,Vaasan Sport,Tappara,3.11,3.95,2.06,2

### Daily predictions machin3.

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5605,20:15,2021-02-02,/soccer/england/premier-league/manchester-unit...,Manchester Utd,Southampton,1.49,4.56,6.92,0.636385
5603,18:00,2021-02-02,/soccer/england/premier-league/sheffield-utd-w...,Sheffield Utd,West Brom,1.95,3.42,4.34,0.570766
5609,13:30,2021-02-02,/soccer/world/club-friendly/fk-sarajevo-levski...,FK Sarajevo (Bih),Levski Sofia (Bul),2.51,3.61,2.31,0.525719
5608,11:00,2021-02-02,/soccer/world/club-friendly/nykobing-koge-CIGD...,Nykobing (Den),Koge (Den),2.42,3.63,2.42,0.525719
5607,10:00,2021-02-02,/soccer/world/club-friendly/vysehrad-sparta-pr...,Vysehrad (Cze),Sparta Prague B (Cze),2.59,3.77,2.23,0.525719
5606,20:15,2021-02-02,/soccer/england/premier-league/newcastle-utd-c...,Newcastle,Crystal Palace,2.84,3.27,2.65,0.482984
5604,18:00,2021-02-02,/soccer/england/premier-league/wolves-arsenal-...,Wolves,Arsenal,3.50,3.34,2.22,0.419140
5602,20:15,2021-02-02,/soccer/portugal/primeira-liga/gil-vicente-fer...,Gil Vicente,Ferreira,3.11,3.09,2.44,0.365679

___

## EXPERIMENTAL

### Daily model 53

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []