In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
14,15:00,2021-04-13,soccer/lithuania_a-lyga,FK Panevezys,Hegelmann Litauen,1.48,3.94,5.74,2-FK Panevezys--0.62

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
24,2021-04-13,00:30,basketball,usa,nba,New York Knicks,Los Angeles Lakers,210.5,1.59,100,OVER
25,2021-04-13,02:00,basketball,usa,nba,Memphis Grizzlies,Chicago Bulls,233.5,1.58,100,UNDER
26,2021-04-13,02:00,basketball,usa,nba,New Orleans Pelicans,Sacramento Kings,242.0,1.57,100,UNDER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
dsp.daily_prediction_model(df_prediccion)

,hora,date,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
257,19:25,2021-04-13,2-liga,Dornbirn,A. Lustenau,2.90,3.44,2.29,TEAM2,-62.811370,54
243,19:00,2021-04-13,national,Boulogne,Sete,1.99,2.95,4.31,DRAW,-13.455488,53
230,19:00,2021-04-13,national-league,Dag & Red,Eastleigh,2.40,3.20,2.94,TEAM2,-20.337436,53
235,19:45,2021-04-13,national-league,Weymouth,Aldershot,3.09,3.23,2.29,TEAM2,-174.636769,53

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
663,2021-04-13,19:00,soccer,england,league-one,Blackpool,Accrington,X1,1.71,281.0
662,2021-04-13,18:00,soccer,scotland,championship,Dunfermline,Dundee FC,X2,2.21,184.0
661,2021-04-13,14:30,soccer,slovakia,slovak-cup,Z. Moravce-Vrable,Zilina,X2,2.16,174.0

### TAN!! SPECIAL SELECTION

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2206,15:00,2021-04-13,/soccer/lithuania/a-lyga/fk-panevezys-hegelman...,FK Panevezys,Hegelmann Litauen,1.48,3.94,5.74,TEAM1
2205,19:00,2021-04-13,/soccer/scotland/league-one/airdrieonians-forf...,Airdrieonians,Forfar Athletic,1.52,4.07,5.93,TEAM1
2204,19:00,2021-04-13,/soccer/scotland/league-one/partick-clyde-QeXs...,Partick Thistle,Clyde,1.53,4.14,5.56,TEAM1

## NHL CLUSTER FALLO

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
345,0:0,2021-04-13,hockey/usa_nhl,Minnesota Wild,St. Louis Blues,2.11,4.13,2.93,2
346,0:0,2021-04-13,hockey/usa_nhl,Washington Capitals,Philadelphia Flyers,1.97,4.38,3.15,2
347,0:0,2021-04-13,hockey/usa_nhl,New Jersey Devils,New York Rangers,3.31,4.43,1.90,1

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
112,0:0,2021-04-13,hockey/finland_liiga,Assat,KalPa,3.37,4.35,1.84,1
113,0:0,2021-04-13,hockey/finland_liiga,Lukko,TPS Turku,1.84,4.04,3.58,2

### Gana Favorito en ODDs finales.

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
142,00:30,2021-04-13,/basketball/usa/nba/dallas-mavericks-philadelp...,Dallas Mavericks,Philadelphia 76ers,2.36,0.00,1.64,0.562891
143,00:30,2021-04-13,/basketball/usa/nba/new-york-knicks-los-angele...,New York Knicks,Los Angeles Lakers,1.81,0.00,2.06,0.551894
144,01:00,2021-04-13,/basketball/usa/nba/orlando-magic-san-antonio-...,Orlando Magic,San Antonio Spurs,3.20,0.00,1.38,0.531313
141,19:30,2021-04-13,/soccer/saudi-arabia/division-1/al-sahel-hajer...,Al-Sahel,Hajer,3.48,3.15,2.03,0.767877

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1234,2021-04-13,00:05,baseball,usa,mlb,Baltimore Orioles,Seattle Mariners,UNDER,0.551649,1.9,100
1235,2021-04-13,02:40,baseball,usa,mlb,Arizona Diamondbacks,Oakland Athletics,UNDER,0.580370,1.9,100
1236,2021-04-13,00:30,basketball,usa,nba,Dallas Mavericks,Philadelphia 76ers,OVER,0.588277,1.9,100
1237,2021-04-13,01:00,basketball,usa,nba,Orlando Magic,San Antonio Spurs,OVER,0.742714,1.9,100
1238,2021-04-13,01:00,basketball,usa,nba,Minnesota Timberwolves,Brooklyn Nets,OVER,0.863162,1.9,100
1239,2021-04-13,02:00,basketball,usa,nba,Memphis Grizzlies,Chicago Bulls,OVER,0.597249,1.9,100
1240,2021-04-13,02:00,basketball,usa,nba,New Orleans Pelicans,Sacramento Kings,OVER,0.699106,1.9,100
1241,2021-04-13,02:00,basketball,usa,nba,Utah Jazz,Washington Wizards,UNDER,0.278199,1.9,100
1242,2021-04-13,03:00,basketball,usa,nba,Golden State Warriors,Denver Nuggets,OVER,0.757591,1.9,100

### Criterio

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1274,2021-04-13,19:00,soccer,england,league-one,Blackpool,Accrington,TEAM1,1.71,281
1278,2021-04-13,09:30,baseball,japan,npb,Yakult Swallows,Yokohama BayStars,TEAM1,1.90,135
1276,2021-04-13,19:00,soccer,scotland,league-one,Airdrieonians,Forfar Athletic,TEAM1,1.52,177
1275,2021-04-13,14:00,soccer,tanzania,ligi-kuu-bara,Biashara Mara United,Coastal Union,TEAM1,1.59,231
1277,2021-04-13,02:00,hockey,usa,nhl,Colorado Avalanche,Arizona Coyotes,TEAM1,1.45,177

___

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1464,00:00,2021-04-13,/hockey/usa/nhl/carolina-hurricanes-detroit-re...,Carolina Hurricanes,Detroit Red Wings,1.44,5.34,5.74,TEAM1
1465,02:00,2021-04-13,/hockey/usa/nhl/colorado-avalanche-arizona-coy...,Colorado Avalanche,Arizona Coyotes,1.45,5.28,5.70,TEAM1
1466,19:00,2021-04-13,/soccer/england/league-one/blackpool-accringto...,Blackpool,Accrington,1.71,3.65,5.13,TEAM1
1467,13:15,2021-04-13,/soccer/iran/division-1/baderan-tehran-arman-g...,Baderan Tehran,Arman Gohar,1.46,3.65,6.88,TEAM1
1468,15:00,2021-04-13,/soccer/lithuania/a-lyga/fk-panevezys-hegelman...,FK Panevezys,Hegelmann Litauen,1.48,3.94,5.74,TEAM1
1469,20:05,2021-04-13,/soccer/saudi-arabia/division-1/al-taee-al-buk...,Al Taee,Al Bukayriyah,1.46,4.06,5.95,TEAM1
1471,19:00,2021-04-13,/soccer/scotland/league-one/airdrieonians-forf...,Airdrieonians,Forfar Athletic,1.52,4.07,5.93,TEAM1
1470,19:00,2021-04-13,/soccer/scotland/league-one/partick-clyde-QeXs...,Partick Thistle,Clyde,1.53,4.14,5.56,TEAM1
1472,14:00,2021-04-13,/soccer/tanzania/ligi-kuu-bara/biashara-mara-u...,Biashara Mara United,Coastal Union,1.59,3.47,5.63,TEAM1

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1347,2021-04-13,00:05,baseball,usa,mlb,Baltimore Orioles,Seattle Mariners,10.5,1.43,100,0.551649
1348,2021-04-13,00:10,baseball,usa,mlb,New York Mets,Philadelphia Phillies,10.5,1.40,100,0.472210
1349,2021-04-13,00:20,baseball,usa,mlb,Atlanta Braves,Miami Marlins,10.0,1.46,100,0.812380
1350,2021-04-13,02:40,baseball,usa,mlb,Arizona Diamondbacks,Oakland Athletics,11.5,1.43,100,0.580370
1351,2021-04-13,02:45,baseball,usa,mlb,San Francisco Giants,Cincinnati Reds,10.5,1.42,100,0.833060
1352,2021-04-13,00:30,basketball,usa,nba,New York Knicks,Los Angeles Lakers,210.5,1.59,100,0.537198
1353,2021-04-13,00:30,basketball,usa,nba,Dallas Mavericks,Philadelphia 76ers,224.0,1.55,100,0.588277
1354,2021-04-13,01:00,basketball,usa,nba,Orlando Magic,San Antonio Spurs,222.5,1.57,100,0.742714
1355,2021-04-13,01:00,basketball,usa,nba,Minnesota Timberwolves,Brooklyn Nets,237.5,1.60,100,0.863162
1356,2021-04-13,02:00,basketball,usa,nba,Memphis Grizzlies,Chicago Bulls,233.5,1.58,100,0.597249
1357,2021-04-13,02:00,basketball,usa,nba,New Orleans Pelicans,Sacramento Kings,242.0,1.57,100,0.699106
1358,2021-04-13,02:00,basketball,usa,nba,Utah Jazz,Washington Wizards,240.0,1.57,100,0.278199
1359,2021-04-13,03:00,basketball,usa,nba,Golden State Warriors,Denver Nuggets,231.5,1.58,100,0.757591
1360,2021-04-13,03:00,basketball,usa,nba,Phoenix Suns,Houston Rockets,234.0,1.57,100,0.507488
1361,2021-04-13,00:00,hockey,usa,nhl,Carolina Hurricanes,Detroit Red Wings,6.5,1.44,100,0.434836
1362,2021-04-13,00:00,hockey,usa,nhl,Columbus Blue Jackets,Chicago Blackhawks,6.5,1.44,100,0.544394
1363,2021-04-13,00:00,hockey,usa,nhl,Ottawa Senators,Winnipeg Jets,7.0,1.37,100,0.126213
1364,2021-04-13,01:00,hockey,usa,nhl,Minnesota Wild,St. Louis Blues,6.5,1.40,100,0.715942
1365,2021-04-13,03:00,hockey,usa,nhl,Los Angeles Kings,Vegas Golden Knights,6.5,1.42,100,0.728347

## NBA

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
697,00:30,2021-04-13,/basketball/usa/nba/dallas-mavericks-philadelp...,Dallas Mavericks,Philadelphia 76ers,2.36,0,1.64,0.562891
702,03:00,2021-04-13,/basketball/usa/nba/golden-state-warriors-denv...,Golden State Warriors,Denver Nuggets,2.51,0,1.57,0.357617
699,02:00,2021-04-13,/basketball/usa/nba/memphis-grizzlies-chicago-...,Memphis Grizzlies,Chicago Bulls,1.73,0,2.17,0.637883
704,01:00,2021-04-13,/basketball/usa/nba/minnesota-timberwolves-bro...,Minnesota Timberwolves,Brooklyn Nets,3.21,0,1.38,0.365151
700,02:00,2021-04-13,/basketball/usa/nba/new-orleans-pelicans-sacra...,New Orleans Pelicans,Sacramento Kings,1.81,0,2.06,0.589431
696,00:30,2021-04-13,/basketball/usa/nba/new-york-knicks-los-angele...,New York Knicks,Los Angeles Lakers,1.81,0,2.06,0.551894
698,01:00,2021-04-13,/basketball/usa/nba/orlando-magic-san-antonio-...,Orlando Magic,San Antonio Spurs,3.20,0,1.38,0.531313
703,03:00,2021-04-13,/basketball/usa/nba/phoenix-suns-houston-rocke...,Phoenix Suns,Houston Rockets,1.13,0,6.49,0.736138
701,02:00,2021-04-13,/basketball/usa/nba/utah-jazz-washington-wizar...,Utah Jazz,Washington Wizards,1.16,0,5.67,0.701666

## NBA CLUSTER FALLO

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
243,0:0,2021-04-13,basketball/usa_nba,Minnesota Timberwolves,Brooklyn Nets,4.02,0,1.25,1

## NBA FALLO SIN FILTRO

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
453,0:0,2021-04-13,basketball/usa_nba,New Orleans Pelicans,Sacramento Kings,1.61,0,2.38,2
454,0:0,2021-04-13,basketball/usa_nba,Minnesota Timberwolves,Brooklyn Nets,4.02,0,1.25,1

## NHL

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
652,00:00,2021-04-13,/hockey/usa/nhl/carolina-hurricanes-detroit-re...,Carolina Hurricanes,Detroit Red Wings,1.44,5.34,5.74,0.629991
656,02:00,2021-04-13,/hockey/usa/nhl/colorado-avalanche-arizona-coy...,Colorado Avalanche,Arizona Coyotes,1.45,5.28,5.70,0.661697
653,00:00,2021-04-13,/hockey/usa/nhl/columbus-blue-jackets-chicago-...,Columbus Blue Jackets,Chicago Blackhawks,2.82,4.19,2.16,0.464287
657,03:00,2021-04-13,/hockey/usa/nhl/los-angeles-kings-vegas-golden...,Los Angeles Kings,Vegas Golden Knights,3.31,4.31,1.93,0.457520
659,01:00,2021-04-13,/hockey/usa/nhl/minnesota-wild-st-louis-blues-...,Minnesota Wild,St. Louis Blues,2.11,4.20,2.92,0.632847
654,00:00,2021-04-13,/hockey/usa/nhl/montreal-canadiens-toronto-map...,Montreal Canadiens,Toronto Maple Leafs,3.00,4.27,2.06,0.405596
655,00:00,2021-04-13,/hockey/usa/nhl/ottawa-senators-winnipeg-jets-...,Ottawa Senators,Winnipeg Jets,3.50,4.59,1.81,0.414269
658,03:30,2021-04-13,/hockey/usa/nhl/san-jose-sharks-anaheim-ducks-...,San Jose Sharks,Anaheim Ducks,1.80,4.47,3.58,0.647527

### MLB

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
175,0:0,2021-04-13,soccer/england_premier-league,Chelsea,FC Porto,1.86,3.79,4.28,2
174,0:0,2021-04-13,soccer/germany_bundesliga,Paris SG,Bayern Munich,2.93,4.07,2.24,1

### SOCCER EMPATE SECUENCIA

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
497,17:10,2021-04-13,soccer/austria_2-liga,Amstetten,A. Klagenfurt,3.44,3.58,1.99,2-A. Klagenfurt-0.17
495,15:00,2021-04-13,soccer/italy_serie-b,Cremonese,Empoli,3.25,2.91,2.44,4-Empoli-0.11
496,16:15,2021-04-13,soccer/slovenia_prva-liga,O. Ljubljana,Bravo,1.63,3.59,4.95,1-Bravo-0.11

###  MILAN - más negativo -77

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
463,18:30,2021-04-13,soccer/england_league-one,AFC Wimbledon,Ipswich,3.04,3.15,2.47,FALLO-2-Ipswich--0.51
460,19:00,2021-04-13,soccer/england_league-one,Doncaster,Burton,2.54,3.19,2.90,FALLO-1-Doncaster--0.01
461,19:00,2021-04-13,soccer/england_league-one,Lincoln,MK Dons,2.43,3.40,2.90,FALLO-1-Lincoln--0.42
464,19:00,2021-04-13,soccer/england_league-one,Doncaster,Burton,2.54,3.19,2.90,FALLO-1-Burton--0.01
465,19:00,2021-04-13,soccer/england_league-one,Lincoln,MK Dons,2.43,3.40,2.90,FALLO-2-MK Dons--0.59
462,19:00,2021-04-13,soccer/england_league-two,Newport,Carlisle,2.73,3.16,2.71,FALLO-4-Newport--0.76
466,19:00,2021-04-13,soccer/england_national-league,FC Halifax,Wrexham,2.21,3.26,3.25,FAVORITO-1-FC Halifax--0.26

## CRB - más positivo .49

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
88,19:00,2021-04-13,soccer/england_league-two,Harrogate,Leyton Orient,2.23,3.28,3.38,FAVORITO-1-Leyton Orient-0.49
87,00:00,2021-04-13,soccer/paraguay_primera-division,Guarani,River Plate,1.99,3.20,3.84,FALLO-3-Guarani-0.11

### LIGA MX

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
179,2021-04-13,03:00,soccer,mexico,liga-mx,Pachuca,Puebla,TEAM1,0.526623,2.03,100

### NFL

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
291,16:30,2021-04-13,/hockey/finland/liiga/assat-pori-kalpa-kuopio-...,Assat,KalPa,3.36,4.38,1.84,0.447281
287,16:30,2021-04-13,/hockey/finland/liiga/hameenlinna-saipa-dtaFa7h5/,Hameenlinna,SaiPa,1.65,4.31,4.33,0.702019
293,16:30,2021-04-13,/hockey/finland/liiga/ifk-helsinki-vaasan-spor...,IFK Helsinki,Vaasan Sport,1.55,4.52,4.91,0.622477
289,16:30,2021-04-13,/hockey/finland/liiga/jukurit-pelicans-lahti-n...,Jukurit,Pelicans,4.42,4.90,1.56,0.405507
290,16:30,2021-04-13,/hockey/finland/liiga/jyp-jyvaskyla-kookoo-KGB...,JYP,KooKoo,4.60,4.84,1.55,0.441880
292,16:30,2021-04-13,/hockey/finland/liiga/lukko-rauman-tps-turku-d...,Lukko,TPS Turku,1.84,4.04,3.58,0.610112
288,16:30,2021-04-13,/hockey/finland/liiga/tappara-karpat-oulu-0f58...,Tappara,Karpat,2.23,3.95,2.76,0.581871
294,17:30,2021-04-13,/hockey/germany/del/augsburger-panther-dusseld...,Augsburger Panther,Dusseldorf,2.47,4.21,2.36,0.546696
297,19:30,2021-04-13,/hockey/germany/del/grizzly-wolfsburg-munchen-...,Grizzly Wolfsburg,Munchen,3.17,4.38,1.91,0.426917
298,19:30,2021-04-13,/hockey/germany/del/iserlohn-roosters-schwenni...,Iserlohn Roosters,Schwenninger,2.24,4.32,2.56,0.480359
295,19:30,2021-04-13,/hockey/germany/del/krefeld-pinguine-adler-man...,Krefeld Pinguine,Adler Mannheim,7.76,6.73,1.27,0.231231
296,19:30,2021-04-13,/hockey/germany/del/pinguins-bremerhaven-erc-i...,Bremerhaven,ERC Ingolstadt,2.26,4.38,2.52,0.580118

### Daily predictions machin3.

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7036,15:00,2021-04-13,/soccer/lithuania/a-lyga/fk-panevezys-hegelman...,FK Panevezys,Hegelmann Litauen,1.48,3.94,5.74,0.822226
7033,19:00,2021-04-13,/soccer/scotland/league-one/partick-clyde-QeXs...,Partick Thistle,Clyde,1.53,4.14,5.56,0.650657
7031,16:15,2021-04-13,/soccer/slovenia/prva-liga/o-ljubljana-bravo-U...,O. Ljubljana,Bravo,1.63,3.59,4.95,0.642619
7037,17:00,2021-04-13,/soccer/lithuania/a-lyga/banga-dainava-alytus-...,Banga,Dainava Alytus,2.18,3.21,3.06,0.631807
7034,19:00,2021-04-13,/soccer/scotland/league-one/airdrieonians-forf...,Airdrieonians,Forfar Athletic,1.52,4.07,5.93,0.630239
7035,11:30,2021-04-13,/soccer/world/club-friendly/north-star-virgini...,North Star (Aus),Virginia United (Aus),1.77,4.45,3.05,0.525719
7032,19:45,2021-04-13,/soccer/ireland/premier-division/derry-city-sh...,Derry City,Shamrock Rovers,5.84,3.80,1.59,0.326089

___

## EXPERIMENTAL

### Daily model 53

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1165,17:10,2021-04-13,/soccer/austria/2-liga/amstetten-a-klagenfurt-...,Amstetten,A. Klagenfurt,3.44,3.58,1.99,TEAM2
1168,19:25,2021-04-13,/soccer/austria/2-liga/dornbirn-a-lustenau-AJ1...,Dornbirn,A. Lustenau,2.90,3.44,2.29,TEAM2

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7615,17:10,2021-04-13,/soccer/austria/2-liga/amstetten-a-klagenfurt-...,Amstetten,A. Klagenfurt,3.44,3.58,1.99,TEAM2
7618,19:25,2021-04-13,/soccer/austria/2-liga/dornbirn-a-lustenau-AJ1...,Dornbirn,A. Lustenau,2.90,3.44,2.29,TEAM2
7599,17:30,2021-04-13,/soccer/england/championship/huddersfield-bour...,Huddersfield,Bournemouth,4.15,3.60,1.90,TEAM2
7602,19:00,2021-04-13,/soccer/england/national-league/dagenham-red-e...,Dag & Red,Eastleigh,2.40,3.20,2.94,TEAM2
7604,19:00,2021-04-13,/soccer/england/national-league/halifax-wrexha...,FC Halifax,Wrexham,2.21,3.26,3.25,TEAM2
7603,19:00,2021-04-13,/soccer/england/national-league/sutton-torquay...,Sutton,Torquay,2.26,3.09,3.35,TEAM2
7607,19:45,2021-04-13,/soccer/england/national-league/weymouth-alder...,Weymouth,Aldershot,3.09,3.23,2.29,TEAM2
7606,19:45,2021-04-13,/soccer/england/national-league/woking-bromley...,Woking,Bromley,2.59,3.33,2.60,TEAM2
7608,19:00,2021-04-13,/soccer/france/national/boulogne-sete-OET3f7ib/,Boulogne,Sete,1.99,2.95,4.31,DRAW
7611,19:00,2021-04-13,/soccer/france/national/boulogne-sete-OET3f7ib/,Boulogne,Sete,1.99,2.95,4.31,TEAM2
7597,19:00,2021-04-13,/soccer/scotland/championship/queen-of-south-r...,Queen of South,Raith,2.75,3.42,2.41,TEAM2

### Daily predictions machin4 EMPATE

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []