In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
64,25/04/2021,18:00,basketball,usa,nba,Washington Wizards,Cleveland Cavaliers,226.5,1.9,100,UNDER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
6,26/04/2021,17:30,hockey,usa,nhl,Calgary Flames,Montreal Canadiens,5.5,1.9,100,UNDER

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
40,26/04/2021,11:30,soccer,italy,serie-a,Torino,Napoli,2.75,1.9,100,OVER

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
1547,18:00,25/04/2021,soccer@costa-rica,primera-division,Herediano,Saprissa,2.42,3.06,2.97,TEAM1,-88.408398,53
1548,20:00,25/04/2021,soccer@costa-rica,primera-division,Santos DG,Limon,1.77,3.47,4.41,TEAM1,148.224237,53
1557,11:00,26/04/2021,soccer@israel,leumit-league,Beitar Tel Aviv,H. Ironi Rishon,2.42,3.06,2.79,TEAM1,-94.655546,54
1567,11:00,26/04/2021,soccer@israel,leumit-league,Hapoel Jerusalem,Ramat Hasharon,1.82,3.27,4.14,DRAW,122.843933,59
1569,11:00,26/04/2021,soccer@israel,leumit-league,H. Raanana,Hapoel Afula,2.41,3.04,2.78,DRAW,-120.905873,59
1546,12:30,26/04/2021,soccer@romania,liga-1,FC Voluntari,Viitorul Constanta,3.46,3.08,2.20,TEAM2,252.144037,55

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=4)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
1547,18:00,25/04/2021,soccer@costa-rica,primera-division,Herediano,Saprissa,2.42,3.06,2.97,TEAM1,-88.408398,53
1548,20:00,25/04/2021,soccer@costa-rica,primera-division,Santos DG,Limon,1.77,3.47,4.41,TEAM1,148.224237,53
1557,11:00,26/04/2021,soccer@israel,leumit-league,Beitar Tel Aviv,H. Ironi Rishon,2.42,3.06,2.79,TEAM1,-94.655546,54
1567,11:00,26/04/2021,soccer@israel,leumit-league,Hapoel Jerusalem,Ramat Hasharon,1.82,3.27,4.14,DRAW,122.843933,59
1569,11:00,26/04/2021,soccer@israel,leumit-league,H. Raanana,Hapoel Afula,2.41,3.04,2.78,DRAW,-120.905873,59
1575,11:30,26/04/2021,soccer@greece,super-league,Smyrnis,Volos,2.22,2.98,3.63,TEAM1,-210.405901,52

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
716,25/04/2021,18:00,basketball,usa,nba,Washington Wizards,Cleveland Cavaliers,UNDER-231.5,1.58,100.0
715,26/04/2021,07:00,soccer,china,super-league,Guangzhou City,Chongqing Lifan,X1,1.89,100.0
712,26/04/2021,11:00,soccer,israel,leumit-league,H. Raanana,Hapoel Afula,X2,2.78,100.0
714,26/04/2021,11:30,soccer,sweden,superettan,Vasteras SK,Vasalunds,X1,1.85,100.0
713,26/04/2021,12:00,soccer,germany,3-liga,Bayern II,Saarbrucken,X2,2.87,100.0

## NHL CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
388,0:0,2021-04-26,hockey/usa_nhl,Ottawa Senators,Vancouver Canucks,2.61,4.28,2.28,1
389,0:0,2021-04-26,hockey/usa_nhl,Dallas Stars,Carolina Hurricanes,2.67,4.12,2.28,1
390,0:0,2021-04-26,hockey/usa_nhl,Calgary Flames,Montreal Canadiens,2.21,4.16,2.76,2

### TAN!! SPECIAL SELECTION

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2275,13:00,26/04/2021,/soccer/portugal/primeira-liga/benfica-santa-c...,Benfica,Santa Clara,1.31,5.30,10.36,TEAM1
2276,14:00,26/04/2021,/soccer/england/premier-league/leicester-cryst...,Leicester,Crystal Palace,1.47,4.37,8.05,TEAM1

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
179,00:30,2021-04-26,/basketball/usa/nba/atlanta-hawks-milwaukee-bu...,Atlanta Hawks,Milwaukee Bucks,3.05,0.00,1.41,0.548471
180,01:00,2021-04-26,/basketball/usa/nba/orlando-magic-indiana-pace...,Orlando Magic,Indiana Pacers,2.83,0.00,1.46,0.430691
178,13:00,2021-04-26,/soccer/china/super-league/guangzhou-city-chon...,Guangzhou City,Chongqing Lifan,1.89,3.59,3.86,0.251342

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1369,2021-04-26,20:00,soccer,england,premier-league,Leicester,Crystal Palace,TEAM1,1.000000,1.47,100
1364,2021-04-26,17:45,soccer,france,national,Stade Briochin,Le Mans,X2,1.000000,3.13,100
1368,2021-04-26,17:00,soccer,germany,2-bundesliga,Karlsruher,Aue,X2,1.000000,3.82,100
1367,2021-04-26,18:00,soccer,germany,3-liga,Bayern II,Saarbrucken,X2,1.000000,2.87,100
1365,2021-04-26,17:00,soccer,israel,leumit-league,Hapoel Jerusalem,Ramat Hasharon,X2,1.000000,4.14,100
1366,2021-04-26,17:00,soccer,israel,leumit-league,H. Raanana,Hapoel Afula,X2,1.000000,2.78,100
1370,2021-04-26,00:30,basketball,usa,nba,Atlanta Hawks,Milwaukee Bucks,OVER,0.718030,1.90,100
1371,2021-04-26,01:00,basketball,usa,nba,Orlando Magic,Indiana Pacers,OVER,0.555893,1.90,100
1372,2021-04-26,03:00,basketball,usa,nba,Golden State Warriors,Sacramento Kings,OVER,0.707122,1.90,100

### Criterio

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1339,2021-04-26,20:00,soccer,england,premier-league,Leicester,Crystal Palace,TEAM1,1.47,156
1342,2021-04-26,17:00,soccer,israel,leumit-league,Hapoel Kfar Shalem,H. Akko,TEAM1,2.42,166
1341,2021-04-26,19:00,soccer,portugal,primeira-liga,Benfica,Santa Clara,TEAM1,1.31,178
1343,2021-04-26,18:30,soccer,romania,liga-1,FC Voluntari,Viitorul Constanta,TEAM1,3.46,262
1340,2021-04-26,18:00,soccer,spain,laliga2,Rayo Vallecano,Albacete,TEAM1,1.60,238

___

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1600,20:00,2021-04-26,/soccer/england/premier-league/leicester-cryst...,Leicester,Crystal Palace,1.47,4.37,8.05,TEAM1
1601,18:00,2021-04-26,/soccer/spain/laliga2/rayo-vallecano-albacete-...,Rayo Vallecano,Albacete,1.60,3.61,6.50,TEAM1

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1623,2021-04-26,17:30,soccer,italy,serie-a,Torino,Napoli,3.75,1.37,100,0.873898
1624,2021-04-26,20:00,soccer,spain,laliga,Eibar,Real Sociedad,3.25,1.32,100,0.551631
1617,2021-04-26,00:00,basketball,usa,nba,Washington Wizards,Cleveland Cavaliers,231.50,1.58,100,0.377838
1618,2021-04-26,00:30,basketball,usa,nba,Atlanta Hawks,Milwaukee Bucks,232.00,1.55,100,0.718030
1619,2021-04-26,01:00,basketball,usa,nba,Orlando Magic,Indiana Pacers,230.50,1.58,100,0.555893
1620,2021-04-26,03:00,basketball,usa,nba,Golden State Warriors,Sacramento Kings,236.50,1.59,100,0.707122
1621,2021-04-26,00:00,hockey,usa,nhl,Tampa Bay Lightning,Columbus Blue Jackets,6.50,1.42,100,0.109497
1622,2021-04-26,23:30,hockey,usa,nhl,Calgary Flames,Montreal Canadiens,6.50,1.40,100,0.850070

## NBA

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
803,00:30,2021-04-26,/basketball/usa/nba/atlanta-hawks-milwaukee-bu...,Atlanta Hawks,Milwaukee Bucks,3.05,0,1.41,0.548471
805,03:00,2021-04-26,/basketball/usa/nba/golden-state-warriors-sacr...,Golden State Warriors,Sacramento Kings,1.32,0,3.57,0.587570
804,01:00,2021-04-26,/basketball/usa/nba/orlando-magic-indiana-pace...,Orlando Magic,Indiana Pacers,2.83,0,1.46,0.430691
802,00:00,2021-04-26,/basketball/usa/nba/washington-wizards-clevela...,Washington Wizards,Cleveland Cavaliers,1.34,0,3.39,0.669274

## NBA CLUSTER FALLO

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA FALLO SIN FILTRO

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
753,23:30,2021-04-26,/hockey/usa/nhl/calgary-flames-montreal-canadi...,Calgary Flames,Montreal Canadiens,2.21,4.13,2.76,0.512206
752,00:00,2021-04-26,/hockey/usa/nhl/tampa-bay-lightning-columbus-b...,Tampa Bay Lightning,Columbus Blue Jackets,1.55,4.84,4.96,0.692933

### MLB

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
268,20:00,2021-04-26,/soccer/england/premier-league/leicester-cryst...,Leicester,Crystal Palace,1.47,4.37,8.05,0.624322

### SOCCER CLUSTER FALLO

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
592,17:00,2021-04-26,soccer/israel_leumit-league,Hapoel Kfar Shalem,H. Akko,2.42,3.22,2.65,2-H. Akko-0.21
591,19:00,2021-04-26,soccer/portugal_primeira-liga,Famalicao,Tondela,1.90,3.45,4.21,2-Famalicao-0.12
590,17:30,2021-04-26,soccer/sweden_allsvenskan,Elfsborg,Mjallby,1.66,3.65,5.60,2-Elfsborg-0.12

###  MILAN - ms negativo -77

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
195,2021-04-26,01:30,soccer,mexico,liga-mx,Queretaro,Juarez,TEAM1,0.59287,1.63,100

### NFL

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
347,19:30,2021-04-26,/hockey/germany/del/adler-mannheim-grizzly-wol...,Adler Mannheim,Grizzly Wolfsburg,1.60,4.57,4.58,0.593764
346,17:30,2021-04-26,/hockey/germany/del/eisbaren-berlin-erc-ingols...,Eisbaren Berlin,ERC Ingolstadt,1.78,4.70,3.47,0.551733

### Daily predictions machin3.

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7401,19:00,2021-04-26,/soccer/portugal/primeira-liga/benfica-santa-c...,Benfica,Santa Clara,1.31,5.30,10.36,0.679486
7405,20:00,2021-04-26,/soccer/england/premier-league/leicester-cryst...,Leicester,Crystal Palace,1.47,4.37,8.05,0.624322
7398,19:45,2021-04-26,/soccer/italy/serie-a/lazio-ac-milan-0KvmV8iq/,Lazio,AC Milan,2.23,3.77,3.12,0.559458
7400,17:00,2021-04-26,/soccer/portugal/primeira-liga/belenenses-gil-...,Belenenses,Gil Vicente,2.71,2.92,2.95,0.558157
7403,19:00,2021-04-26,/soccer/portugal/primeira-liga/famalicao-tonde...,Famalicao,Tondela,1.90,3.45,4.21,0.543809
7408,18:00,2021-04-26,/soccer/sweden/division-1-norra/hammarby-tff-a...,Hammarby TFF,Assyriska FF,1.52,4.60,4.60,0.542487
7409,01:00,2021-04-26,/soccer/world/club-friendly/chattanooga-detroi...,Chattanooga (Usa),Detroit (Usa),2.17,2.95,3.62,0.525719
7397,17:30,2021-04-26,/soccer/italy/serie-a/torino-napoli-ENriUS6k/,Torino,Napoli,4.35,4.01,1.80,0.432861
7399,20:00,2021-04-26,/soccer/spain/laliga/eibar-real-sociedad-GnJkA...,Eibar,Real Sociedad,4.24,3.57,1.92,0.428167
7402,19:00,2021-04-26,/soccer/portugal/primeira-liga/nacional-vitori...,Nacional,Vitoria Guimaraes,3.58,3.29,2.14,0.411054
7406,16:00,2021-04-26,/soccer/bulgaria/parva-liga/cska-1948-sofia-lo...,CSKA 1948 Sofia,Lok. Plovdiv,4.69,3.59,1.70,0.394650
7404,21:15,2021-04-26,/soccer/portugal/primeira-liga/moreirense-fc-p...,Moreirense,FC Porto,10.02,5.13,1.32,0.369812
7407,18:15,2021-04-26,/soccer/bulgaria/parva-liga/botev-plovdiv-ludo...,Botev Plovdiv,Ludogorets,7.52,4.69,1.36,0.295140

___

## EXPERIMENTAL

### Daily model 53

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1463,15:00,2021-04-26,/soccer/armenia/premier-league/noah-alashkert-...,Noah,Alashkert,2.64,2.98,2.64,TEAM2
1469,13:00,2021-04-26,/soccer/china/super-league/guangzhou-city-chon...,Guangzhou City,Chongqing Lifan,1.89,3.59,3.86,TEAM1
1460,17:00,2021-04-26,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,H. Ironi Rishon,2.42,3.06,2.79,TEAM1
1467,17:00,2021-04-26,/soccer/israel/leumit-league/h-raanana-hapoel-...,H. Raanana,Hapoel Afula,2.41,3.04,2.78,DRAW
1465,17:00,2021-04-26,/soccer/israel/leumit-league/hapoel-jerusalem-...,Hapoel Jerusalem,Ramat Hasharon,1.82,3.27,4.14,DRAW
1456,18:30,2021-04-26,/soccer/romania/liga-1/voluntari-viitorul-cons...,FC Voluntari,Viitorul Constanta,3.46,3.08,2.20,TEAM2

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8355,15:00,2021-04-26,/soccer/armenia/premier-league/noah-alashkert-...,Noah,Alashkert,2.64,2.98,2.64,TEAM2
8369,13:00,2021-04-26,/soccer/china/super-league/guangzhou-city-chon...,Guangzhou City,Chongqing Lifan,1.89,3.59,3.86,TEAM1
8346,00:00,2021-04-26,/soccer/costa-rica/primera-division/herediano-...,Herediano,Saprissa,2.42,3.06,2.97,TEAM1
8347,02:00,2021-04-26,/soccer/costa-rica/primera-division/santos-dg-...,Santos DG,Limon,1.77,3.47,4.41,TEAM1
8356,17:45,2021-04-26,/soccer/france/national/stade-briochin-le-mans...,Stade Briochin,Le Mans,2.58,2.74,3.13,DRAW
8367,17:00,2021-04-26,/soccer/germany/2-bundesliga/karlsruher-aue-M7...,Karlsruher,Aue,1.93,3.63,3.82,DRAW
8363,18:00,2021-04-26,/soccer/germany/3-liga/bayern-saarbrucken-2mk4...,Bayern II,Saarbrucken,2.33,3.49,2.87,DRAW
8365,17:30,2021-04-26,/soccer/greece/super-league/smyrnis-volos-K26W...,Smyrnis,Volos,2.22,2.98,3.63,TEAM1
8352,17:00,2021-04-26,/soccer/israel/leumit-league/beitar-tel-aviv-h...,Beitar Tel Aviv,H. Ironi Rishon,2.42,3.06,2.79,TEAM1
8360,17:00,2021-04-26,/soccer/israel/leumit-league/h-raanana-hapoel-...,H. Raanana,Hapoel Afula,2.41,3.04,2.78,DRAW
8358,17:00,2021-04-26,/soccer/israel/leumit-league/hapoel-jerusalem-...,Hapoel Jerusalem,Ramat Hasharon,1.82,3.27,4.14,DRAW
8345,18:30,2021-04-26,/soccer/romania/liga-1/voluntari-viitorul-cons...,FC Voluntari,Viitorul Constanta,3.46,3.08,2.20,TEAM2
8362,17:30,2021-04-26,/soccer/sweden/superettan/vasteras-sk-vasalund...,Vasteras SK,Vasalunds,1.85,3.76,3.85,TEAM1

### Daily predictions machin4 EMPATE

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []