In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
57,11:00,07/05/2021,soccer/czech-republic_1-liga,Jablonec,Teplice,1.35,5.06,7.86,1-Jablonec--0.12

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
115,06/05/2021,19:00,basketball,usa,nba,Indiana Pacers,Atlanta Hawks,240.0,1.9,100,OVER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
31,07/05/2021,07:00,soccer,italy,serie-b,Frosinone,L.R. Vicenza,3-Frosinone-0.19,1.9,100,FT_EMPATE
32,07/05/2021,08:00,soccer,israel,leumit-league,Hapoel Jerusalem,Hap. Ramat Gan,3-Hapoel Jerusalem-0.66,1.9,100,FT_EMPATE
33,07/05/2021,11:30,soccer,germany,2-bundesliga,Holstein Kiel,St. Pauli,7-St. Pauli-0.05,1.9,100,FT_EMPATE

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_model_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
6,07/05/2021,07:00,soccer,italy,serie-b,Reggiana,Spal,TEAM1,3.01,100,TEAM1
7,07/05/2021,07:00,soccer,italy,serie-b,Ascoli,Cittadella,DRAW,2.97,100,DRAW
8,07/05/2021,07:00,soccer,italy,serie-b,Venezia,Pordenone,DRAW,3.34,100,DRAW
9,07/05/2021,11:30,soccer,austria,2-liga,Kapfenberg,SK Rapid Vienna (Am),TEAM2,2.78,100,TEAM2
5,07/05/2021,12:10,soccer,croatia,1-hnl,Gorica,Osijek,TEAM1,3.48,100,TEAM1

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
2444,09:00,07/05/2021,soccer@ukraine,persha-liga,Kramatorsk,Volyn Lutsk,4.06,3.31,1.78,TEAM2,12.210144,54
2428,10:00,07/05/2021,soccer@lithuania,a-lyga,Banga,FK Panevezys,3.97,3.78,1.73,TEAM1,-272.923047,80
2429,13:00,07/05/2021,soccer@netherlands,eredivisie,Sparta Rotterdam,Vitesse,3.14,3.63,2.20,TEAM2,-64.945087,58

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=5)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
2414,07:00,07/05/2021,soccer@italy,serie-b,Venezia,Pordenone,1.81,3.34,4.91,DRAW,152.247398,49
2415,07:00,07/05/2021,soccer@italy,serie-b,Lecce,Reggina,1.72,3.51,5.26,DRAW,-107.937421,49
2416,07:00,07/05/2021,soccer@italy,serie-b,Cosenza,Monza,4.68,3.39,1.83,DRAW,-251.707969,49
2397,07:00,07/05/2021,soccer@italy,serie-b,Ascoli,Cittadella,2.77,2.97,2.81,TEAM1,152.588595,51
2398,07:00,07/05/2021,soccer@italy,serie-b,Frosinone,L.R. Vicenza,2.43,2.75,3.55,TEAM1,7.949794,51
2399,07:00,07/05/2021,soccer@italy,serie-b,Cremonese,Pescara,1.87,3.43,4.34,TEAM1,211.331373,51
2402,07:00,07/05/2021,soccer@italy,serie-b,Cosenza,Monza,4.68,3.39,1.83,TEAM1,-251.707969,51
2386,08:00,07/05/2021,soccer@croatia,1-hnl,Lok. Zagreb,Slaven Belupo,2.52,2.95,2.95,TEAM1,-48.277110,48
2430,09:30,07/05/2021,soccer@bulgaria,parva-liga,Beroe,Arda,2.02,3.17,3.63,TEAM1,-164.471430,41
2428,10:00,07/05/2021,soccer@lithuania,a-lyga,Banga,FK Panevezys,3.97,3.78,1.73,TEAM1,-272.923047,80
2387,10:05,07/05/2021,soccer@croatia,1-hnl,Sibenik,Istra 1961,2.42,3.07,2.96,TEAM1,205.117401,48
2432,12:00,07/05/2021,soccer@germany,3-liga,Turkgucu Munchen,Verl,3.47,3.77,1.94,TEAM2,-128.981696,50
2418,12:00,07/05/2021,soccer@germany,3-liga,Turkgucu Munchen,Verl,3.47,3.77,1.94,DRAW,-128.981696,51
2388,12:10,07/05/2021,soccer@croatia,1-hnl,Gorica,Osijek,3.48,3.16,2.11,TEAM1,-175.673620,48
2395,13:30,07/05/2021,soccer@germany,bundesliga,Stuttgart,Augsburg,2.07,3.58,3.64,TEAM1,-59.220355,52

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
780,06/05/2021,18:00,basketball,usa,nba,Charlotte Hornets,Chicago Bulls,UNDER-223.5,1.58,100.0
781,06/05/2021,18:30,basketball,usa,nba,Dallas Mavericks,Brooklyn Nets,UNDER-239.5,1.59,100.0
782,06/05/2021,19:00,basketball,usa,nba,Detroit Pistons,Memphis Grizzlies,UNDER-226.5,1.61,100.0
777,06/05/2021,20:38,baseball,usa,mlb,Los Angeles Angels,Tampa Bay Rays,X1,1.67,191.0
779,07/05/2021,07:00,soccer,italy,serie-b,Cremonese,Pescara,X1,1.87,100.0
774,07/05/2021,08:00,soccer,israel,leumit-league,H. Raanana,MS Kafr Qasim,X2,2.82,100.0
778,07/05/2021,08:00,soccer,israel,leumit-league,Nes Tziona,Beitar Tel Aviv,X1,1.87,100.0
776,07/05/2021,11:30,soccer,germany,2-bundesliga,Holstein Kiel,St. Pauli,X2,2.82,100.0
775,07/05/2021,12:00,soccer,germany,3-liga,Turkgucu Munchen,Verl,X2,1.94,100.0

## NHL CLUSTER FALLO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
434,0:0,2021-05-07,hockey/usa_nhl,Columbus Blue Jackets,Detroit Red Wings,2.14,4.03,2.97,2
435,0:0,2021-05-07,hockey/usa_nhl,Tampa Bay Lightning,Dallas Stars,2.00,4.18,3.19,2
436,0:0,2021-05-07,hockey/usa_nhl,Washington Capitals,Philadelphia Flyers,1.82,4.57,3.52,2

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl_original")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
37,0:0,2021-05-07,hockey/usa_nhl,Columbus Blue Jackets,Detroit Red Wings,2.14,4.03,2.97,2
38,0:0,2021-05-07,hockey/usa_nhl,Tampa Bay Lightning,Dallas Stars,2.00,4.18,3.19,2
39,0:0,2021-05-07,hockey/usa_nhl,Washington Capitals,Philadelphia Flyers,1.82,4.57,3.52,2

### TAN!! SPECIAL SELECTION

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2319,08:00,07/05/2021,/soccer/ukraine/persha-liga/veres-rivne-krysta...,Veres-Rivne,Krystal,1.07,8.53,17.86,TEAM1
2318,14:00,07/05/2021,/soccer/england/premier-league/leicester-newca...,Leicester,Newcastle,1.42,4.88,7.94,TEAM1
2317,14:00,07/05/2021,/soccer/spain/laliga/real-sociedad-elche-8pQXw...,Real Sociedad,Elche,1.56,3.91,7.24,TEAM1

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
208,00:00,2021-05-07,/basketball/usa/nba/charlotte-hornets-chicago-...,Charlotte Hornets,Chicago Bulls,2.51,0.0,1.57,0.588064
209,00:30,2021-05-07,/basketball/usa/nba/dallas-mavericks-brooklyn-...,Dallas Mavericks,Brooklyn Nets,2.35,0.0,1.64,0.559337
211,01:00,2021-05-07,/basketball/usa/nba/indiana-pacers-atlanta-haw...,Indiana Pacers,Atlanta Hawks,3.02,0.0,1.42,0.456517
210,00:30,2021-05-07,/basketball/usa/nba/toronto-raptors-washington...,Toronto Raptors,Washington Wizards,1.96,0.0,1.90,0.470361

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1492,2021-05-07,20:00,soccer,england,premier-league,Leicester,Newcastle,TEAM1,1.000000,1.42,100
1490,2021-05-07,17:30,soccer,germany,2-bundesliga,Holstein Kiel,St. Pauli,X2,1.000000,2.82,100
1489,2021-05-07,18:00,soccer,germany,3-liga,Turkgucu Munchen,Verl,X2,1.000000,1.94,100
1486,2021-05-07,14:00,soccer,israel,leumit-league,Hapoel Jerusalem,Hap. Ramat Gan,X2,1.000000,4.31,100
1487,2021-05-07,14:00,soccer,israel,leumit-league,M. Nazareth,Hapoel Kfar Shalem,X2,1.000000,3.33,100
1488,2021-05-07,14:00,soccer,israel,leumit-league,H. Raanana,MS Kafr Qasim,X2,1.000000,2.82,100
1491,2021-05-07,20:00,soccer,spain,laliga,Real Sociedad,Elche,TEAM1,1.000000,1.56,100
1493,2021-05-07,02:38,baseball,usa,mlb,Los Angeles Angels,Tampa Bay Rays,UNDER,0.535149,1.90,100
1494,2021-05-07,00:30,basketball,usa,nba,Toronto Raptors,Washington Wizards,OVER,0.747130,1.90,100
1495,2021-05-07,01:00,basketball,usa,nba,Indiana Pacers,Atlanta Hawks,OVER,0.634573,1.90,100
1496,2021-05-07,03:00,basketball,usa,nba,Golden State Warriors,Oklahoma City Thunder,OVER,0.870606,1.90,100
1497,2021-05-07,03:00,basketball,usa,nba,Los Angeles Clippers,Los Angeles Lakers,OVER,0.643926,1.90,100

### Criterio

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1389,2021-05-07,17:00,soccer,iran,division-1,Havadar SC,Chooka Talesh,TEAM1,1.66,272
1393,2021-05-07,10:30,baseball,south-korea,kbo,KT Wiz Suwon,NC Dinos,TEAM1,1.99,140
1390,2021-05-07,20:00,soccer,spain,laliga,Real Sociedad,Elche,TEAM1,1.56,222
1391,2021-05-07,14:00,soccer,ukraine,persha-liga,Veres-Rivne,Krystal,TEAM1,1.07,183
1392,2021-05-07,00:00,hockey,usa,nhl,Pittsburgh Penguins,Buffalo Sabres,TEAM1,1.44,183

___

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1668,00:00,2021-05-07,/hockey/usa/nhl/pittsburgh-penguins-buffalo-sa...,Pittsburgh Penguins,Buffalo Sabres,1.44,5.47,5.69,TEAM1
1669,17:10,2021-05-07,/soccer/austria/2-liga/bw-linz-lafnitz-Auebmtc2/,BW Linz,Lafnitz,1.50,4.19,6.16,TEAM1
1670,20:00,2021-05-07,/soccer/england/premier-league/leicester-newca...,Leicester,Newcastle,1.42,4.88,7.94,TEAM1
1671,17:00,2021-05-07,/soccer/iran/division-1/havadar-sc-chooka-tale...,Havadar SC,Chooka Talesh,1.66,3.13,5.08,TEAM1
1672,13:00,2021-05-07,/soccer/italy/serie-b/brescia-pisa-Es7mY1ss/,Brescia,Pisa,1.54,3.96,6.60,TEAM1
1673,18:00,2021-05-07,/soccer/russia/premier-league/pfc-sochi-r-volg...,Sochi,R. Volgograd,1.43,4.48,7.96,TEAM1
1674,20:00,2021-05-07,/soccer/spain/laliga/real-sociedad-elche-8pQXw...,Real Sociedad,Elche,1.56,3.91,7.24,TEAM1

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1859,2021-05-07,20:00,soccer,england,premier-league,Leicester,Newcastle,3.75,1.36,100,0.200803
1860,2021-05-07,19:30,soccer,germany,bundesliga,Stuttgart,Augsburg,3.75,1.35,100,0.758160
1861,2021-05-07,16:00,soccer,lithuania,a-lyga,Banga,FK Panevezys,3.75,1.34,100,0.785863
1850,2021-05-07,02:38,baseball,usa,mlb,Los Angeles Angels,Tampa Bay Rays,10.00,1.44,100,0.535149
1851,2021-05-07,00:00,basketball,usa,nba,Charlotte Hornets,Chicago Bulls,223.50,1.58,100,0.368417
1852,2021-05-07,00:30,basketball,usa,nba,Dallas Mavericks,Brooklyn Nets,239.50,1.59,100,0.368580
1853,2021-05-07,00:30,basketball,usa,nba,Toronto Raptors,Washington Wizards,242.00,1.61,100,0.747130
1854,2021-05-07,01:00,basketball,usa,nba,Detroit Pistons,Memphis Grizzlies,226.50,1.61,100,0.397239
1855,2021-05-07,01:00,basketball,usa,nba,Indiana Pacers,Atlanta Hawks,245.00,1.58,100,0.634573
1856,2021-05-07,03:00,basketball,usa,nba,Golden State Warriors,Oklahoma City Thunder,231.00,1.59,100,0.870606
1857,2021-05-07,03:00,basketball,usa,nba,Los Angeles Clippers,Los Angeles Lakers,216.00,1.58,100,0.643926
1858,2021-05-07,00:00,hockey,usa,nhl,Carolina Hurricanes,Chicago Blackhawks,7.00,1.38,100,0.310384

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_handicap1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
154,2021-05-07,20:00,soccer,england,premier-league,Leicester,Newcastle,-1.25,1.9,100,0.103858
155,2021-05-07,00:00,basketball,usa,nba,Charlotte Hornets,Chicago Bulls,4.50,1.9,100,0.319609
156,2021-05-07,00:30,basketball,usa,nba,Dallas Mavericks,Brooklyn Nets,3.50,1.9,100,0.403031
157,2021-05-07,00:30,basketball,usa,nba,Toronto Raptors,Washington Wizards,1.50,1.9,100,0.707350
158,2021-05-07,01:00,basketball,usa,nba,Detroit Pistons,Memphis Grizzlies,9.00,1.9,100,0.709428
159,2021-05-07,01:00,basketball,usa,nba,Indiana Pacers,Atlanta Hawks,6.50,1.9,100,0.364108
160,2021-05-07,03:00,basketball,usa,nba,Golden State Warriors,Oklahoma City Thunder,-14.50,1.9,100,0.482736
161,2021-05-07,03:00,basketball,usa,nba,Los Angeles Clippers,Los Angeles Lakers,-8.50,1.9,100,0.360106
148,2021-05-07,00:00,hockey,usa,nhl,Carolina Hurricanes,Chicago Blackhawks,-1.75,1.9,100,0.602373
149,2021-05-07,00:00,hockey,usa,nhl,Boston Bruins,New York Rangers,-1.25,1.9,100,0.667404
150,2021-05-07,00:00,hockey,usa,nhl,New York Islanders,New Jersey Devils,-1.25,1.9,100,0.713367
151,2021-05-07,00:00,hockey,usa,nhl,Pittsburgh Penguins,Buffalo Sabres,-2.00,1.9,100,0.248273
152,2021-05-07,00:00,hockey,usa,nhl,Toronto Maple Leafs,Montreal Canadiens,-1.25,1.9,100,0.689943
153,2021-05-07,02:00,hockey,usa,nhl,Edmonton Oilers,Vancouver Canucks,-1.50,1.9,100,0.765080

## NBA

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
889,00:00,2021-05-07,/basketball/usa/nba/charlotte-hornets-chicago-...,Charlotte Hornets,Chicago Bulls,2.51,0,1.57,0.588064
890,00:30,2021-05-07,/basketball/usa/nba/dallas-mavericks-brooklyn-...,Dallas Mavericks,Brooklyn Nets,2.35,0,1.64,0.559337
892,01:00,2021-05-07,/basketball/usa/nba/detroit-pistons-memphis-gr...,Detroit Pistons,Memphis Grizzlies,4.59,0,1.22,0.440629
894,03:00,2021-05-07,/basketball/usa/nba/golden-state-warriors-okla...,Golden State Warriors,Oklahoma City Thunder,1.07,0,9.25,0.701697
893,01:00,2021-05-07,/basketball/usa/nba/indiana-pacers-atlanta-haw...,Indiana Pacers,Atlanta Hawks,3.02,0,1.42,0.456517
895,03:00,2021-05-07,/basketball/usa/nba/los-angeles-clippers-los-a...,Los Angeles Clippers,Los Angeles Lakers,1.28,0,3.95,0.631219
891,00:30,2021-05-07,/basketball/usa/nba/toronto-raptors-washington...,Toronto Raptors,Washington Wizards,1.96,0,1.90,0.470361

## NBA CLUSTER FALLO

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
292,0:0,2021-05-07,basketball/usa_nba,Los Angeles Clippers,Los Angeles Lakers,1.31,0,3.59,2
293,0:0,2021-05-07,basketball/usa_nba,Detroit Pistons,Memphis Grizzlies,5.11,0,1.18,1

## NBA FALLO SIN FILTRO

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
559,0:0,2021-05-07,basketball/usa_nba,Indiana Pacers,Atlanta Hawks,2.85,0,1.44,1
560,0:0,2021-05-07,basketball/usa_nba,Los Angeles Clippers,Los Angeles Lakers,1.31,0,3.59,2
561,0:0,2021-05-07,basketball/usa_nba,Detroit Pistons,Memphis Grizzlies,5.11,0,1.18,1

### MLB FALLO

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_mlb")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
835,00:00,2021-05-07,/hockey/usa/nhl/boston-bruins-new-york-rangers...,Boston Bruins,New York Rangers,1.64,4.65,4.45,0.591246
834,00:00,2021-05-07,/hockey/usa/nhl/carolina-hurricanes-chicago-bl...,Carolina Hurricanes,Chicago Blackhawks,1.53,5.15,4.91,0.678755
839,02:00,2021-05-07,/hockey/usa/nhl/edmonton-oilers-vancouver-canu...,Edmonton Oilers,Vancouver Canucks,1.63,4.78,4.35,0.661907
836,00:00,2021-05-07,/hockey/usa/nhl/new-york-islanders-new-jersey-...,New York Islanders,New Jersey Devils,1.65,4.63,4.34,0.584629
837,00:00,2021-05-07,/hockey/usa/nhl/pittsburgh-penguins-buffalo-sa...,Pittsburgh Penguins,Buffalo Sabres,1.44,5.47,5.69,0.612011
838,00:00,2021-05-07,/hockey/usa/nhl/toronto-maple-leafs-montreal-c...,Toronto Maple Leafs,Montreal Canadiens,1.71,4.68,3.91,0.545761

### MLB

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
281,20:00,2021-05-07,/soccer/england/premier-league/leicester-newca...,Leicester,Newcastle,1.42,4.88,7.94,0.624458
282,19:30,2021-05-07,/soccer/germany/bundesliga/vfb-stuttgart-augsb...,Stuttgart,Augsburg,2.07,3.58,3.64,0.590160

### SOCCER CLUSTER FALLO

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
224,0:0,2021-05-07,soccer/germany_bundesliga,Stuttgart,Augsburg,2.06,3.59,3.67,1

### SOCCER EMPATE SECUENCIA

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
661,17:30,2021-05-07,soccer/germany_2-bundesliga,Holstein Kiel,St. Pauli,2.41,3.55,2.82,7-St. Pauli-0.05
657,14:00,2021-05-07,soccer/israel_leumit-league,Hapoel Jerusalem,Hap. Ramat Gan,1.73,3.47,4.31,3-Hapoel Jerusalem-0.66
660,14:00,2021-05-07,soccer/israel_leumit-league,H. Raanana,MS Kafr Qasim,2.29,3.25,2.82,2-MS Kafr Qasim-0.08
656,13:00,2021-05-07,soccer/italy_serie-b,Frosinone,L.R. Vicenza,2.43,2.75,3.55,3-Frosinone-0.19
659,13:00,2021-05-07,soccer/italy_serie-b,Salernitana,Empoli,1.60,3.90,5.60,2-Empoli-0.11
658,19:00,2021-05-07,soccer/portugal_primeira-liga,Famalicao,Santa Clara,2.24,3.37,3.25,1-Famalicao-0.12

###  MILAN - más negativo -77

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
608,18:00,2021-05-07,soccer/denmark_superliga,Odense,Aalborg,2.87,3.53,2.37,FALLO-1-Odense--0.04
606,13:00,2021-05-07,soccer/italy_serie-b,Ascoli,Cittadella,2.77,2.97,2.81,FALLO-4-Ascoli--0.2
607,13:00,2021-05-07,soccer/italy_serie-b,Salernitana,Empoli,1.60,3.90,5.60,FALLO-1-Salernitana--0.38
610,13:00,2021-05-07,soccer/italy_serie-b,Cremonese,Pescara,1.87,3.43,4.34,FAVORITO-2-Pescara--0.26
609,20:00,2021-05-07,soccer/spain_laliga2,Tenerife,Almeria,3.20,2.82,2.58,FAVORITO-1-Tenerife--0.42

## CRB - más positivo .49

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
105,20:00,2021-05-07,soccer/spain_laliga2,Tenerife,Almeria,3.2,2.82,2.58,FALLO-5-Almeria-0.49

### LIGA MX

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
363,16:30,2021-05-07,/hockey/finland/liiga/lukko-rauman-tps-turku-A...,Lukko,TPS Turku,1.63,4.27,4.52,0.574831
364,18:30,2021-05-07,/hockey/germany/del/eisbaren-berlin-grizzly-wo...,Eisbaren Berlin,Grizzly Wolfsburg,1.76,4.34,3.79,0.476529

### Daily predictions machin3.

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
744,18:00,2021-05-07,/soccer/belarus/vysshaya-liga/fc-gomel-slutsk-...,FC Gomel,Slutsk,1.69,3.60,4.75,TEAM1
743,18:10,2021-05-07,/soccer/croatia/1-hnl/hnk-gorica-osijek-SxDGT84O/,Gorica,Osijek,3.48,3.16,2.11,TEAM2
742,16:30,2021-05-07,/soccer/finland/veikkausliiga/ktp-honka-Kl73kIsH/,KTP,Honka,5.54,3.73,1.63,TEAM2

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7644,14:00,2021-05-07,/soccer/ukraine/persha-liga/veres-rivne-krysta...,Veres-Rivne,Krystal,1.07,8.53,17.86,0.843477
7651,11:00,2021-05-07,/soccer/australia/npl-victoria/green-gully-eas...,Green Gully,Eastern Lions,1.69,4.08,4.05,0.646415
7637,20:00,2021-05-07,/soccer/spain/laliga/real-sociedad-elche-8pQXw...,Real Sociedad,Elche,1.56,3.91,7.24,0.625314
7640,20:00,2021-05-07,/soccer/england/premier-league/leicester-newca...,Leicester,Newcastle,1.42,4.88,7.94,0.624458
7648,17:45,2021-05-07,/soccer/ireland/premier-division/derry-city-lo...,Derry City,Longford,1.95,3.35,3.85,0.597875
7638,19:00,2021-05-07,/soccer/portugal/primeira-liga/famalicao-santa...,Famalicao,Santa Clara,2.24,3.37,3.25,0.578084
7643,14:00,2021-05-07,/soccer/ukraine/persha-liga/hirnyk-sport-komso...,Hirnyk-Sport,Alliance,2.22,2.96,3.12,0.510893
7646,14:00,2021-05-07,/soccer/ukraine/persha-liga/mfk-mykolaiv-ch-od...,Mykolaiv,Ch. Odessa,2.42,2.99,2.74,0.497497
7639,21:15,2021-05-07,/soccer/portugal/primeira-liga/boavista-tondel...,Boavista,Tondela,1.71,3.84,4.90,0.486994
7652,11:15,2021-05-07,/soccer/australia/npl-victoria/melbourne-knigh...,Melbourne Knights,South Melbourne,3.06,3.62,2.07,0.486002
7649,19:45,2021-05-07,/soccer/ireland/premier-division/dundalk-sligo...,Dundalk,Sligo Rovers,1.96,3.48,3.72,0.482830
7642,18:00,2021-05-07,/soccer/bulgaria/parva-liga/cska-1948-sofia-cs...,CSKA 1948 Sofia,CSKA Sofia,10.85,5.45,1.23,0.471350
7641,15:30,2021-05-07,/soccer/bulgaria/parva-liga/beroe-arda-dSLwd339/,Beroe,Arda,2.02,3.17,3.63,0.468316
7647,15:00,2021-05-07,/soccer/ukraine/persha-liga/kramatorsk-volyn-l...,Kramatorsk,Volyn Lutsk,4.06,3.31,1.78,0.449670
7650,16:00,2021-05-07,/soccer/lithuania/a-lyga/banga-fk-panevezys-8Y...,Banga,FK Panevezys,3.97,3.78,1.73,0.405392
7653,11:30,2021-05-07,/soccer/australia/npl-victoria/dandenong-city-...,Dandenong City,Bentleigh Greens,5.77,4.57,1.41,0.404373
7645,14:00,2021-05-07,/soccer/ukraine/persha-liga/prykarpattya-ivano...,Prykarpattya,Ahrobiznes Volochysk,6.83,4.11,1.39,0.360109

___

## EXPERIMENTAL

### Daily model 53

In [41]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1632,19:00,2021-05-07,/soccer/iceland/pepsideild/kr-reykjavik-ka-aku...,KR Reykjavik,KA Akureyri,1.77,3.64,4.30,TEAM1
1648,14:00,2021-05-07,/soccer/israel/leumit-league/h-raanana-ms-kafr...,H. Raanana,MS Kafr Qasim,2.29,3.25,2.82,DRAW
1636,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-afula-hapo...,Hapoel Afula,H. Akko,2.02,3.48,3.18,TEAM1
1644,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-jerusalem-...,Hapoel Jerusalem,Hap. Ramat Gan,1.73,3.47,4.31,DRAW
1640,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-umm-al-fah...,Hapoel Umm al-Fahm,Hapoel Petah Tikva,2.97,3.17,2.25,TEAM1
1647,14:00,2021-05-07,/soccer/israel/leumit-league/m-nazareth-hapoel...,M. Nazareth,Hapoel Kfar Shalem,2.05,3.25,3.33,DRAW
1635,14:00,2021-05-07,/soccer/israel/leumit-league/nes-tziona-beitar...,Nes Tziona,Beitar Tel Aviv,1.87,3.57,3.56,TEAM1
1639,14:00,2021-05-07,/soccer/israel/leumit-league/ramat-hasharon-h-...,Ramat Hasharon,H. Ironi Rishon,2.48,3.46,2.47,TEAM1
1652,16:00,2021-05-07,/soccer/lithuania/a-lyga/banga-fk-panevezys-8Y...,Banga,FK Panevezys,3.97,3.78,1.73,TEAM1
1653,19:00,2021-05-07,/soccer/netherlands/eredivisie/sparta-rotterda...,Sparta Rotterdam,Vitesse,3.14,3.63,2.20,TEAM2
1658,15:00,2021-05-07,/soccer/ukraine/persha-liga/kramatorsk-volyn-l...,Kramatorsk,Volyn Lutsk,4.06,3.31,1.78,TEAM2

In [42]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8823,11:15,2021-05-07,/soccer/australia/npl-victoria/melbourne-knigh...,Melbourne Knights,South Melbourne,3.06,3.62,2.07,TEAM2
8829,19:00,2021-05-07,/soccer/france/national/orleans-le-mans-0zsS7xqC/,Orleans,Le Mans,2.63,3.32,2.63,TEAM1
8831,17:30,2021-05-07,/soccer/germany/2-bundesliga/holstein-kiel-st-...,Holstein Kiel,St. Pauli,2.41,3.55,2.82,DRAW
8822,18:00,2021-05-07,/soccer/germany/3-liga/turkgucu-munchen-verl-S...,Turkgucu Munchen,Verl,3.47,3.77,1.94,DRAW
8806,19:30,2021-05-07,/soccer/germany/bundesliga/vfb-stuttgart-augsb...,Stuttgart,Augsburg,2.07,3.58,3.64,TEAM1
8793,19:00,2021-05-07,/soccer/iceland/pepsideild/kr-reykjavik-ka-aku...,KR Reykjavik,KA Akureyri,1.77,3.64,4.30,TEAM1
8819,14:00,2021-05-07,/soccer/israel/leumit-league/h-raanana-ms-kafr...,H. Raanana,MS Kafr Qasim,2.29,3.25,2.82,DRAW
8797,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-afula-hapo...,Hapoel Afula,H. Akko,2.02,3.48,3.18,TEAM1
8815,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-jerusalem-...,Hapoel Jerusalem,Hap. Ramat Gan,1.73,3.47,4.31,DRAW
8801,14:00,2021-05-07,/soccer/israel/leumit-league/hapoel-umm-al-fah...,Hapoel Umm al-Fahm,Hapoel Petah Tikva,2.97,3.17,2.25,TEAM1
8818,14:00,2021-05-07,/soccer/israel/leumit-league/m-nazareth-hapoel...,M. Nazareth,Hapoel Kfar Shalem,2.05,3.25,3.33,DRAW
8796,14:00,2021-05-07,/soccer/israel/leumit-league/nes-tziona-beitar...,Nes Tziona,Beitar Tel Aviv,1.87,3.57,3.56,TEAM1
8800,14:00,2021-05-07,/soccer/israel/leumit-league/ramat-hasharon-h-...,Ramat Hasharon,H. Ironi Rishon,2.48,3.46,2.47,TEAM1
8808,13:00,2021-05-07,/soccer/italy/serie-b/ascoli-cittadella-tlgQG0C6/,Ascoli,Cittadella,2.77,2.97,2.81,TEAM1
8813,13:00,2021-05-07,/soccer/italy/serie-b/cosenza-monza-U9VGwOJJ/,Cosenza,Monza,4.68,3.39,1.83,TEAM1
8810,13:00,2021-05-07,/soccer/italy/serie-b/cremonese-pescara-80UKxrZP/,Cremonese,Pescara,1.87,3.43,4.34,TEAM1
8809,13:00,2021-05-07,/soccer/italy/serie-b/frosinone-vicenza-virtus...,Frosinone,L.R. Vicenza,2.43,2.75,3.55,TEAM1
8827,16:00,2021-05-07,/soccer/lithuania/a-lyga/banga-fk-panevezys-8Y...,Banga,FK Panevezys,3.97,3.78,1.73,TEAM1
8828,19:00,2021-05-07,/soccer/netherlands/eredivisie/sparta-rotterda...,Sparta Rotterdam,Vitesse,3.14,3.63,2.20,TEAM2
8836,15:00,2021-05-07,/soccer/ukraine/persha-liga/kramatorsk-volyn-l...,Kramatorsk,Volyn Lutsk,4.06,3.31,1.78,TEAM2

### Daily predictions machin4 EMPATE

In [43]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [44]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []