In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
105,05/05/2021,19:00,basketball,usa,nba,Atlanta Hawks,Phoenix Suns,228.5,1.9,100,OVER
109,05/05/2021,19:00,basketball,usa,nba,Houston Rockets,Philadelphia 76ers,221.5,1.9,100,OVER
106,05/05/2021,20:00,basketball,usa,nba,Utah Jazz,San Antonio Spurs,219.0,1.9,100,OVER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
13,05/05/2021,18:05,baseball,usa,mlb,Philadelphia Phillies,Milwaukee Brewers,7.5,1.9,100,UNDER

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
14,05/05/2021,20:30,hockey,usa,nhl,San Jose Sharks,Colorado Avalanche,6.0,1.9,100,UNDER

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
60,06/05/2021,13:00,soccer,scotland,league-one,Clyde,East Fife,2.5,1.9,100,OVER

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
2356,06:30,06/05/2021,soccer@romania,liga-1,FC Arges,FC Voluntari,2.14,3.10,3.60,TEAM2,221.603284,55
2367,06:30,06/05/2021,soccer@romania,liga-1,FC Arges,FC Voluntari,2.14,3.10,3.60,DRAW,221.603284,58
2361,09:30,06/05/2021,soccer@bulgaria,parva-liga,Montana,Etar,2.60,3.16,2.63,TEAM2,-135.404086,55
2362,11:45,06/05/2021,soccer@bulgaria,parva-liga,Slavia Sofia,Botev Vratsa,2.21,3.13,3.21,TEAM2,-114.920570,55

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=5)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
2356,06:30,06/05/2021,soccer@romania,liga-1,FC Arges,FC Voluntari,2.14,3.10,3.60,TEAM2,221.603284,55
2367,06:30,06/05/2021,soccer@romania,liga-1,FC Arges,FC Voluntari,2.14,3.10,3.60,DRAW,221.603284,58
2361,09:30,06/05/2021,soccer@bulgaria,parva-liga,Montana,Etar,2.60,3.16,2.63,TEAM2,-135.404086,55
2362,11:45,06/05/2021,soccer@bulgaria,parva-liga,Slavia Sofia,Botev Vratsa,2.21,3.13,3.21,TEAM2,-114.920570,55

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

## NHL CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl_original")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
207,01:00,2021-05-06,/basketball/usa/nba/atlanta-hawks-phoenix-suns...,Atlanta Hawks,Phoenix Suns,1.95,0.0,1.91,0.444222
206,01:00,2021-05-06,/basketball/usa/nba/minnesota-timberwolves-mem...,Minnesota Timberwolves,Memphis Grizzlies,2.38,0.0,1.62,0.556665

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1475,2021-05-06,00:10,baseball,usa,mlb,Boston Red Sox,Detroit Tigers,UNDER,0.573391,1.9,100
1476,2021-05-06,01:10,baseball,usa,mlb,San Diego Padres,Pittsburgh Pirates,UNDER,0.537387,1.9,100
1477,2021-05-06,01:10,baseball,usa,mlb,Kansas City Royals,Cleveland Indians,UNDER,0.534713,1.9,100
1479,2021-05-06,00:00,basketball,usa,nba,Orlando Magic,Boston Celtics,OVER,0.738777,1.9,100
1480,2021-05-06,00:30,basketball,usa,nba,Cleveland Cavaliers,Portland Trail Blazers,UNDER,0.183117,1.9,100
1478,2021-05-06,01:00,basketball,usa,nba,Minnesota Timberwolves,Memphis Grizzlies,UNDER,0.283904,1.9,100
1481,2021-05-06,01:00,basketball,usa,nba,Milwaukee Bucks,Washington Wizards,OVER,0.772843,1.9,100
1482,2021-05-06,01:00,basketball,usa,nba,Atlanta Hawks,Phoenix Suns,OVER,0.562838,1.9,100
1483,2021-05-06,01:00,basketball,usa,nba,Indiana Pacers,Sacramento Kings,OVER,0.565991,1.9,100
1484,2021-05-06,01:00,basketball,usa,nba,Houston Rockets,Philadelphia 76ers,UNDER,0.335571,1.9,100
1485,2021-05-06,02:00,basketball,usa,nba,Denver Nuggets,New York Knicks,OVER,0.555465,1.9,100

### Criterio

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

___

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1845,2021-05-06,15:30,soccer,bulgaria,parva-liga,Montana,Etar,3.25,1.29,100,0.850162
1846,2021-05-06,17:45,soccer,bulgaria,parva-liga,Slavia Sofia,Botev Vratsa,3.00,1.22,100,0.881631
1849,2021-05-06,17:00,soccer,estonia,esiliiga,Elva,Tartu Welco,4.00,1.35,100,0.856555
1847,2021-05-06,19:00,soccer,scotland,league-one,Clyde,East Fife,3.50,1.28,100,0.894554
1848,2021-05-06,19:00,soccer,scotland,league-one,Clyde,East Fife,3.50,1.33,100,0.900481
1826,2021-05-06,00:05,baseball,usa,mlb,Philadelphia Phillies,Milwaukee Brewers,9.50,1.44,100,0.825929
1827,2021-05-06,00:10,baseball,usa,mlb,Boston Red Sox,Detroit Tigers,11.00,1.40,100,0.573391
1828,2021-05-06,00:40,baseball,usa,mlb,Chicago Cubs,Los Angeles Dodgers,9.50,1.42,100,0.617467
1829,2021-05-06,01:10,baseball,usa,mlb,San Diego Padres,Pittsburgh Pirates,8.50,1.39,100,0.537387
1830,2021-05-06,01:10,baseball,usa,mlb,Kansas City Royals,Cleveland Indians,9.00,1.41,100,0.534713
1831,2021-05-06,02:40,baseball,usa,mlb,Oakland Athletics,Toronto Blue Jays,10.00,1.42,100,0.735973
1834,2021-05-06,00:00,basketball,usa,nba,Orlando Magic,Boston Celtics,223.00,1.58,100,0.738777
1835,2021-05-06,00:30,basketball,usa,nba,Cleveland Cavaliers,Portland Trail Blazers,232.50,1.61,100,0.183117
1832,2021-05-06,01:00,basketball,usa,nba,Minnesota Timberwolves,Memphis Grizzlies,231.00,1.55,100,0.283904
1833,2021-05-06,01:00,basketball,usa,nba,Minnesota Timberwolves,Memphis Grizzlies,231.00,2.68,100,0.367043
1836,2021-05-06,01:00,basketball,usa,nba,Milwaukee Bucks,Washington Wizards,247.50,1.60,100,0.772843
1837,2021-05-06,01:00,basketball,usa,nba,Atlanta Hawks,Phoenix Suns,233.50,1.58,100,0.562838
1838,2021-05-06,01:00,basketball,usa,nba,Indiana Pacers,Sacramento Kings,244.50,1.59,100,0.565991
1839,2021-05-06,01:00,basketball,usa,nba,Houston Rockets,Philadelphia 76ers,226.50,1.57,100,0.335571
1840,2021-05-06,02:00,basketball,usa,nba,Denver Nuggets,New York Knicks,220.50,1.58,100,0.555465
1841,2021-05-06,02:00,basketball,usa,nba,Utah Jazz,San Antonio Spurs,224.00,1.55,100,0.528705
1842,2021-05-06,00:00,hockey,usa,nhl,Ottawa Senators,Montreal Canadiens,6.50,1.43,100,0.422826
1843,2021-05-06,02:30,hockey,usa,nhl,San Jose Sharks,Colorado Avalanche,7.00,1.38,100,0.741167
1844,2021-05-06,02:30,hockey,usa,nhl,Calgary Flames,Winnipeg Jets,6.50,1.40,100,0.311163

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_handicap1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
146,2021-05-06,00:05,baseball,usa,mlb,Washington Nationals,Atlanta Braves,1.00,1.9,100,0.662911
147,2021-05-06,00:05,baseball,usa,mlb,Philadelphia Phillies,Milwaukee Brewers,1.00,1.9,100,0.511649
137,2021-05-06,00:00,basketball,usa,nba,Orlando Magic,Boston Celtics,11.50,1.9,100,0.297235
138,2021-05-06,00:30,basketball,usa,nba,Cleveland Cavaliers,Portland Trail Blazers,12.00,1.9,100,0.797044
139,2021-05-06,01:00,basketball,usa,nba,Minnesota Timberwolves,Memphis Grizzlies,3.50,1.9,100,0.363424
140,2021-05-06,01:00,basketball,usa,nba,Milwaukee Bucks,Washington Wizards,-4.00,1.9,100,0.497531
141,2021-05-06,01:00,basketball,usa,nba,Atlanta Hawks,Phoenix Suns,1.00,1.9,100,0.323969
142,2021-05-06,01:00,basketball,usa,nba,Indiana Pacers,Sacramento Kings,-6.50,1.9,100,0.161473
143,2021-05-06,01:00,basketball,usa,nba,Houston Rockets,Philadelphia 76ers,14.50,1.9,100,0.275412
144,2021-05-06,02:00,basketball,usa,nba,Denver Nuggets,New York Knicks,-4.00,1.9,100,0.162545
145,2021-05-06,02:00,basketball,usa,nba,Utah Jazz,San Antonio Spurs,-6.50,1.9,100,0.244766
134,2021-05-06,00:00,hockey,usa,nhl,New York Rangers,Washington Capitals,0.25,1.9,100,0.276113
135,2021-05-06,02:30,hockey,usa,nhl,San Jose Sharks,Colorado Avalanche,1.75,1.9,100,0.244629
136,2021-05-06,02:30,hockey,usa,nhl,Calgary Flames,Winnipeg Jets,-0.25,1.9,100,0.602373

## NBA

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
884,01:00,2021-05-06,/basketball/usa/nba/atlanta-hawks-phoenix-suns...,Atlanta Hawks,Phoenix Suns,1.95,0,1.91,0.444222
881,00:30,2021-05-06,/basketball/usa/nba/cleveland-cavaliers-portla...,Cleveland Cavaliers,Portland Trail Blazers,6.69,0,1.12,0.351217
887,02:00,2021-05-06,/basketball/usa/nba/denver-nuggets-new-york-kn...,Denver Nuggets,New York Knicks,1.60,0,2.44,0.564260
886,01:00,2021-05-06,/basketball/usa/nba/houston-rockets-philadelph...,Houston Rockets,Philadelphia 76ers,8.83,0,1.08,0.356977
885,01:00,2021-05-06,/basketball/usa/nba/indiana-pacers-sacramento-...,Indiana Pacers,Sacramento Kings,1.38,0,3.18,0.500571
883,01:00,2021-05-06,/basketball/usa/nba/milwaukee-bucks-washington...,Milwaukee Bucks,Washington Wizards,1.56,0,2.52,0.566934
882,01:00,2021-05-06,/basketball/usa/nba/minnesota-timberwolves-mem...,Minnesota Timberwolves,Memphis Grizzlies,2.38,0,1.62,0.556665
880,00:00,2021-05-06,/basketball/usa/nba/orlando-magic-boston-celti...,Orlando Magic,Boston Celtics,6.37,0,1.13,0.444917
888,02:00,2021-05-06,/basketball/usa/nba/utah-jazz-san-antonio-spur...,Utah Jazz,San Antonio Spurs,1.38,0,3.20,0.602519

## NBA CLUSTER FALLO

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
288,0:0,2021-05-06,basketball/usa_nba,Milwaukee Bucks,Washington Wizards,1.35,0,3.26,2
289,0:0,2021-05-06,basketball/usa_nba,Utah Jazz,San Antonio Spurs,1.32,0,3.50,2

## NBA FALLO SIN FILTRO

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
551,0:0,2021-05-06,basketball/usa_nba,Minnesota Timberwolves,Memphis Grizzlies,2.46,0,1.57,1
552,0:0,2021-05-06,basketball/usa_nba,Indiana Pacers,Sacramento Kings,1.42,0,2.96,2
553,0:0,2021-05-06,basketball/usa_nba,Milwaukee Bucks,Washington Wizards,1.35,0,3.26,2
554,0:0,2021-05-06,basketball/usa_nba,Utah Jazz,San Antonio Spurs,1.32,0,3.50,2

### MLB FALLO

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_mlb")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
0,0:0,2021-05-06,baseball/usa_mlb,St.Louis Cardinals,New York Mets,1.62,0,2.45,2
1,0:0,2021-05-06,baseball/usa_mlb,Chicago Cubs,Los Angeles Dodgers,2.47,0,1.58,1
2,0:0,2021-05-06,baseball/usa_mlb,Boston Red Sox,Detroit Tigers,1.51,0,2.68,2
3,0:0,2021-05-06,baseball/usa_mlb,San Diego Padres,Pittsburgh Pirates,1.39,0,3.09,2

## NHL

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
833,03:00,2021-05-06,/hockey/usa/nhl/arizona-coyotes-los-angeles-ki...,Arizona Coyotes,Los Angeles Kings,2.15,4.06,2.90,0.567479
832,02:30,2021-05-06,/hockey/usa/nhl/calgary-flames-winnipeg-jets-h...,Calgary Flames,Winnipeg Jets,2.27,4.03,2.73,0.586986
828,00:00,2021-05-06,/hockey/usa/nhl/columbus-blue-jackets-nashvill...,Columbus Blue Jackets,Nashville Predators,3.48,4.17,1.88,0.358956
830,01:00,2021-05-06,/hockey/usa/nhl/minnesota-wild-vegas-golden-kn...,Minnesota Wild,Vegas Golden Knights,2.58,4.16,2.34,0.524978
827,00:00,2021-05-06,/hockey/usa/nhl/new-york-rangers-washington-ca...,New York Rangers,Washington Capitals,2.86,4.22,2.13,0.471192
826,00:00,2021-05-06,/hockey/usa/nhl/ottawa-senators-montreal-canad...,Ottawa Senators,Montreal Canadiens,3.14,4.24,2.01,0.523408
831,02:30,2021-05-06,/hockey/usa/nhl/san-jose-sharks-colorado-avala...,San Jose Sharks,Colorado Avalanche,4.75,4.99,1.55,0.416056
829,01:00,2021-05-06,/hockey/usa/nhl/st-louis-blues-anaheim-ducks-Q...,St. Louis Blues,Anaheim Ducks,1.67,4.49,4.28,0.648166
825,00:00,2021-05-06,/hockey/usa/nhl/tampa-bay-lightning-dallas-sta...,Tampa Bay Lightning,Dallas Stars,1.97,4.17,3.27,0.602423

### MLB

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
265,00:05,2021-05-06,/baseball/usa/mlb/washington-nationals-atlanta...,Washington Nationals,Atlanta Braves,2.13,0,1.77,TEAM2

## SOCCER

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
280,17:30,2021-05-06,/soccer/germany/bundesliga/hertha-berlin-freib...,Hertha Berlin,Freiburg,2.1,3.58,3.58,0.527198

### SOCCER CLUSTER FALLO

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
222,0:0,2021-05-06,soccer/england_premier-league,AS Roma,Manchester Utd,3.79,4.10,1.89,2
223,0:0,2021-05-06,soccer/england_premier-league,Arsenal,Villarreal,1.87,3.67,4.37,2
221,0:0,2021-05-06,soccer/germany_bundesliga,Hertha Berlin,Freiburg,2.11,3.57,3.56,1

### SOCCER EMPATE SECUENCIA

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
655,20:30,2021-05-06,soccer/egypt_premier-league,Wadi Degla,Pyramids,6.91,3.62,1.52,2-Wadi Degla-0.48
654,15:00,2021-05-06,soccer/portugal_primeira-liga,Moreirense,Nacional,2.09,3.54,3.47,1-Moreirense-0.08

###  MILAN - más negativo -77

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - más positivo .49

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7632,15:00,2021-05-06,/soccer/estonia/esiliiga/flora-tallinn-paide-l...,Flora U21,Paide Linnameeskond U21,1.70,4.03,3.85,0.852588
7625,15:00,2021-05-06,/soccer/portugal/primeira-liga/moreirense-naci...,Moreirense,Nacional,2.09,3.54,3.47,0.651301
7634,17:00,2021-05-06,/soccer/estonia/esiliiga/elva-tartu-jk-welco-A...,Elva,Tartu Welco,1.75,4.19,3.51,0.638618
7630,17:45,2021-05-06,/soccer/bulgaria/parva-liga/slavia-sofia-botev...,Slavia Sofia,Botev Vratsa,2.21,3.13,3.21,0.551263
7626,17:00,2021-05-06,/soccer/portugal/primeira-liga/belenenses-port...,Belenenses,Portimonense,3.33,2.65,2.70,0.545315
7628,20:30,2021-05-06,/soccer/portugal/primeira-liga/sc-farense-vito...,SC Farense,Vitoria Guimaraes,2.15,3.34,3.51,0.528311
7627,18:30,2021-05-06,/soccer/portugal/primeira-liga/benfica-fc-port...,Benfica,FC Porto,2.44,3.35,3.00,0.521317
7636,17:30,2021-05-06,/soccer/estonia/esiliiga/nomme-utd-parnu-ltRfW...,Nomme Utd,Parnu,1.46,4.30,5.55,0.491152
7629,15:30,2021-05-06,/soccer/bulgaria/parva-liga/montana-etar-bgXVM...,Montana,Etar,2.60,3.16,2.63,0.491121
7633,16:30,2021-05-06,/soccer/estonia/esiliiga/levadia-maardu-linnam...,Levadia U21,Maardu,2.81,4.38,1.95,0.484692
7631,19:00,2021-05-06,/soccer/scotland/league-one/clyde-east-fife-nu...,Clyde,East Fife,2.45,3.56,2.61,0.480137
7635,17:30,2021-05-06,/soccer/estonia/esiliiga/tammeka-tartu-tallinn...,Tammeka U21,Tallinna Kalev,4.44,4.76,1.52,0.403399

___

## EXPERIMENTAL

### Daily model 53

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1628,15:30,2021-05-06,/soccer/bulgaria/parva-liga/montana-etar-bgXVM...,Montana,Etar,2.60,3.16,2.63,TEAM2
1629,17:45,2021-05-06,/soccer/bulgaria/parva-liga/slavia-sofia-botev...,Slavia Sofia,Botev Vratsa,2.21,3.13,3.21,TEAM2
1626,12:30,2021-05-06,/soccer/romania/liga-1/campionii-arges-volunta...,FC Arges,FC Voluntari,2.14,3.10,3.60,TEAM2
1631,12:30,2021-05-06,/soccer/romania/liga-1/campionii-arges-volunta...,FC Arges,FC Voluntari,2.14,3.10,3.60,DRAW

In [41]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8786,16:00,2021-05-06,/soccer/armenia/premier-league/ararat-armenia-...,Ararat-Armenia,Noah,2.63,3.06,2.60,TEAM1
8788,15:30,2021-05-06,/soccer/bulgaria/parva-liga/montana-etar-bgXVM...,Montana,Etar,2.60,3.16,2.63,TEAM2
8789,17:45,2021-05-06,/soccer/bulgaria/parva-liga/slavia-sofia-botev...,Slavia Sofia,Botev Vratsa,2.21,3.13,3.21,TEAM2
8783,12:30,2021-05-06,/soccer/romania/liga-1/campionii-arges-volunta...,FC Arges,FC Voluntari,2.14,3.10,3.60,TEAM2
8792,12:30,2021-05-06,/soccer/romania/liga-1/campionii-arges-volunta...,FC Arges,FC Voluntari,2.14,3.10,3.60,DRAW
8784,16:00,2021-05-06,/soccer/slovenia/prva-liga/aluminij-nd-gorica-...,Aluminij,ND Gorica,2.09,3.35,3.28,TEAM1

### Daily predictions machin4 EMPATE

In [42]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [43]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []