In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
580,2021-03-28,08:00,soccer,russia,fnl,Tomsk,Torpedo Moscow,X2,1.85,100.0
583,2021-03-28,11:00,soccer,russia,fnl,Omsk,Shinnik Yaroslavl,X1,1.68,287.0
581,2021-03-28,13:00,soccer,russia,fnl,Alania Vladikavkaz,FK Krylya Sovetov Samara,X2,1.91,100.0
582,2021-03-28,13:00,soccer,russia,fnl,Neftekhimik,Volgar-Astrakhan,X2,3.47,233.0

### Gana Favorito en ODDs finales.

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
107,02:00,2021-03-28,/basketball/usa/nba/los-angeles-clippers-phila...,Los Angeles Clippers,Philadelphia 76ers,1.51,0.0,2.64,0.477151
106,01:00,2021-03-28,/basketball/usa/nba/new-orleans-pelicans-dalla...,New Orleans Pelicans,Dallas Mavericks,1.90,0.0,1.93,0.473261
105,01:00,2021-03-28,/basketball/usa/nba/oklahoma-city-thunder-bost...,Oklahoma City Thunder,Boston Celtics,3.06,0.0,1.40,0.573324

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1089,2021-03-28,08:00,soccer,russia,fnl,Tomsk,Torpedo Moscow,X2,1.000000,1.85,100
1090,2021-03-28,13:00,soccer,russia,fnl,Alania Vladikavkaz,FK Krylya Sovetov Samara,X2,1.000000,1.91,100
1091,2021-03-28,00:00,basketball,usa,nba,Washington Wizards,Detroit Pistons,OVER,0.552312,1.90,100
1092,2021-03-28,00:00,basketball,usa,nba,Minnesota Timberwolves,Houston Rockets,OVER,0.690407,1.90,100
1093,2021-03-28,00:30,basketball,usa,nba,San Antonio Spurs,Chicago Bulls,OVER,0.768776,1.90,100
1094,2021-03-28,01:00,basketball,usa,nba,Oklahoma City Thunder,Boston Celtics,OVER,0.607820,1.90,100
1095,2021-03-28,01:00,basketball,usa,nba,Utah Jazz,Memphis Grizzlies,OVER,0.584676,1.90,100
1096,2021-03-28,02:00,basketball,usa,nba,Sacramento Kings,Cleveland Cavaliers,OVER,0.743089,1.90,100

### Criterio

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1199,2021-03-28,10:00,soccer,russia,fnl,Orenburg,Veles Moscow,TEAM1,1.50,188
1200,2021-03-28,11:00,soccer,russia,fnl,Omsk,Shinnik Yaroslavl,TEAM1,1.68,287
1201,2021-03-28,17:05,baseball,usa,mlb,Miami Marlins,New York Mets,TEAM2,1.69,292
1202,2021-03-28,00:00,basketball,usa,nba,Milwaukee Bucks,New York Knicks,TEAM1,2.08,100
1203,2021-03-28,23:00,basketball,usa,nba,Toronto Raptors,Portland Trail Blazers,TEAM2,1.86,133

### TAN!! SPECIAL SELECTION

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

___

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1358,11:00,2021-03-28,/soccer/russia/fnl/irtysh-omsk-shinnik-yarosla...,Omsk,Shinnik Yaroslavl,1.68,3.58,5.08,TEAM1
1357,10:00,2021-03-28,/soccer/russia/fnl/orenburg-veles-moscow-KSPy5...,Orenburg,Veles Moscow,1.50,3.75,7.12,TEAM1

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1123,2021-03-28,00:00,basketball,usa,nba,Washington Wizards,Detroit Pistons,229.0,1.56,100,0.552312
1124,2021-03-28,00:00,basketball,usa,nba,Milwaukee Bucks,New York Knicks,222.0,1.56,100,0.453407
1125,2021-03-28,00:00,basketball,usa,nba,Minnesota Timberwolves,Houston Rockets,234.0,1.53,100,0.690407
1126,2021-03-28,00:30,basketball,usa,nba,San Antonio Spurs,Chicago Bulls,224.5,1.56,100,0.768776
1127,2021-03-28,01:00,basketball,usa,nba,Oklahoma City Thunder,Boston Celtics,221.0,1.56,100,0.607820
1128,2021-03-28,01:00,basketball,usa,nba,Utah Jazz,Memphis Grizzlies,232.0,1.56,100,0.584676
1129,2021-03-28,02:00,basketball,usa,nba,Los Angeles Clippers,Philadelphia 76ers,225.5,1.57,100,0.449345
1130,2021-03-28,02:00,basketball,usa,nba,Sacramento Kings,Cleveland Cavaliers,230.0,1.53,100,0.743089
1131,2021-03-28,16:00,hockey,usa,nhl,Washington Capitals,New York Rangers,7.0,1.39,100,0.536747
1132,2021-03-28,21:00,hockey,usa,nhl,St. Louis Blues,Anaheim Ducks,6.5,1.43,100,0.509044

## NBA

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
576,17:00,2021-03-28,/basketball/usa/nba/charlotte-hornets-phoenix-...,Charlotte Hornets,Phoenix Suns,3.25,0,1.38,0.491290
574,02:00,2021-03-28,/basketball/usa/nba/los-angeles-clippers-phila...,Los Angeles Clippers,Philadelphia 76ers,1.51,0,2.64,0.477151
568,00:00,2021-03-28,/basketball/usa/nba/milwaukee-bucks-new-york-k...,Milwaukee Bucks,New York Knicks,2.08,0,1.79,0.652230
569,00:00,2021-03-28,/basketball/usa/nba/minnesota-timberwolves-hou...,Minnesota Timberwolves,Houston Rockets,1.57,0,2.50,0.606736
571,01:00,2021-03-28,/basketball/usa/nba/new-orleans-pelicans-dalla...,New Orleans Pelicans,Dallas Mavericks,1.90,0,1.93,0.473261
572,01:00,2021-03-28,/basketball/usa/nba/oklahoma-city-thunder-bost...,Oklahoma City Thunder,Boston Celtics,3.06,0,1.40,0.573324
575,02:00,2021-03-28,/basketball/usa/nba/sacramento-kings-cleveland...,Sacramento Kings,Cleveland Cavaliers,1.25,0,4.19,0.598172
570,00:30,2021-03-28,/basketball/usa/nba/san-antonio-spurs-chicago-...,San Antonio Spurs,Chicago Bulls,1.78,0,2.09,0.575192
577,23:00,2021-03-28,/basketball/usa/nba/toronto-raptors-portland-t...,Toronto Raptors,Portland Trail Blazers,2.01,0,1.86,0.390123
573,01:00,2021-03-28,/basketball/usa/nba/utah-jazz-memphis-grizzlie...,Utah Jazz,Memphis Grizzlies,1.23,0,4.41,0.579982
567,00:00,2021-03-28,/basketball/usa/nba/washington-wizards-detroit...,Washington Wizards,Detroit Pistons,1.57,0,2.50,0.577945

## NBA CLUSTER FALLO

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
201,0:0,2021-03-28,basketball/usa_nba,Sacramento Kings,Cleveland Cavaliers,1.34,0,3.37,2
202,0:0,2021-03-28,basketball/usa_nba,Oklahoma City Thunder,Boston Celtics,4.83,0,1.20,1
203,0:0,2021-03-28,basketball/usa_nba,Milwaukee Bucks,New York Knicks,1.19,0,4.88,2

## NBA FALLO SIN FILTRO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
371,0:0,2021-03-28,basketball/usa_nba,Los Angeles Clippers,Philadelphia 76ers,1.59,0,2.42,2
372,0:0,2021-03-28,basketball/usa_nba,Sacramento Kings,Cleveland Cavaliers,1.34,0,3.37,2
373,0:0,2021-03-28,basketball/usa_nba,Oklahoma City Thunder,Boston Celtics,4.83,0,1.20,1
374,0:0,2021-03-28,basketball/usa_nba,Milwaukee Bucks,New York Knicks,1.19,0,4.88,2

## NHL

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
527,02:00,2021-03-28,/hockey/usa/nhl/arizona-coyotes-san-jose-shark...,Arizona Coyotes,San Jose Sharks,2.36,4.17,2.53,0.551475
532,21:30,2021-03-28,/hockey/usa/nhl/boston-bruins-new-jersey-devil...,Boston Bruins,New Jersey Devils,1.73,4.48,3.89,0.556131
528,02:00,2021-03-28,/hockey/usa/nhl/calgary-flames-winnipeg-jets-M...,Calgary Flames,Winnipeg Jets,2.27,4.25,2.63,0.450685
525,00:00,2021-03-28,/hockey/usa/nhl/chicago-blackhawks-nashville-p...,Chicago Blackhawks,Nashville Predators,2.35,4.14,2.56,0.518030
526,00:00,2021-03-28,/hockey/usa/nhl/dallas-stars-florida-panthers-...,Dallas Stars,Florida Panthers,2.23,4.11,2.74,0.452796
530,19:00,2021-03-28,/hockey/usa/nhl/detroit-red-wings-columbus-blu...,Detroit Red Wings,Columbus Blue Jackets,3.27,4.19,1.98,0.546739
531,21:00,2021-03-28,/hockey/usa/nhl/st-louis-blues-anaheim-ducks-I...,St. Louis Blues,Anaheim Ducks,1.72,4.54,3.93,0.622116
529,16:00,2021-03-28,/hockey/usa/nhl/washington-capitals-new-york-r...,Washington Capitals,New York Rangers,2.16,4.27,2.76,0.606197

## NHL CLUSTER FALLO

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
279,0:0,2021-03-28,hockey/usa_nhl,Chicago Blackhawks,Nashville Predators,2.35,4.14,2.58,2
280,0:0,2021-03-28,hockey/usa_nhl,Dallas Stars,Florida Panthers,2.31,4.08,2.66,2
281,0:0,2021-03-28,hockey/usa_nhl,Washington Capitals,New York Rangers,2.19,4.28,2.80,2

### MLB

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
235,17:05,2021-03-28,/baseball/usa/mlb/miami-marlins-new-york-mets-...,Miami Marlins,New York Mets,2.15,0,1.69,TEAM2

## SOCCER

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
404,12:00,2021-03-28,soccer/russia_fnl,D. Bryansk,F. Voronezh,6.88,3.69,1.52,6-F. Voronezh-0.11

## SOCCER FAVORITO SECUENCIA

###  MILAN - más negativo -77

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
392,12:00,2021-03-28,soccer/spain_laliga2,Lugo,Sabadell,2.38,2.90,3.47,FALLO-3-Lugo--0.18
393,19:30,2021-03-28,soccer/spain_laliga2,Tenerife,Las Palmas,1.95,3.12,4.54,FALLO-1-Tenerife--0.42
391,10:00,2021-03-28,soccer/vietnam_v-league-1,Gia Lai,Ho Chi Minh,2.05,3.55,3.21,FALLO-2-Gia Lai--0.09

## CRB - más positivo .49

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
76,22:00,2021-03-28,soccer/paraguay_primera-division,Libertad Asuncion,Guarani,1.82,3.64,3.91,FAVORITO-1-Guarani-0.11

### LIGA MX

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6695,04:30,2021-03-28,/soccer/australia/npl-victoria/heidelberg-utd-...,Heidelberg Utd,Dandenong City,1.66,3.82,4.54,0.661368
6694,08:30,2021-03-28,/soccer/slovakia/2-liga/samorin-bardejov-QTEib...,Samorin,Bardejov,1.51,4.03,5.64,0.533719

___

## EXPERIMENTAL

### Daily model 53

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6489,13:00,2021-03-28,/soccer/russia/fnl/alania-vladikavkaz-krylya-s...,Alania Vladikavkaz,FK Krylya Sovetov Samara,3.80,3.50,1.91,DRAW
6492,12:00,2021-03-28,/soccer/russia/fnl/fk-chayka-peschanokopskoye-...,FK Chayka,SKA Khabarovsk,2.01,3.13,3.91,TEAM1
6485,13:00,2021-03-28,/soccer/russia/fnl/neftekhimik-fc-volgar-astra...,Neftekhimik,Volgar-Astrakhan,2.11,3.17,3.47,DRAW
6493,13:00,2021-03-28,/soccer/russia/fnl/neftekhimik-fc-volgar-astra...,Neftekhimik,Volgar-Astrakhan,2.11,3.17,3.47,TEAM1
6491,11:00,2021-03-28,/soccer/russia/fnl/spartak-moscow-tekstilshtik...,Spartak Moscow 2,Tekstilshtik,2.23,3.04,3.26,TEAM1
6486,08:00,2021-03-28,/soccer/russia/fnl/tomsk-torpedo-moscow-fLvCAFJn/,Tomsk,Torpedo Moscow,4.23,3.35,1.85,DRAW
6495,10:00,2021-03-28,/soccer/russia/fnl/yenisey-baltika-IDru4V2U/,Yenisey,Baltika,2.63,3.08,2.63,TEAM1

### Daily predictions machin4 EMPATE

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []