In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
15,13:00,14/04/2021,soccer/faroe-islands_premier-league,HB Torshavn,IF Fuglafjordur,1.09,8.54,20.10,1-HB Torshavn--0.62
16,13:00,14/04/2021,soccer/faroe-islands_premier-league,Vikingur,Klaksvik,5.38,4.17,1.49,2-Klaksvik--3.16

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
28,13/04/2021,20:00,basketball,usa,nba,Utah Jazz,Oklahoma City Thunder,221.5,1.58,100,UNDER
29,13/04/2021,21:00,basketball,usa,nba,Portland Trail Blazers,Boston Celtics,229.5,1.57,100,OVER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area, league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo, Rating, auc]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
664,14/04/2021,11:30,soccer,germany,2-bundesliga,VfL Osnabruck,Regensburg,X2,2.46,100.0
665,14/04/2021,11:30,soccer,germany,2-bundesliga,Holstein Kiel,Hannover,X2,3.31,217.0

## NHL CLUSTER FALLO

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
351,0:0,2021-04-14,hockey/usa_nhl,Dallas Stars,Florida Panthers,2.62,4.04,2.34,1
352,0:0,2021-04-14,hockey/usa_nhl,Montreal Canadiens,Calgary Flames,2.06,4.33,3.06,2
353,0:0,2021-04-14,hockey/usa_nhl,Nashville Predators,Tampa Bay Lightning,3.33,4.30,1.93,1

### TAN!! SPECIAL SELECTION

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2207,13:00,14/04/2021,/soccer/faroe-islands/premier-league/hb-torsha...,HB Torshavn,IF Fuglafjordur,1.09,8.54,20.1,TEAM1

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
146,01:00,2021-04-14,/basketball/usa/nba/charlotte-hornets-los-ange...,Charlotte Hornets,Los Angeles Lakers,1.94,0.00,1.90,0.546537
147,03:00,2021-04-14,/basketball/usa/nba/portland-trail-blazers-bos...,Portland Trail Blazers,Boston Celtics,1.82,0.00,2.03,0.531484
145,09:00,2021-04-14,/soccer/taiwan/premier-league/cpc-corporation-...,CPC,Red Lions,1.68,4.34,4.10,0.341415

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1243,2021-04-14,17:30,soccer,germany,2-bundesliga,VfL Osnabruck,Regensburg,X2,1.000000,2.46,100
1244,2021-04-14,00:07,baseball,usa,mlb,Toronto Blue Jays,New York Yankees,UNDER,0.572515,1.90,100
1245,2021-04-14,00:30,basketball,usa,nba,Indiana Pacers,Los Angeles Clippers,OVER,0.940026,1.90,100
1246,2021-04-14,00:30,basketball,usa,nba,Toronto Raptors,Atlanta Hawks,OVER,0.708973,1.90,100
1247,2021-04-14,01:00,basketball,usa,nba,Charlotte Hornets,Los Angeles Lakers,OVER,0.859623,1.90,100
1248,2021-04-14,03:00,basketball,usa,nba,Phoenix Suns,Miami Heat,OVER,0.614164,1.90,100
1249,2021-04-14,03:00,basketball,usa,nba,Portland Trail Blazers,Boston Celtics,OVER,0.589368,1.90,100

### Criterio

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1280,2021-04-14,17:30,soccer,austria,2-liga,Liefering,Austria Vienna II,TEAM1,1.56,248
1281,2021-04-14,12:00,soccer,kazakhstan,premier-league,Tobol,Kaisar Kyzylorda,TEAM1,1.42,126
1282,2021-04-14,20:00,soccer,saudi-arabia,division-1,Al-Hazem,Al-Shoalah,TEAM1,1.48,187
1283,2021-04-14,13:30,soccer,tunisia,ligue-professionnelle-1,Sfaxien,Olympique Beja,TEAM1,1.54,234
1279,2021-04-14,00:00,hockey,usa,nhl,Boston Bruins,Buffalo Sabres,TEAM1,1.50,204

___

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1473,00:00,2021-04-14,/hockey/usa/nhl/boston-bruins-buffalo-sabres-n...,Boston Bruins,Buffalo Sabres,1.50,5.12,5.24,TEAM1
1474,17:30,2021-04-14,/soccer/austria/2-liga/fc-liefering-austria-vi...,Liefering,Austria Vienna II,1.56,4.04,5.32,TEAM1
1475,12:00,2021-04-14,/soccer/kazakhstan/premier-league/tobol-kaisar...,Tobol,Kaisar Kyzylorda,1.42,4.01,7.16,TEAM1
1476,20:00,2021-04-14,/soccer/saudi-arabia/division-1/al-hazem-rass-...,Al-Hazem,Al-Shoalah,1.48,3.99,5.59,TEAM1
1477,13:30,2021-04-14,/soccer/tunisia/ligue-professionnelle-1/sfaxie...,Sfaxien,Olympique Beja,1.54,3.83,5.46,TEAM1

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1366,2021-04-14,00:07,baseball,usa,mlb,Toronto Blue Jays,New York Yankees,11.0,1.44,100,0.572515
1367,2021-04-14,00:20,baseball,usa,mlb,Atlanta Braves,Miami Marlins,10.0,1.35,100,0.790941
1368,2021-04-14,00:40,baseball,usa,mlb,Milwaukee Brewers,Chicago Cubs,9.5,1.38,100,0.737954
1369,2021-04-14,01:10,baseball,usa,mlb,Houston Astros,Detroit Tigers,11.0,1.38,100,0.712906
1370,2021-04-14,01:10,baseball,usa,mlb,Kansas City Royals,Los Angeles Angels,10.5,1.46,100,0.195423
1371,2021-04-14,02:45,baseball,usa,mlb,San Francisco Giants,Cincinnati Reds,9.5,1.38,100,0.794048
1372,2021-04-14,00:30,basketball,usa,nba,Indiana Pacers,Los Angeles Clippers,238.0,1.59,100,0.940026
1373,2021-04-14,00:30,basketball,usa,nba,Toronto Raptors,Atlanta Hawks,229.5,1.59,100,0.708973
1374,2021-04-14,01:00,basketball,usa,nba,Charlotte Hornets,Los Angeles Lakers,211.5,1.56,100,0.859623
1375,2021-04-14,02:00,basketball,usa,nba,Utah Jazz,Oklahoma City Thunder,226.5,1.58,100,0.543133
1376,2021-04-14,03:00,basketball,usa,nba,Phoenix Suns,Miami Heat,222.5,1.56,100,0.614164
1377,2021-04-14,03:00,basketball,usa,nba,Portland Trail Blazers,Boston Celtics,234.5,1.57,100,0.589368
1378,2021-04-14,00:00,hockey,usa,nhl,Boston Bruins,Buffalo Sabres,6.5,1.41,100,0.650965
1379,2021-04-14,00:00,hockey,usa,nhl,Washington Capitals,Philadelphia Flyers,7.0,1.36,100,0.689912
1380,2021-04-14,00:00,hockey,usa,nhl,Washington Capitals,Philadelphia Flyers,7.0,1.43,100,0.716183

## NBA

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
707,01:00,2021-04-14,/basketball/usa/nba/charlotte-hornets-los-ange...,Charlotte Hornets,Los Angeles Lakers,1.94,0,1.90,0.546537
705,00:30,2021-04-14,/basketball/usa/nba/indiana-pacers-los-angeles...,Indiana Pacers,Los Angeles Clippers,2.34,0,1.64,0.414170
709,03:00,2021-04-14,/basketball/usa/nba/phoenix-suns-miami-heat-xY...,Phoenix Suns,Miami Heat,1.61,0,2.41,0.624986
710,03:00,2021-04-14,/basketball/usa/nba/portland-trail-blazers-bos...,Portland Trail Blazers,Boston Celtics,1.82,0,2.03,0.531484
706,00:30,2021-04-14,/basketball/usa/nba/toronto-raptors-atlanta-ha...,Toronto Raptors,Atlanta Hawks,2.09,0,1.78,0.390346
708,02:00,2021-04-14,/basketball/usa/nba/utah-jazz-oklahoma-city-th...,Utah Jazz,Oklahoma City Thunder,1.06,0,11.10,0.747374

## NBA CLUSTER FALLO

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA FALLO SIN FILTRO

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
457,0:0,2021-04-14,basketball/usa_nba,Phoenix Suns,Miami Heat,1.62,0,2.37,2

## NHL

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
660,00:00,2021-04-14,/hockey/usa/nhl/boston-bruins-buffalo-sabres-n...,Boston Bruins,Buffalo Sabres,1.50,5.12,5.24,0.615089
665,01:30,2021-04-14,/hockey/usa/nhl/dallas-stars-florida-panthers-...,Dallas Stars,Florida Panthers,2.60,4.05,2.35,0.548822
664,01:00,2021-04-14,/hockey/usa/nhl/nashville-predators-tampa-bay-...,Nashville Predators,Tampa Bay Lightning,3.31,4.29,1.93,0.560977
662,00:00,2021-04-14,/hockey/usa/nhl/new-jersey-devils-new-york-ran...,New Jersey Devils,New York Rangers,3.45,4.35,1.86,0.454930
663,00:30,2021-04-14,/hockey/usa/nhl/toronto-maple-leafs-calgary-fl...,Toronto Maple Leafs,Calgary Flames,1.98,4.45,3.08,0.683484
661,00:00,2021-04-14,/hockey/usa/nhl/washington-capitals-philadelph...,Washington Capitals,Philadelphia Flyers,1.95,4.41,3.17,0.672189

### MLB

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
176,0:0,2021-04-14,soccer/england_premier-league,Liverpool,Real Madrid,2.00,3.97,3.52,2
177,0:0,2021-04-14,soccer/germany_bundesliga,Dortmund,Manchester City,5.06,4.36,1.64,1

### SOCCER EMPATE SECUENCIA

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
499,13:30,2021-04-14,soccer/armenia_premier-league,Alashkert,Urartu,2.04,2.98,3.62,4-Urartu-0.06
498,13:00,2021-04-14,soccer/syria_premier-league,Al Wahda,Foutoua,2.37,3.45,2.59,1-Al Wahda-0.17

###  MILAN - ms negativo -77

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
299,17:30,2021-04-14,/hockey/germany/del/eisbaren-berlin-nurnberg-i...,Eisbaren Berlin,Nurnberg Ice Tigers,1.37,5.76,6.12,0.689667
300,19:30,2021-04-14,/hockey/germany/del/kolner-haie-straubing-tige...,Kolner,Straubing Tigers,2.61,4.27,2.22,0.519779

### Daily predictions machin3.

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
664,17:00,2021-04-14,/soccer/czech-republic/1-liga/jablonec-sparta-...,Jablonec,Sparta Prague,3.46,3.55,2.04,TEAM1
663,15:00,2021-04-14,/soccer/czech-republic/1-liga/plzen-zlin-21Emg...,Plzen,Zlin,1.29,5.48,9.65,TEAM1

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7038,19:00,2021-04-14,/soccer/faroe-islands/premier-league/hb-torsha...,HB Torshavn,IF Fuglafjordur,1.09,8.54,20.10,0.742795
7040,01:00,2021-04-14,/soccer/world/club-friendly/chattanooga-la-for...,Chattanooga (Usa),LA Force (Usa),1.77,3.72,3.93,0.525719
7039,19:00,2021-04-14,/soccer/faroe-islands/premier-league/vikingur-...,Vikingur,Klaksvik,5.38,4.17,1.49,0.468130

___

## EXPERIMENTAL

### Daily model 53

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1172,17:00,2021-04-14,/soccer/czech-republic/1-liga/jablonec-sparta-...,Jablonec,Sparta Prague,3.46,3.55,2.04,TEAM2

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7621,13:30,2021-04-14,/soccer/armenia/premier-league/alashkert-urart...,Alashkert,Urartu,2.04,2.98,3.62,TEAM1
7620,11:30,2021-04-14,/soccer/armenia/premier-league/van-pyunik-yere...,Van,Pyunik Yerevan,2.35,2.95,2.99,TEAM1
7624,17:00,2021-04-14,/soccer/czech-republic/1-liga/jablonec-sparta-...,Jablonec,Sparta Prague,3.46,3.55,2.04,TEAM2
7626,17:30,2021-04-14,/soccer/germany/2-bundesliga/vfl-osnabruck-reg...,VfL Osnabruck,Regensburg,2.94,3.24,2.46,DRAW

### Daily predictions machin4 EMPATE

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []