In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

### Premium

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
291,2020-11-16,19:45,soccer,england,league-one,Plymouth,Portsmouth,X2,1.0,2.06,100
292,2020-11-16,23:30,soccer,paraguay,primera-division,Guarani,San Lorenzo,X2,1.0,4.48,100

### Criterio

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
577,2020-11-16,17:15,soccer,israel,leumit-league,Hapoel Kfar Shalem,H. Akko,TEAM2,2.75,432
576,2020-11-16,16:30,hockey,russia,khl,Dyn. Moscow,Niznekamsk,TEAM1,1.45,287
578,2020-11-16,12:00,soccer,ukraine,persha-liga,VPK-Agro,Ahrobiznes Volochysk,TEAM2,2.25,281

### TAN!! SPECIAL SELECTION

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

___

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
526,16:30,2020-11-16,/hockey/russia/khl/dynamo-moscow-niznekamsk-bu...,Dyn. Moscow,Niznekamsk,1.45,5.11,5.65,TEAM1

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

### MLB

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### Daily predictions machin3.

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
4166,12:00,2020-11-16,/soccer/serbia/prva-liga/zemun-din-vranje-4hob...,Zemun,Din. Vranje,1.82,3.63,3.52,0.473909
4167,12:00,2020-11-16,/soccer/ukraine/persha-liga/vpk-agro-ahrobizne...,VPK-Agro,Ahrobiznes Volochysk,2.77,3.21,2.25,0.226898

___

## EXPERIMENTAL

### Daily model 53

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
3801,23:00,2020-11-16,/soccer/brazil/serie-a/botafogo-rj-bragantino-...,Botafogo RJ,Bragantino,2.6,3.11,2.86,TEAM1
3802,21:00,2020-11-16,/soccer/brazil/serie-a/coritiba-bahia-ALWtq2Km/,Coritiba,Bahia,3.41,3.0,2.32,TEAM1
3799,19:45,2020-11-16,/soccer/england/league-one/plymouth-portsmouth...,Plymouth,Portsmouth,3.5,3.54,2.06,DRAW
3806,18:00,2020-11-16,/soccer/germany/3-liga/verl-lubeck-AodABcGK/,Verl,Lubeck,2.14,3.61,3.15,TEAM2
3805,23:30,2020-11-16,/soccer/paraguay/primera-division/guarani-san-...,Guarani,San Lorenzo,1.71,3.64,4.48,DRAW

### Daily predictions machin4 EMPATE

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []