In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
258,2021-01-07,15:00,soccer,egypt,premier-league,Al Ittihad,El Masry,X2,2.92,313

### Premium

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
582,2021-01-07,00:00,basketball,usa,nba,Indiana Pacers,Houston Rockets,OVER,0.554541,1.9,100
586,2021-01-07,00:00,basketball,usa,nba,Orlando Magic,Cleveland Cavaliers,OVER,0.610901,1.9,100
583,2021-01-07,00:30,basketball,usa,nba,Atlanta Hawks,Charlotte Hornets,OVER,0.640304,1.9,100
584,2021-01-07,00:30,basketball,usa,nba,Miami Heat,Boston Celtics,OVER,0.581056,1.9,100
585,2021-01-07,01:00,basketball,usa,nba,New Orleans Pelicans,Oklahoma City Thunder,OVER,0.641776,1.9,100

### Criterio

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
820,2021-01-07,00:30,soccer,brazil,serie-a,Flamengo RJ,Fluminense,TEAM1,1.47,201
821,2021-01-07,15:15,soccer,greece,super-league,Aris,Volos,TEAM1,1.51,239
822,2021-01-07,18:00,soccer,israel,ligat-ha-al,Ashdod,Hapoel Tel Aviv,TEAM1,1.58,293
823,2021-01-07,21:00,soccer,portugal,primeira-liga,Braga,Maritimo,TEAM1,1.38,133
824,2021-01-07,18:00,hockey,sweden,shl,Leksands,HV 71,TEAM1,1.95,133

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1597,21:00,2021-01-07,/soccer/portugal/primeira-liga/braga-maritimo-...,Braga,Maritimo,1.38,4.99,7.95,TEAM1

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
797,00:30,2021-01-07,/soccer/brazil/serie-a/flamengo-rj-fluminense-...,Flamengo RJ,Fluminense,1.47,4.36,6.88,TEAM1
798,15:15,2021-01-07,/soccer/greece/super-league/aris-volos-CSaF8Z1p/,Aris,Volos,1.51,4.09,6.23,TEAM1
799,18:00,2021-01-07,/soccer/israel/ligat-ha-al/ashdod-hapoel-tel-a...,Ashdod,Hapoel Tel Aviv,1.58,3.71,5.66,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
268,2021-01-07,00:30,soccer,brazil,serie-a,Flamengo RJ,Fluminense,TEAM1,1.47,245
269,2021-01-07,15:15,soccer,greece,super-league,Aris,Volos,TEAM1,1.51,292
270,2021-01-07,18:00,soccer,israel,ligat-ha-al,Ashdod,Hapoel Tel Aviv,TEAM1,1.58,359
271,2021-01-07,21:00,soccer,portugal,primeira-liga,Braga,Maritimo,TEAM1,1.38,104

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
216,2021-01-07,21:00,soccer,portugal,primeira-liga,Braga,Maritimo,TEAM1,1.38,1000

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
420,2021-01-07,00:00,basketball,usa,nba,Indiana Pacers,Houston Rockets,230.5,1.57,100,0.554541
421,2021-01-07,00:00,basketball,usa,nba,Philadelphia 76ers,Washington Wizards,240.0,1.57,100,0.543323
429,2021-01-07,00:00,basketball,usa,nba,Orlando Magic,Cleveland Cavaliers,220.0,1.56,100,0.610901
422,2021-01-07,00:30,basketball,usa,nba,Atlanta Hawks,Charlotte Hornets,237.5,1.60,100,0.640304
423,2021-01-07,00:30,basketball,usa,nba,Miami Heat,Boston Celtics,223.5,1.57,100,0.581056
424,2021-01-07,00:30,basketball,usa,nba,New York Knicks,Utah Jazz,218.5,1.58,100,0.493511
425,2021-01-07,01:00,basketball,usa,nba,Milwaukee Bucks,Detroit Pistons,231.5,1.56,100,0.535364
426,2021-01-07,01:00,basketball,usa,nba,New Orleans Pelicans,Oklahoma City Thunder,218.5,1.59,100,0.641776
427,2021-01-07,02:00,basketball,usa,nba,Phoenix Suns,Toronto Raptors,224.5,1.56,100,0.428856
428,2021-01-07,03:00,basketball,usa,nba,Sacramento Kings,Chicago Bulls,233.0,1.56,100,0.448302
430,2021-01-07,03:00,basketball,usa,nba,Golden State Warriors,Los Angeles Clippers,235.0,1.58,100,0.475913

## NBA

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8,00:30,2021-01-07,/basketball/usa/nba/atlanta-hawks-charlotte-ho...,Atlanta Hawks,Charlotte Hornets,1.42,0,2.95,0.517712
14,03:00,2021-01-07,/basketball/usa/nba/golden-state-warriors-los-...,Golden State Warriors,Los Angeles Clippers,2.17,0,1.73,0.431348
5,00:00,2021-01-07,/basketball/usa/nba/indiana-pacers-houston-roc...,Indiana Pacers,Houston Rockets,1.76,0,2.10,0.474231
9,00:30,2021-01-07,/basketball/usa/nba/miami-heat-boston-celtics-...,Miami Heat,Boston Celtics,1.67,0,2.26,0.548458
11,01:00,2021-01-07,/basketball/usa/nba/milwaukee-bucks-detroit-pi...,Milwaukee Bucks,Detroit Pistons,1.12,0,6.75,0.706292
12,01:00,2021-01-07,/basketball/usa/nba/new-orleans-pelicans-oklah...,New Orleans Pelicans,Oklahoma City Thunder,1.28,0,3.81,0.572106
10,00:30,2021-01-07,/basketball/usa/nba/new-york-knicks-utah-jazz-...,New York Knicks,Utah Jazz,3.56,0,1.31,0.472235
6,00:00,2021-01-07,/basketball/usa/nba/orlando-magic-cleveland-ca...,Orlando Magic,Cleveland Cavaliers,1.45,0,2.81,0.578544
7,00:00,2021-01-07,/basketball/usa/nba/philadelphia-76ers-washing...,Philadelphia 76ers,Washington Wizards,1.37,0,3.19,0.643702
13,02:00,2021-01-07,/basketball/usa/nba/phoenix-suns-toronto-rapto...,Phoenix Suns,Toronto Raptors,1.66,0,2.27,0.536132
15,03:00,2021-01-07,/basketball/usa/nba/sacramento-kings-chicago-b...,Sacramento Kings,Chicago Bulls,1.35,0,3.32,0.550920

## NBA CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2,0:0,2021-01-07,basketball/usa_nba,New Orleans Pelicans,Oklahoma City Thunder,1.28,0,3.84,2

### EMPATE SECUENCIA

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
3,15:00,2021-01-07,soccer/egypt_premier-league,Al Ittihad,El Masry,2.85,2.55,2.92,2-Al Ittihad-0.59
5,15:15,2021-01-07,soccer/greece_super-league,OFI Crete,Lamia,1.81,3.49,4.40,4-Lamia-0.55
6,15:15,2021-01-07,soccer/greece_super-league,Aris,Volos,1.51,4.09,6.23,1-Volos-0.05
4,12:00,2021-01-07,soccer/israel_leumit-league,Hapoel Petah Tikva,Hapoel Jerusalem,4.55,3.70,1.62,1-Hapoel Jerusalem-0.71

### MLB

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### Daily predictions machin3.

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5111,21:00,2021-01-07,/soccer/portugal/primeira-liga/braga-maritimo-...,Braga,Maritimo,1.38,4.99,7.95,0.654449
5112,14:00,2021-01-07,/soccer/world/club-friendly/cfr-cluj-gaz-metan...,CFR Cluj (Rou),Gaz Metan Medias (Rou),1.50,4.50,5.25,0.525719
5110,18:30,2021-01-07,/soccer/portugal/primeira-liga/nacional-sporti...,Nacional,Sporting,6.63,4.45,1.47,0.312601

___

## EXPERIMENTAL

### Daily model 53

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5586,00:30,2021-01-07,/soccer/brazil/serie-a/bragantino-sao-paulo-bc...,Bragantino,Sao Paulo,2.96,3.20,2.45,TEAM1
5587,16:00,2021-01-07,/soccer/turkey/super-lig/fenerbahce-alanyaspor...,Fenerbahce,Alanyaspor,2.10,3.46,3.46,TEAM1

### Daily predictions machin4 EMPATE

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []