In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
38,18/04/2021,18:00,basketball,usa,nba,Toronto Raptors,Oklahoma City Thunder,218.0,1.58,100,UNDER
37,18/04/2021,18:30,basketball,usa,nba,Dallas Mavericks,Sacramento Kings,231.5,1.57,100,UNDER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
710,11:00,19/04/2021,soccer@israel,leumit-league,H. Ironi Rishon,Nes Tziona,2.72,2.80,2.72,TEAM1,-20.351774,54
716,11:00,19/04/2021,soccer@israel,leumit-league,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,DRAW,-375.757159,59

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=4)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
710,11:00,19/04/2021,soccer@israel,leumit-league,H. Ironi Rishon,Nes Tziona,2.72,2.80,2.72,TEAM1,-20.351774,54
716,11:00,19/04/2021,soccer@israel,leumit-league,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,DRAW,-375.757159,59

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
689,19/04/2021,11:00,soccer,israel,leumit-league,H. Akko,MS Kafr Qasim,X2,2.81,100.0
690,19/04/2021,13:15,soccer,sweden,division-1-norra,Haninge,Taby,X1,2.16,127.0

## NHL CLUSTER FALLO

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
114,0:0,2021-04-19,hockey/finland_liiga,TPS Turku,Pelicans,2.47,3.77,2.50,2
115,0:0,2021-04-19,hockey/finland_liiga,Tappara,KalPa,2.25,3.76,2.80,2
116,0:0,2021-04-19,hockey/finland_liiga,IFK Helsinki,Karpat,2.06,3.74,3.18,2

____

-----

### Gana Favorito en ODDs finales.

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
158,12:00,2021-04-19,/soccer/kazakhstan/premier-league/aktobe-shakh...,Aktobe,Shakhtar Karagandy,1.82,3.42,3.92,0.272681

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1297,2021-04-19,17:00,soccer,israel,leumit-league,H. Akko,MS Kafr Qasim,X2,1.000000,2.81,100
1298,2021-04-19,00:00,basketball,usa,nba,Charlotte Hornets,Portland Trail Blazers,OVER,0.759054,1.90,100
1299,2021-04-19,00:00,basketball,usa,nba,Orlando Magic,Houston Rockets,OVER,0.818790,1.90,100
1300,2021-04-19,00:00,basketball,usa,nba,Toronto Raptors,Oklahoma City Thunder,OVER,0.667094,1.90,100
1301,2021-04-19,00:30,basketball,usa,nba,Dallas Mavericks,Sacramento Kings,OVER,0.573653,1.90,100
1302,2021-04-19,03:00,basketball,usa,nba,Los Angeles Clippers,Minnesota Timberwolves,OVER,0.727910,1.90,100

### Criterio

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1304,2021-04-19,14:00,hockey,finland,liiga,Lukko,Ilves,TEAM1,1.49,188
1305,2021-04-19,17:30,soccer,france,national,Bastia,Sporting Club Lyon,TEAM1,1.62,271
1306,2021-04-19,16:45,soccer,iran,division-1,Esteghlal Khuzestan,Esteghlal Molasani,TEAM1,1.52,211
1308,2021-04-19,20:15,soccer,saudi-arabia,division-1,Jeddah,Hajer,TEAM1,2.55,203
1307,2021-04-19,19:15,soccer,sweden,division-1-norra,Haninge,Taby,TEAM1,2.16,127

___

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1526,14:00,2021-04-19,/hockey/finland/liiga/lukko-rauman-ilves-tampe...,Lukko,Ilves,1.49,4.88,5.16,TEAM1
1527,17:30,2021-04-19,/soccer/france/national/bastia-sporting-club-l...,Bastia,Sporting Club Lyon,1.62,3.32,6.29,TEAM1
1528,16:45,2021-04-19,/soccer/iran/division-1/esteghlal-khuzestan-es...,Esteghlal Khuzestan,Esteghlal Molasani,1.52,3.26,6.80,TEAM1

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1478,2021-04-19,01:00,soccer,mexico,liga-mx,Santos Laguna,Toluca,3.75,1.34,100,0.232061
1479,2021-04-19,01:00,soccer,mexico,liga-mx,Santos Laguna,Toluca,3.75,1.34,100,0.203046
1471,2021-04-19,00:00,basketball,usa,nba,Charlotte Hornets,Portland Trail Blazers,221.50,1.57,100,0.759054
1472,2021-04-19,00:00,basketball,usa,nba,Orlando Magic,Houston Rockets,224.50,1.59,100,0.818790
1473,2021-04-19,00:00,basketball,usa,nba,Toronto Raptors,Oklahoma City Thunder,223.00,1.58,100,0.667094
1474,2021-04-19,00:30,basketball,usa,nba,Dallas Mavericks,Sacramento Kings,236.50,1.57,100,0.573653
1475,2021-04-19,03:00,basketball,usa,nba,Los Angeles Clippers,Minnesota Timberwolves,237.50,1.56,100,0.727910
1476,2021-04-19,00:00,hockey,usa,nhl,Vancouver Canucks,Toronto Maple Leafs,7.00,1.45,100,0.738294
1477,2021-04-19,00:00,hockey,usa,nhl,Vancouver Canucks,Toronto Maple Leafs,7.00,1.40,100,0.772329

## NBA

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
747,00:00,2021-04-19,/basketball/usa/nba/charlotte-hornets-portland...,Charlotte Hornets,Portland Trail Blazers,2.54,0,1.55,0.509049
750,00:30,2021-04-19,/basketball/usa/nba/dallas-mavericks-sacrament...,Dallas Mavericks,Sacramento Kings,1.25,0,4.13,0.670504
751,03:00,2021-04-19,/basketball/usa/nba/los-angeles-clippers-minne...,Los Angeles Clippers,Minnesota Timberwolves,1.21,0,4.70,0.720640
748,00:00,2021-04-19,/basketball/usa/nba/orlando-magic-houston-rock...,Orlando Magic,Houston Rockets,1.90,0,1.94,0.572343
749,00:00,2021-04-19,/basketball/usa/nba/toronto-raptors-oklahoma-c...,Toronto Raptors,Oklahoma City Thunder,1.42,0,2.98,0.615356

## NBA CLUSTER FALLO

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA FALLO SIN FILTRO

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
702,00:00,2021-04-19,/hockey/usa/nhl/vancouver-canucks-toronto-mapl...,Vancouver Canucks,Toronto Maple Leafs,5.54,5.35,1.46,0.47891

### MLB

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
240,20:00,2021-04-19,/soccer/england/premier-league/leeds-liverpool...,Leeds,Liverpool,4.65,4.43,1.68,0.545111

### SOCCER CLUSTER FALLO

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
189,0:0,2021-04-19,soccer/england_premier-league,Leeds,Liverpool,4.66,4.44,1.68,1

### SOCCER EMPATE SECUENCIA

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
531,17:30,2021-04-19,soccer/greece_super-league,Lamia,AEL Larissa,2.52,2.85,3.18,1-Lamia-0.47
530,17:00,2021-04-19,soccer/israel_leumit-league,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,1-H. Akko-0.21
533,17:00,2021-04-19,soccer/israel_leumit-league,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,5-MS Kafr Qasim-0.08
534,18:00,2021-04-19,soccer/sweden_allsvenskan,Varbergs,Elfsborg,3.42,3.45,2.12,1-Elfsborg-0.12
532,18:00,2021-04-19,soccer/sweden_superettan,Norrby,Jonkopings,3.27,3.54,2.10,1-Norrby-0.12

###  MILAN - ms negativo -77

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
489,01:00,2021-04-19,soccer/mexico_liga-mx,Santos Laguna,Toluca,1.77,3.74,4.35,FAVORITO-1-Santos Laguna--0.45
490,18:00,2021-04-19,soccer/sweden_superettan,Norrby,Jonkopings,3.27,3.54,2.10,FAVORITO-1-Jonkopings--0.18

## CRB - ms positivo .49

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
92,20:00,2021-04-19,soccer/spain_laliga2,Almeria,Espanyol,3.06,3.16,2.42,FALLO-2-Almeria-0.49

### LIGA MX

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
186,2021-04-19,01:00,soccer,mexico,liga-mx,Santos Laguna,Toluca,TEAM1,0.595800,1.77,100
187,2021-04-19,03:06,soccer,mexico,liga-mx,Monterrey,Pachuca,TEAM1,0.592763,1.61,100

### NFL

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
323,16:30,2021-04-19,/hockey/finland/liiga/ifk-helsinki-karpat-oulu...,IFK Helsinki,Karpat,2.06,3.74,3.18,0.632209
321,14:00,2021-04-19,/hockey/finland/liiga/lukko-rauman-ilves-tampe...,Lukko,Ilves,1.49,4.88,5.16,0.651464
322,16:30,2021-04-19,/hockey/finland/liiga/tappara-kalpa-kuopio-nwl...,Tappara,KalPa,2.25,3.76,2.80,0.545041
320,14:00,2021-04-19,/hockey/finland/liiga/tps-turku-pelicans-lahti...,TPS Turku,Pelicans,2.47,3.77,2.50,0.498793

### Daily predictions machin3.

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7187,19:15,2021-04-19,/soccer/sweden/division-1-norra/haninge-taby-f...,Haninge,Taby,2.16,3.80,2.76,0.667569
7185,20:00,2021-04-19,/soccer/england/premier-league/leeds-liverpool...,Leeds,Liverpool,4.65,4.43,1.68,0.545111
7188,17:00,2021-04-19,/soccer/world/club-friendly/new-amsterdam-la-f...,New Amsterdam (Usa),LA Force (Usa),5.29,5.49,1.38,0.525719
7189,22:00,2021-04-19,/soccer/world/club-friendly/stumptown-californ...,Stumptown Ath. (Usa),California Utd. (Usa),3.66,3.81,1.81,0.525719
7186,03:00,2021-04-19,/soccer/usa/mls/vancouver-whitecaps-portland-t...,Vancouver Whitecaps,Portland Timbers,4.54,3.95,1.73,0.486664

___

## EXPERIMENTAL

### Daily model 53

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1315,17:00,2021-04-19,/soccer/israel/leumit-league/h-ironi-rishon-ne...,H. Ironi Rishon,Nes Tziona,2.72,2.80,2.72,TEAM1
1317,17:00,2021-04-19,/soccer/israel/leumit-league/hapoel-akko-ms-ka...,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,DRAW

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7932,17:00,2021-04-19,/soccer/israel/leumit-league/h-ironi-rishon-ne...,H. Ironi Rishon,Nes Tziona,2.72,2.80,2.72,TEAM1
7934,17:00,2021-04-19,/soccer/israel/leumit-league/hapoel-akko-ms-ka...,H. Akko,MS Kafr Qasim,2.65,2.79,2.81,DRAW
7936,18:00,2021-04-19,/soccer/sweden/superettan/norrby-jonkopings-nF...,Norrby,Jonkopings,3.27,3.54,2.10,TEAM1

### Daily predictions machin4 EMPATE

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []