In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
80,29/04/2021,20:00,basketball,usa,nba,Denver Nuggets,Toronto Raptors,218.0,1.9,100,UNDER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
9,29/04/2021,18:00,hockey,usa,nhl,Carolina Hurricanes,Detroit Red Wings,5.5,1.9,100,OVER

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
41,30/04/2021,10:00,soccer,lithuania,a-lyga,Zalgiris,Dainava Alytus,3.5,1.9,100,OVER

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
20,30/04/2021,11:00,soccer,france,national,Bourg en Bresse,Stade Briochin,2-Bourg en Bresse-0.39,1.9,100,FT_EMPATE
19,30/04/2021,14:00,soccer,spain,laliga2,Lugo,Zaragoza,6-Lugo-0.01,1.9,100,FT_EMPATE

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
1787,09:30,30/04/2021,soccer@romania,liga-1,Gaz Metan Medias,FC Arges,2.72,2.96,2.75,DRAW,-111.047608,58

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=4)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
1798,05:30,30/04/2021,soccer@south-korea,k-league-1,Seoul,Seongnam,2.64,3.08,2.79,TEAM1,-27.781476,49
1787,09:30,30/04/2021,soccer@romania,liga-1,Gaz Metan Medias,FC Arges,2.72,2.96,2.75,DRAW,-111.047608,58
1780,10:00,30/04/2021,soccer@south-africa,premier-league,Maritzburg Utd,Swallows,2.59,2.64,3.20,TEAM1,68.197317,49
1778,11:00,30/04/2021,soccer@croatia,1-hnl,Lok. Zagreb,Sibenik,2.09,3.42,3.32,TEAM1,-213.963661,48
1768,11:05,30/04/2021,soccer@denmark,superliga,Aalborg,Lyngby,1.94,3.92,3.53,TEAM2,145.750342,46
1810,11:45,30/04/2021,soccer@ireland,premier-division,Drogheda,Sligo Rovers,3.83,3.16,2.05,TEAM1,-247.921725,50
1809,13:45,30/04/2021,soccer@ireland,premier-division,Bohemians,Derry City,2.02,3.28,3.78,TEAM1,25.917463,50
1774,13:45,30/04/2021,soccer@scotland,championship,Inverness,Ayr,2.38,2.94,3.24,TEAM2,113.376112,52
1775,13:45,30/04/2021,soccer@scotland,championship,Alloa,Dunfermline,3.81,3.56,1.91,TEAM2,-200.848248,52
1777,13:45,30/04/2021,soccer@scotland,championship,Raith,Hearts,3.95,3.54,1.88,TEAM2,-41.208402,52
1799,14:00,30/04/2021,soccer@france,ligue-1,Marseille,Strasbourg,1.92,3.65,4.05,TEAM2,434.209428,51

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
731,30/04/2021,09:30,soccer,romania,liga-1,Gaz Metan Medias,FC Arges,X2,2.75,100.0
732,30/04/2021,11:00,soccer,france,national,Bastia,Annecy,X1,1.70,100.0
733,30/04/2021,11:00,soccer,france,national,Bastia,Annecy,X1,1.70,272.0

## NHL CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
403,0:0,2021-04-30,hockey/usa_nhl,Montreal Canadiens,Winnipeg Jets,2.34,4.16,2.58,2
404,0:0,2021-04-30,hockey/usa_nhl,Edmonton Oilers,Calgary Flames,2.24,4.22,2.69,2
405,0:0,2021-04-30,hockey/usa_nhl,Minnesota Wild,St. Louis Blues,2.07,4.18,3.00,2

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl_original")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6,0:0,2021-04-30,hockey/usa_nhl,Montreal Canadiens,Winnipeg Jets,2.34,4.16,2.58,2
7,0:0,2021-04-30,hockey/usa_nhl,Edmonton Oilers,Calgary Flames,2.24,4.22,2.69,1
8,0:0,2021-04-30,hockey/usa_nhl,Minnesota Wild,St. Louis Blues,2.07,4.18,3.00,2

### TAN!! SPECIAL SELECTION

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2283,08:00,30/04/2021,/soccer/ukraine/persha-liga/mfk-mykolaiv-pryka...,Mykolaiv,Prykarpattya,1.28,4.77,8.65,TEAM1
2284,09:00,30/04/2021,/soccer/ukraine/persha-liga/alliance-lipova-do...,Alliance,Kramatorsk,1.52,3.67,5.51,TEAM1
2286,10:00,30/04/2021,/soccer/lithuania/a-lyga/zalgiris-dainava-alyt...,Zalgiris,Dainava Alytus,1.17,6.82,10.43,TEAM1
2285,11:45,30/04/2021,/soccer/ireland/premier-division/st-patricks-l...,St. Patricks,Longford,1.39,4.27,8.95,TEAM1
2282,15:15,30/04/2021,/soccer/portugal/primeira-liga/fc-porto-famali...,FC Porto,Famalicao,1.34,5.17,9.10,TEAM1

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
189,00:00,2021-04-30,/basketball/usa/nba/indiana-pacers-brooklyn-ne...,Indiana Pacers,Brooklyn Nets,2.72,0.0,1.5,0.435519

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1404,2021-04-30,15:30,soccer,romania,liga-1,Gaz Metan Medias,FC Arges,X2,1.000000,2.75,100
1405,2021-04-30,00:20,baseball,usa,mlb,Atlanta Braves,Chicago Cubs,UNDER,0.579851,1.90,100
1406,2021-04-30,01:10,baseball,usa,mlb,Chicago White Sox,Detroit Tigers,UNDER,0.583027,1.90,100
1407,2021-04-30,00:00,basketball,usa,nba,Detroit Pistons,Dallas Mavericks,OVER,0.604055,1.90,100
1408,2021-04-30,01:00,basketball,usa,nba,Houston Rockets,Milwaukee Bucks,OVER,0.571078,1.90,100
1409,2021-04-30,01:00,basketball,usa,nba,Minnesota Timberwolves,Golden State Warriors,OVER,0.797348,1.90,100
1410,2021-04-30,02:00,basketball,usa,nba,Oklahoma City Thunder,New Orleans Pelicans,OVER,0.621967,1.90,100
1411,2021-04-30,02:00,basketball,usa,nba,Denver Nuggets,Toronto Raptors,OVER,0.763330,1.90,100

### Criterio

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1362,2021-04-30,15:30,soccer,belarus,vysshaya-liga,Din. Minsk,Energetik-BGU,TEAM1,1.47,173
1359,2021-04-30,17:00,soccer,france,national,Bastia,Annecy,TEAM1,1.70,272
1360,2021-04-30,14:00,soccer,israel,leumit-league,Nof Hagalil,Beitar Tel Aviv,TEAM1,1.56,210
1363,2021-04-30,21:15,soccer,portugal,primeira-liga,FC Porto,Famalicao,TEAM1,1.34,173
1361,2021-04-30,00:00,hockey,usa,nhl,Carolina Hurricanes,Detroit Red Wings,TEAM1,1.46,173

___

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1614,19:30,2021-04-30,/hockey/germany/del/adler-mannheim-grizzly-wol...,Adler Mannheim,Grizzly Wolfsburg,1.52,4.74,5.08,TEAM1
1615,00:00,2021-04-30,/hockey/usa/nhl/boston-bruins-buffalo-sabres-0...,Boston Bruins,Buffalo Sabres,1.44,5.25,5.79,TEAM1
1616,00:00,2021-04-30,/hockey/usa/nhl/carolina-hurricanes-detroit-re...,Carolina Hurricanes,Detroit Red Wings,1.46,5.18,5.64,TEAM1
1617,17:30,2021-04-30,/soccer/austria/2-liga/bw-linz-floridsdorfer-a...,BW Linz,Floridsdorfer AC,1.43,4.82,6.15,TEAM1
1619,15:30,2021-04-30,/soccer/belarus/vysshaya-liga/din-minsk-energe...,Din. Minsk,Energetik-BGU,1.47,4.22,6.12,TEAM1
1618,13:30,2021-04-30,/soccer/belarus/vysshaya-liga/rukh-brest-slavi...,Rukh Brest,Slavia Mozyr,1.48,4.12,6.52,TEAM1
1620,17:00,2021-04-30,/soccer/france/national/bastia-annecy-YL03xll3/,Bastia,Annecy,1.70,3.33,5.45,TEAM1
1621,14:00,2021-04-30,/soccer/israel/leumit-league/nof-hagalil-beita...,Nof Hagalil,Beitar Tel Aviv,1.56,3.73,5.58,TEAM1

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1699,2021-04-30,19:45,soccer,ireland,premier-division,Waterford,Dundalk,3.5,1.32,100,0.633686
1700,2021-04-30,16:00,soccer,lithuania,a-lyga,Zalgiris,Dainava Alytus,4.5,1.37,100,0.049168
1698,2021-04-30,15:00,soccer,malaysia,super-league,Melaka United,Kedah,3.5,1.29,100,0.536161
1697,2021-04-30,03:00,soccer,mexico,liga-mx,Atl. San Luis,Pachuca,3.5,1.33,100,0.840032
1701,2021-04-30,03:00,soccer,mexico,liga-mx,Atl. San Luis,Pachuca,3.5,1.33,100,0.855629
1680,2021-04-30,00:20,baseball,usa,mlb,Atlanta Braves,Chicago Cubs,11.0,1.50,100,0.579851
1681,2021-04-30,00:40,baseball,usa,mlb,Milwaukee Brewers,Los Angeles Dodgers,9.5,1.46,100,0.621815
1682,2021-04-30,01:05,baseball,usa,mlb,Texas Rangers,Boston Red Sox,11.0,1.44,100,0.849853
1683,2021-04-30,01:10,baseball,usa,mlb,Chicago White Sox,Detroit Tigers,7.5,1.49,100,0.583027
1684,2021-04-30,23:35,baseball,usa,mlb,Pittsburgh Pirates,St.Louis Cardinals,9.5,1.44,100,0.687429
1685,2021-04-30,00:00,basketball,usa,nba,Detroit Pistons,Dallas Mavericks,218.0,1.56,100,0.604055
1686,2021-04-30,00:00,basketball,usa,nba,Indiana Pacers,Brooklyn Nets,246.5,1.59,100,0.489608
1687,2021-04-30,01:00,basketball,usa,nba,Houston Rockets,Milwaukee Bucks,239.0,1.58,100,0.571078
1688,2021-04-30,01:00,basketball,usa,nba,Minnesota Timberwolves,Golden State Warriors,239.0,1.58,100,0.797348
1689,2021-04-30,02:00,basketball,usa,nba,Oklahoma City Thunder,New Orleans Pelicans,236.5,1.57,100,0.621967
1690,2021-04-30,02:00,basketball,usa,nba,Denver Nuggets,Toronto Raptors,223.0,1.58,100,0.763330
1691,2021-04-30,00:00,hockey,usa,nhl,Boston Bruins,Buffalo Sabres,6.5,1.44,100,0.770404
1692,2021-04-30,00:00,hockey,usa,nhl,New Jersey Devils,Philadelphia Flyers,7.0,1.40,100,0.813700
1693,2021-04-30,00:00,hockey,usa,nhl,Carolina Hurricanes,Detroit Red Wings,6.5,1.45,100,0.539953
1694,2021-04-30,00:30,hockey,usa,nhl,Toronto Maple Leafs,Vancouver Canucks,7.0,1.42,100,0.817330
1695,2021-04-30,01:00,hockey,usa,nhl,Minnesota Wild,St. Louis Blues,6.5,1.44,100,0.794723
1696,2021-04-30,01:00,hockey,usa,nhl,Chicago Blackhawks,Florida Panthers,7.0,1.42,100,0.508549

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_handicap1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
47,2021-04-30,02:40,baseball,usa,mlb,Arizona Diamondbacks,Colorado Rockies,-1.00,1.9,100,0.564596
41,2021-04-30,00:00,basketball,usa,nba,Detroit Pistons,Dallas Mavericks,7.50,1.9,100,0.519144
42,2021-04-30,00:00,basketball,usa,nba,Indiana Pacers,Brooklyn Nets,5.00,1.9,100,0.721179
43,2021-04-30,01:00,basketball,usa,nba,Houston Rockets,Milwaukee Bucks,13.50,1.9,100,0.636473
44,2021-04-30,01:00,basketball,usa,nba,Minnesota Timberwolves,Golden State Warriors,4.50,1.9,100,0.744945
45,2021-04-30,02:00,basketball,usa,nba,Oklahoma City Thunder,New Orleans Pelicans,9.00,1.9,100,0.786582
46,2021-04-30,02:00,basketball,usa,nba,Denver Nuggets,Toronto Raptors,-4.50,1.9,100,0.815393
37,2021-04-30,00:00,hockey,usa,nhl,Tampa Bay Lightning,Dallas Stars,-0.50,1.9,100,0.586408
38,2021-04-30,00:00,hockey,usa,nhl,Boston Bruins,Buffalo Sabres,-2.00,1.9,100,0.312854
39,2021-04-30,00:00,hockey,usa,nhl,Washington Capitals,Pittsburgh Penguins,0.00,1.9,100,0.616480
40,2021-04-30,00:30,hockey,usa,nhl,Toronto Maple Leafs,Vancouver Canucks,-1.75,1.9,100,0.173487

## NBA

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
838,02:00,2021-04-30,/basketball/usa/nba/denver-nuggets-toronto-rap...,Denver Nuggets,Toronto Raptors,1.55,0,2.54,0.658087
833,00:00,2021-04-30,/basketball/usa/nba/detroit-pistons-dallas-mav...,Detroit Pistons,Dallas Mavericks,3.47,0,1.33,0.451690
835,01:00,2021-04-30,/basketball/usa/nba/houston-rockets-milwaukee-...,Houston Rockets,Milwaukee Bucks,7.63,0,1.10,0.358275
834,00:00,2021-04-30,/basketball/usa/nba/indiana-pacers-brooklyn-ne...,Indiana Pacers,Brooklyn Nets,2.72,0,1.50,0.435519
836,01:00,2021-04-30,/basketball/usa/nba/minnesota-timberwolves-gol...,Minnesota Timberwolves,Golden State Warriors,2.54,0,1.56,0.500882
837,02:00,2021-04-30,/basketball/usa/nba/oklahoma-city-thunder-new-...,Oklahoma City Thunder,New Orleans Pelicans,4.15,0,1.25,0.419417

## NBA CLUSTER FALLO

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
270,0:0,2021-04-30,basketball/usa_nba,Oklahoma City Thunder,New Orleans Pelicans,4.17,0,1.24,1

## NBA FALLO SIN FILTRO

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
519,0:0,2021-04-30,basketball/usa_nba,Denver Nuggets,Toronto Raptors,1.56,0,2.49,2
520,0:0,2021-04-30,basketball/usa_nba,Oklahoma City Thunder,New Orleans Pelicans,4.17,0,1.24,1

## NHL

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
777,00:00,2021-04-30,/hockey/usa/nhl/boston-bruins-buffalo-sabres-0...,Boston Bruins,Buffalo Sabres,1.44,5.25,5.79,0.647901
781,00:00,2021-04-30,/hockey/usa/nhl/carolina-hurricanes-detroit-re...,Carolina Hurricanes,Detroit Red Wings,1.46,5.18,5.64,0.637245
784,01:00,2021-04-30,/hockey/usa/nhl/chicago-blackhawks-florida-pan...,Chicago Blackhawks,Florida Panthers,3.16,4.38,1.95,0.514847
785,02:00,2021-04-30,/hockey/usa/nhl/edmonton-oilers-calgary-flames...,Edmonton Oilers,Calgary Flames,2.22,4.22,2.70,0.620879
783,01:00,2021-04-30,/hockey/usa/nhl/minnesota-wild-st-louis-blues-...,Minnesota Wild,St. Louis Blues,2.08,4.19,2.99,0.617371
778,00:00,2021-04-30,/hockey/usa/nhl/new-jersey-devils-philadelphia...,New Jersey Devils,Philadelphia Flyers,2.65,4.33,2.24,0.498513
779,00:00,2021-04-30,/hockey/usa/nhl/new-york-rangers-new-york-isla...,New York Rangers,New York Islanders,2.29,4.02,2.71,0.570592
776,00:00,2021-04-30,/hockey/usa/nhl/tampa-bay-lightning-dallas-sta...,Tampa Bay Lightning,Dallas Stars,1.95,4.21,3.29,0.525929
782,00:30,2021-04-30,/hockey/usa/nhl/toronto-maple-leafs-vancouver-...,Toronto Maple Leafs,Vancouver Canucks,1.53,5.12,4.86,0.573311
780,00:00,2021-04-30,/hockey/usa/nhl/washington-capitals-pittsburgh...,Washington Capitals,Pittsburgh Penguins,2.53,4.21,2.39,0.594935

### MLB

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
256,23:35,2021-04-30,/baseball/usa/mlb/pittsburgh-pirates-st-louis-...,Pittsburgh Pirates,St.Louis Cardinals,2,0,1.85,TEAM2

## SOCCER

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
269,20:00,2021-04-30,/soccer/england/premier-league/southampton-lei...,Southampton,Leicester,3.63,3.83,2.0,0.374449

### SOCCER CLUSTER FALLO

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
211,0:0,2021-04-30,soccer/england_premier-league,Southampton,Leicester,3.61,3.83,2.01,1

### SOCCER EMPATE SECUENCIA

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
603,17:00,2021-04-30,soccer/france_national,Bourg en Bresse,Stade Briochin,2.32,2.78,3.54,2-Bourg en Bresse-0.39
602,14:00,2021-04-30,soccer/israel_leumit-league,Hapoel Jerusalem,Nes Tziona,1.90,3.30,3.80,1-Hapoel Jerusalem-0.66
605,16:00,2021-04-30,soccer/slovenia_prva-liga,ND Gorica,Mura,3.23,3.33,2.10,2-Mura-0.03
604,20:00,2021-04-30,soccer/spain_laliga2,Lugo,Zaragoza,2.95,2.73,2.85,6-Lugo-0.01

###  MILAN - ms negativo -77

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
353,16:30,2021-04-30,/hockey/finland/liiga/ifk-helsinki-tps-turku-Y...,IFK Helsinki,TPS Turku,1.77,4.15,3.90,0.629554
352,15:00,2021-04-30,/hockey/finland/liiga/lukko-rauman-tappara-tWu...,Lukko,Tappara,1.77,4.11,3.93,0.628483
355,19:30,2021-04-30,/hockey/germany/del/adler-mannheim-grizzly-wol...,Adler Mannheim,Grizzly Wolfsburg,1.52,4.74,5.08,0.618759
354,17:30,2021-04-30,/hockey/germany/del/eisbaren-berlin-erc-ingols...,Eisbaren Berlin,ERC Ingolstadt,1.70,4.72,3.78,0.525974

### Daily predictions machin3.

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
717,15:30,2021-04-30,/soccer/belarus/vysshaya-liga/din-minsk-energe...,Din. Minsk,Energetik-BGU,1.47,4.22,6.12,TEAM1
716,13:30,2021-04-30,/soccer/belarus/vysshaya-liga/rukh-brest-slavi...,Rukh Brest,Slavia Mozyr,1.48,4.12,6.52,TEAM1
715,17:00,2021-04-30,/soccer/croatia/1-hnl/lok-zagreb-sibenik-vHK3W...,Lok. Zagreb,Sibenik,2.09,3.42,3.32,TEAM2

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7466,18:00,2021-04-30,/soccer/sweden/division-1-sodra/skovde-vanersb...,Skovde AIK,Vanersborgs IF,1.86,3.64,3.63,0.802294
7472,16:00,2021-04-30,/soccer/lithuania/a-lyga/zalgiris-dainava-alyt...,Zalgiris,Dainava Alytus,1.17,6.82,10.43,0.789239
7467,17:45,2021-04-30,/soccer/ireland/premier-division/st-patricks-l...,St. Patricks,Longford,1.39,4.27,8.95,0.687649
7464,14:00,2021-04-30,/soccer/ukraine/persha-liga/mfk-mykolaiv-pryka...,Mykolaiv,Prykarpattya,1.28,4.77,8.65,0.676428
7459,21:15,2021-04-30,/soccer/portugal/primeira-liga/fc-porto-famali...,FC Porto,Famalicao,1.34,5.17,9.10,0.673875
7473,10:30,2021-04-30,/soccer/australia/npl-victoria/melbourne-knigh...,Melbourne Knights,Dandenong City,1.55,4.28,4.84,0.611257
7471,19:45,2021-04-30,/soccer/ireland/premier-division/bohemians-der...,Bohemians,Derry City,2.02,3.28,3.78,0.594441
7465,15:00,2021-04-30,/soccer/ukraine/persha-liga/alliance-lipova-do...,Alliance,Kramatorsk,1.52,3.67,5.51,0.591604
7453,20:00,2021-04-30,/soccer/spain/laliga/celta-vigo-levante-UBKayfHn/,Celta Vigo,Levante,1.80,3.68,4.73,0.571349
7463,14:00,2021-04-30,/soccer/ukraine/persha-liga/vpk-agro-kremin-IH...,VPK-Agro,Kremin,2.25,3.13,3.00,0.548646
7469,19:45,2021-04-30,/soccer/ireland/premier-division/waterford-dun...,Waterford,Dundalk,7.72,4.19,1.44,0.496358
7456,15:00,2021-04-30,/soccer/portugal/primeira-liga/ferreira-belene...,Ferreira,Belenenses,2.24,3.19,3.42,0.473025
7452,16:00,2021-04-30,/soccer/slovenia/prva-liga/nd-gorica-mura-Eqz3...,ND Gorica,Mura,3.23,3.33,2.10,0.447625
7454,15:00,2021-04-30,/soccer/malaysia/super-league/melaka-united-ke...,Melaka United,Kedah,3.47,3.40,1.96,0.447023
7457,17:00,2021-04-30,/soccer/portugal/primeira-liga/vitoria-guimara...,Vitoria Guimaraes,Moreirense,1.86,3.41,4.52,0.444933
7458,19:00,2021-04-30,/soccer/portugal/primeira-liga/tondela-benfica...,Tondela,Benfica,10.09,5.58,1.29,0.418276
7468,17:45,2021-04-30,/soccer/ireland/premier-division/drogheda-slig...,Drogheda,Sligo Rovers,3.83,3.16,2.05,0.416531
7470,19:45,2021-04-30,/soccer/ireland/premier-division/finn-harps-sh...,Finn Harps,Shamrock Rovers,6.38,3.85,1.54,0.388042
7460,20:00,2021-04-30,/soccer/england/premier-league/southampton-lei...,Southampton,Leicester,3.63,3.83,2.00,0.374449
7461,13:00,2021-04-30,/soccer/ukraine/persha-liga/nyva-ternopil-ch-o...,Nyva Ternopil,Ch. Odessa,6.13,3.86,1.45,0.372952
7462,14:00,2021-04-30,/soccer/ukraine/persha-liga/krystal-obolon-SSa...,Krystal,Obolon,6.65,4.10,1.40,0.304200
7455,15:00,2021-04-30,/soccer/malaysia/super-league/kuala-lumpur-cit...,Kuala Lumpur City,Johor DT,6.37,4.76,1.38,0.165411

___

## EXPERIMENTAL

### Daily model 53

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1526,15:30,2021-04-30,/soccer/romania/liga-1/gaz-metan-medias-campio...,Gaz Metan Medias,FC Arges,2.72,2.96,2.75,DRAW
1525,14:00,2021-04-30,/soccer/ukraine/persha-liga/vpk-agro-kremin-IH...,VPK-Agro,Kremin,2.25,3.13,3.00,TEAM1
1530,14:00,2021-04-30,/soccer/ukraine/persha-liga/vpk-agro-kremin-IH...,VPK-Agro,Kremin,2.25,3.13,3.00,TEAM2

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
8503,20:00,2021-04-30,/soccer/france/ligue-1/marseille-strasbourg-ph...,Marseille,Strasbourg,1.92,3.65,4.05,TEAM2
8504,17:00,2021-04-30,/soccer/france/national/bastia-annecy-YL03xll3/,Bastia,Annecy,1.70,3.33,5.45,TEAM1
8501,17:00,2021-04-30,/soccer/france/national/bourg-peronnas-stade-b...,Bourg en Bresse,Stade Briochin,2.32,2.78,3.54,TEAM2
8495,17:00,2021-04-30,/soccer/france/national/laval-bastia-borgo-Sr0...,Laval,Bastia-Borgo,2.40,2.86,3.26,DRAW
8500,17:00,2021-04-30,/soccer/france/national/laval-bastia-borgo-Sr0...,Laval,Bastia-Borgo,2.40,2.86,3.26,TEAM2
8507,19:00,2021-04-30,/soccer/france/national/le-mans-sporting-club-...,Le Mans,Sporting Club Lyon,2.22,3.05,3.38,TEAM1
8498,15:30,2021-04-30,/soccer/romania/liga-1/gaz-metan-medias-campio...,Gaz Metan Medias,FC Arges,2.72,2.96,2.75,DRAW
8490,19:45,2021-04-30,/soccer/scotland/championship/alloa-dunfermlin...,Alloa,Dunfermline,3.81,3.56,1.91,TEAM2
8489,19:45,2021-04-30,/soccer/scotland/championship/inverness-ayr-j5...,Inverness,Ayr,2.38,2.94,3.24,TEAM2
8492,19:45,2021-04-30,/soccer/scotland/championship/raith-hearts-IBT...,Raith,Hearts,3.95,3.54,1.88,TEAM2
8486,16:00,2021-04-30,/soccer/slovenia/prva-liga/nd-gorica-mura-Eqz3...,ND Gorica,Mura,3.23,3.33,2.10,TEAM1
8493,14:00,2021-04-30,/soccer/ukraine/persha-liga/vpk-agro-kremin-IH...,VPK-Agro,Kremin,2.25,3.13,3.00,TEAM1
8512,14:00,2021-04-30,/soccer/ukraine/persha-liga/vpk-agro-kremin-IH...,VPK-Agro,Kremin,2.25,3.13,3.00,TEAM2

### Daily predictions machin4 EMPATE

In [41]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [42]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []