In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

### Simples

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin7")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### ONE-SHOT

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin8")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### DOBLE en secuencia

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin9")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
348,16:00,2020-08-13,/soccer/estonia/esiliiga/tammeka-tartu-kohtla-...,Tammeka U21,JK Jarve,1.36,4.78,5.94,TEAM1
346,14:30,2020-08-13,/soccer/ukraine/persha-liga/ahrobiznes-volochy...,Ahrobiznes Volochysk,Obolon Kyiv,1.46,3.88,5.59,TEAM1
345,14:30,2020-08-13,/soccer/ukraine/persha-liga/fk-balkany-inhulet...,Balkany,Inhulets,10.50,6.20,1.17,TEAM2
347,14:30,2020-08-13,/soccer/ukraine/persha-liga/rukh-lviv-kramator...,Rukh Lviv,Kramatorsk,1.05,9.05,19.25,TEAM1

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
90,14:30,2020-08-13,/soccer/ukraine/persha-liga/ahrobiznes-volochy...,Ahrobiznes Volochysk,Obolon Kyiv,1.46,3.88,5.59,TEAM1
89,14:30,2020-08-13,/soccer/ukraine/persha-liga/fk-balkany-inhulet...,Balkany,Inhulets,10.50,6.20,1.17,TEAM2

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
152,2020-08-13,16:00,soccer,estonia,esiliiga,Tammeka U21,JK Jarve,TEAM1,1.36,85
151,2020-08-13,14:30,soccer,ukraine,persha-liga,Ahrobiznes Volochysk,Obolon Kyiv,TEAM1,1.46,315
155,2020-08-13,01:40,baseball,usa,mlb,Los Angeles Dodgers,San Diego Padres,TEAM1,1.59,200
154,2020-08-13,20:05,baseball,usa,mlb,Philadelphia Phillies,Baltimore Orioles,TEAM1,1.55,200
153,2020-08-13,23:15,baseball,usa,mlb,Chicago Cubs,Milwaukee Brewers,TEAM1,1.57,200

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
36,2020-08-13,16:00,soccer,estonia,esiliiga,Tammeka U21,JK Jarve,TEAM1,1.36,212
35,2020-08-13,14:30,soccer,ukraine,persha-liga,Ahrobiznes Volochysk,Obolon Kyiv,TEAM1,1.46,788

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
4,2020-08-13,16:00,soccer,estonia,esiliiga,Tammeka U21,JK Jarve,TEAM1,1.36,212
3,2020-08-13,14:30,soccer,ukraine,persha-liga,Ahrobiznes Volochysk,Obolon Kyiv,TEAM1,1.46,788

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
76,2020-08-13,01:05,baseball,usa,mlb,Texas Rangers,Seattle Mariners,11.0,1.4,100,0.830021

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
101,01:05,2020-08-13,/baseball/usa/mlb/texas-rangers-seattle-marine...,Texas Rangers,Seattle Mariners,1.84,0,2.08,TEAM1
102,01:40,2020-08-13,/baseball/usa/mlb/los-angeles-dodgers-san-dieg...,Los Angeles Dodgers,San Diego Padres,1.59,0,2.54,TEAM1
97,17:10,2020-08-13,/baseball/usa/mlb/new-york-mets-washington-nat...,New York Mets,Washington Nationals,1.86,0,2.07,TEAM1
98,20:05,2020-08-13,/baseball/usa/mlb/philadelphia-phillies-baltim...,Philadelphia Phillies,Baltimore Orioles,1.55,0,2.62,TEAM1
99,21:10,2020-08-13,/baseball/usa/mlb/cincinnati-reds-pittsburgh-p...,Cincinnati Reds,Pittsburgh Pirates,1.55,0,2.68,TEAM1
100,23:15,2020-08-13,/baseball/usa/mlb/chicago-cubs-milwaukee-brewe...,Chicago Cubs,Milwaukee Brewers,1.57,0,2.57,TEAM1

### Daily predictions machin3.

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1549,14:30,2020-08-13,/soccer/ukraine/persha-liga/rukh-lviv-kramator...,Rukh Lviv,Kramatorsk,1.05,9.05,19.25,0.844932
1548,14:30,2020-08-13,/soccer/ukraine/persha-liga/minaj-volyn-lutsk-...,Minaj,Volyn Lutsk,2.71,2.92,2.50,0.844435
1546,14:30,2020-08-13,/soccer/ukraine/persha-liga/ahrobiznes-volochy...,Ahrobiznes Volochysk,Obolon Kyiv,1.46,3.88,5.59,0.830748
1547,14:30,2020-08-13,/soccer/ukraine/persha-liga/hirnyk-sport-komso...,Hirnyk-Sport,Prykarpattya,1.50,4.15,4.69,0.789941
1545,14:30,2020-08-13,/soccer/ukraine/persha-liga/metalist-1925-krem...,Metalist 1925,Kremin,1.64,3.63,4.14,0.788324
1550,14:30,2020-08-13,/soccer/ukraine/persha-liga/mfc-metalurh-zapor...,MFC Metalurh,Ch. Odessa,2.23,3.42,2.63,0.766438
1544,14:30,2020-08-13,/soccer/ukraine/persha-liga/fk-balkany-inhulet...,Balkany,Inhulets,10.50,6.20,1.17,0.757572
1553,16:00,2020-08-13,/soccer/estonia/esiliiga/tammeka-tartu-kohtla-...,Tammeka U21,JK Jarve,1.36,4.78,5.94,0.566750
1543,00:30,2020-08-13,/soccer/usa/mls/fc-dallas-nashville-sc-CAn2IMeb/,FC Dallas,Nashville SC,1.59,3.94,5.73,0.525719
1552,16:45,2020-08-13,/soccer/world/club-friendly/ajax-utrecht-AZgNB...,Ajax (Ned),Utrecht (Ned),1.33,5.25,6.70,0.525719
1551,16:00,2020-08-13,/soccer/world/club-friendly/volos-atromitos-ji...,Volos (Gre),Atromitos (Gre),2.78,3.43,2.22,0.525719

___

## EXPERIMENTAL

### Daily model 53

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []