In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp as dsp

# Daily selection

___

### Simples

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin7")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
47,17:00,2020-07-17,/soccer/bulgaria/parva-liga/dunav-ruse-montana...,DunavRuse,Montana,1.93,3.14,3.88,TEAM2
45,02:30,2020-07-17,/soccer/usa/mls/columbus-crew-new-york-red-bul...,ColumbusCrew,NewYorkRedBulls,2.34,3.53,2.84,TEAM1
46,00:00,2020-07-17,/soccer/usa/mls/montreal-impact-toronto-fc-K6E...,MontrealImpact,TorontoFC,3.47,3.63,1.99,TEAM1

### ONE-SHOT

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin8")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
15,16:00,2020-07-17,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.29,3.3,2.91,TEAM1

### DOBLE en secuencia

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin9")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
30,17:00,2020-07-17,/soccer/bulgaria/parva-liga/dunav-ruse-montana...,DunavRuse,Montana,1.93,3.14,3.88,TEAM2
31,16:00,2020-07-17,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.29,3.30,2.91,TEAM1

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
153,18:00,2020-07-17,/soccer/slovakia/fortuna-liga/nitra-dubnica-ED...,Nitra,Dubnica,1.45,4.13,6.52,TEAM1
154,00:00,2020-07-17,/soccer/usa/mls/montreal-impact-toronto-fc-K6E...,MontrealImpact,TorontoFC,3.47,3.63,1.99,TEAM2

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
10,19:00,2020-07-17,/soccer/italy/serie-b/crotone-salernitana-GpAG...,Crotone,Salernitana,1.67,3.50,5.60,TEAM1
11,18:00,2020-07-17,/soccer/slovakia/fortuna-liga/nitra-dubnica-ED...,Nitra,Dubnica,1.45,4.13,6.52,TEAM1
12,19:00,2020-07-17,/soccer/spain/laliga2/girona-cadiz-pM7NDD0l/,Girona,CadizCF,1.63,3.56,5.81,TEAM1
13,19:00,2020-07-17,/soccer/spain/laliga2/huesca-numancia-vq7RCXFf/,Huesca,Numancia,1.64,3.59,5.73,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
15,2020-07-17,19:00,soccer,italy,serie-b,Crotone,Salernitana,TEAM1,1.67,248
16,2020-07-17,18:00,soccer,slovakia,fortuna-liga,Nitra,Dubnica,TEAM1,1.45,176
17,2020-07-17,19:00,soccer,spain,laliga2,Girona,CadizCF,TEAM1,1.63,239
18,2020-07-17,19:00,soccer,spain,laliga2,Huesca,Numancia,TEAM1,1.64,241
19,2020-07-17,00:00,soccer,usa,mls,MontrealImpact,TorontoFC,TEAM2,1.99,97

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1,2020-07-17,19:00,soccer,italy,serie-b,Crotone,Salernitana,TEAM1,1.67,274
2,2020-07-17,18:00,soccer,slovakia,fortuna-liga,Nitra,Dubnica,TEAM1,1.45,195
3,2020-07-17,19:00,soccer,spain,laliga2,Girona,CadizCF,TEAM1,1.63,264
4,2020-07-17,19:00,soccer,spain,laliga2,Huesca,Numancia,TEAM1,1.64,267

### Daily predictions machin3.

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
650,18:00,2020-07-17,/soccer/slovakia/fortuna-liga/nitra-dubnica-ED...,Nitra,Dubnica,1.45,4.13,6.52,0.759804
649,16:00,2020-07-17,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.29,3.30,2.91,0.561555
647,02:30,2020-07-17,/soccer/usa/mls/columbus-crew-new-york-red-bul...,ColumbusCrew,NewYorkRedBulls,2.34,3.53,2.84,0.525719
646,00:00,2020-07-17,/soccer/usa/mls/montreal-impact-toronto-fc-K6E...,MontrealImpact,TorontoFC,3.47,3.63,1.99,0.525719
651,17:00,2020-07-17,/soccer/bulgaria/parva-liga/dunav-ruse-montana...,DunavRuse,Montana,1.93,3.14,3.88,0.412542
648,19:00,2020-07-17,/soccer/england/premier-league/west-ham-watfor...,WestHam,Watford,2.40,3.02,3.50,0.275303

___

## EXPERIMENTAL

### Daily model 53

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []