In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
275,2021-01-12,19:45,soccer,england,championship,Bournemouth,Millwall,X1,1.69,268
274,2021-01-12,18:00,soccer,germany,3-liga,Bayern II,Meppen,X2,3.66,100
272,2021-01-12,15:00,soccer,romania,liga-1,Gaz Metan Medias,FC Voluntari,X2,3.03,100
273,2021-01-12,17:45,soccer,romania,liga-1,U Craiova,Sepsi Sf. Gheorghe,X2,3.95,100
276,2021-01-12,00:00,basketball,usa,nba,Cleveland Cavaliers,Memphis Grizzlies,212,1.56,100

### Premium

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
618,2021-01-12,18:00,soccer,england,premier-league,Sheffield Utd,Newcastle,TEAM2,1.000000,3.12,100
619,2021-01-12,20:15,soccer,england,premier-league,Wolves,Everton,TEAM2,1.000000,3.12,100
616,2021-01-12,18:00,soccer,germany,3-liga,Bayern II,Meppen,X2,1.000000,3.66,100
614,2021-01-12,15:00,soccer,romania,liga-1,Gaz Metan Medias,FC Voluntari,X2,1.000000,3.03,100
615,2021-01-12,17:45,soccer,romania,liga-1,U Craiova,Sepsi Sf. Gheorghe,X2,1.000000,3.95,100
617,2021-01-12,18:00,soccer,spain,laliga,Granada CF,Osasuna,TEAM2,1.000000,3.37,100
621,2021-01-12,00:00,basketball,usa,nba,Cleveland Cavaliers,Memphis Grizzlies,UNDER,0.298329,1.90,100
622,2021-01-12,00:00,basketball,usa,nba,Washington Wizards,Phoenix Suns,OVER,0.658107,1.90,100
620,2021-01-12,03:00,basketball,usa,nba,Portland Trail Blazers,Toronto Raptors,OVER,0.568329,1.90,100

### Criterio

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
849,2021-01-12,12:30,soccer,egypt,premier-league,Smouha,National Bank Egypt,TEAM1,2.88,214
845,2021-01-12,19:45,soccer,england,championship,Bournemouth,Millwall,TEAM1,1.69,268
846,2021-01-12,19:45,soccer,england,national-league-south,Dartford,Billericay,TEAM1,1.41,173
848,2021-01-12,19:45,soccer,england,national-league-south,Eastbourne Boro,Maidstone,TEAM2,2.44,173
847,2021-01-12,18:00,soccer,england,premier-league,Sheffield Utd,Newcastle,TEAM2,3.12,173

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1612,19:45,2021-01-12,/soccer/england/national-league-north/farsley-...,Farsley,Darlington,2.49,3.32,2.51,TEAM2
1611,19:45,2021-01-12,/soccer/england/national-league-south/dartford...,Dartford,Billericay,1.41,4.29,6.34,TEAM1
1617,19:45,2021-01-12,/soccer/england/national-league-south/eastbour...,Eastbourne Boro,Maidstone,2.52,3.44,2.44,TEAM2
1616,19:45,2021-01-12,/soccer/england/national-league-south/welling-...,Welling,St. Albans,3.36,3.43,1.97,TEAM2
1614,18:00,2021-01-12,/soccer/england/premier-league/sheffield-utd-n...,Sheffield Utd,Newcastle,2.50,3.16,3.12,TEAM2
1615,20:15,2021-01-12,/soccer/england/premier-league/wolves-everton-...,Wolves,Everton,2.50,3.17,3.12,TEAM2
1613,18:00,2021-01-12,/soccer/spain/laliga/granada-cf-osasuna-h6s8wLWl/,Granada CF,Osasuna,2.41,3.06,3.37,TEAM2

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
820,18:00,2021-01-12,/hockey/sweden/shl/lulea-linkopings-ADO2g0Ff/,Lulea,Linkopings,1.41,5.43,5.87,TEAM1
821,19:45,2021-01-12,/soccer/england/championship/bournemouth-millw...,Bournemouth,Millwall,1.69,3.74,5.39,TEAM1
822,19:45,2021-01-12,/soccer/england/national-league-south/dartford...,Dartford,Billericay,1.41,4.29,6.34,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
456,2021-01-12,00:00,basketball,usa,nba,Charlotte Hornets,New York Knicks,218.0,1.56,100,0.473817
459,2021-01-12,00:00,basketball,usa,nba,Cleveland Cavaliers,Memphis Grizzlies,212.0,1.56,100,0.298329
460,2021-01-12,00:00,basketball,usa,nba,Orlando Magic,Milwaukee Bucks,230.5,1.60,100,0.418535
461,2021-01-12,00:00,basketball,usa,nba,Washington Wizards,Phoenix Suns,237.0,1.56,100,0.658107
462,2021-01-12,00:30,basketball,usa,nba,Atlanta Hawks,Philadelphia 76ers,226.0,1.57,100,0.412613
457,2021-01-12,03:00,basketball,usa,nba,Sacramento Kings,Indiana Pacers,233.0,1.56,100,0.414607
458,2021-01-12,03:00,basketball,usa,nba,Portland Trail Blazers,Toronto Raptors,236.0,1.56,100,0.568329

## NBA

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
47,00:30,2021-01-12,/basketball/usa/nba/atlanta-hawks-philadelphia...,Atlanta Hawks,Philadelphia 76ers,1.43,0,2.95,0.390404
43,00:00,2021-01-12,/basketball/usa/nba/charlotte-hornets-new-york...,Charlotte Hornets,New York Knicks,1.51,0,2.66,0.522318
44,00:00,2021-01-12,/basketball/usa/nba/cleveland-cavaliers-memphi...,Cleveland Cavaliers,Memphis Grizzlies,2.19,0,1.72,0.489101
45,00:00,2021-01-12,/basketball/usa/nba/orlando-magic-milwaukee-bu...,Orlando Magic,Milwaukee Bucks,5.01,0,1.19,0.498792
49,03:00,2021-01-12,/basketball/usa/nba/portland-trail-blazers-tor...,Portland Trail Blazers,Toronto Raptors,1.51,0,2.68,0.511086
48,03:00,2021-01-12,/basketball/usa/nba/sacramento-kings-indiana-p...,Sacramento Kings,Indiana Pacers,2.79,0,1.47,0.478517
46,00:00,2021-01-12,/basketball/usa/nba/washington-wizards-phoenix...,Washington Wizards,Phoenix Suns,3.01,0,1.42,0.494442

## NBA CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
12,0:0,2021-01-12,basketball/usa_nba,Orlando Magic,Milwaukee Bucks,3.55,0,1.3,1

## NBA FALLO SIN FILTRO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
15,0:0,2021-01-12,basketball/usa_nba,Sacramento Kings,Indiana Pacers,2.69,0,1.49,1
16,0:0,2021-01-12,basketball/usa_nba,Washington Wizards,Phoenix Suns,2.81,0,1.44,1
17,0:0,2021-01-12,basketball/usa_nba,Atlanta Hawks,Philadelphia 76ers,1.36,0,3.13,2
18,0:0,2021-01-12,basketball/usa_nba,Orlando Magic,Milwaukee Bucks,3.55,0,1.30,1

### SOCCER EMPATE SECUENCIA

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
35,22:15,2021-01-12,soccer/brazil_serie-b,Brasil de Pelotas,Juventude,2.89,2.94,2.57,1-Brasil de Pelotas-0.3
36,19:45,2021-01-12,soccer/england_championship,Bournemouth,Millwall,1.69,3.74,5.39,1-Millwall-0.14

## NHL

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL CLUSTER FALLO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### MLB

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
77,2021-01-12,03:00,soccer,mexico,liga-mx,Pachuca,Juarez,TEAM1,0.593777,1.57,100

### NFL

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### Daily predictions machin3.

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5194,14:00,2021-01-12,/soccer/world/club-friendly/hartberg-bw-linz-4...,Hartberg (Aut),BW Linz (Aut),1.56,4.24,4.67,0.777277
5190,19:45,2021-01-12,/soccer/england/national-league-south/dartford...,Dartford,Billericay,1.41,4.29,6.34,0.649393
5188,19:45,2021-01-12,/soccer/england/national-league-south/ebbsflee...,Ebbsfleet,Concord,2.06,3.31,3.21,0.586617
5182,18:00,2021-01-12,/soccer/spain/laliga/granada-cf-osasuna-h6s8wLWl/,Granada CF,Osasuna,2.41,3.06,3.37,0.561188
5180,19:45,2021-01-12,/soccer/england/national-league-north/chorley-...,Chorley,Leamington,2.28,3.29,2.78,0.560042
5181,19:45,2021-01-12,/soccer/england/national-league-north/farsley-...,Farsley,Darlington,2.49,3.32,2.51,0.555303
5191,19:45,2021-01-12,/soccer/england/national-league-south/eastbour...,Eastbourne Boro,Maidstone,2.52,3.44,2.44,0.552198
5183,20:30,2021-01-12,/soccer/spain/laliga/atl-madrid-sevilla-OfqU8lA0/,Atl. Madrid,Sevilla,2.04,3.11,4.42,0.532461
5193,13:00,2021-01-12,/soccer/world/club-friendly/orijent-mol-feherv...,Orijent (Cro),MOL Fehervar (Hun),8.85,4.99,1.25,0.525719
5192,13:00,2021-01-12,/soccer/world/club-friendly/budafoki-mte-koper...,Budafoki (Hun),Koper (Slo),2.88,3.96,2.06,0.525719
5195,14:00,2021-01-12,/soccer/world/club-friendly/ried-wacker-innsbr...,Ried (Aut),Wacker Innsbruck (Aut),1.55,3.98,5.07,0.525719
5186,20:15,2021-01-12,/soccer/england/premier-league/wolves-everton-...,Wolves,Everton,2.50,3.17,3.12,0.510931
5179,19:00,2021-01-12,/soccer/england/national-league-north/york-afc...,York,AFC Fylde,2.28,3.19,2.61,0.504540
5189,19:45,2021-01-12,/soccer/england/national-league-south/braintre...,Braintree,Oxford City,4.07,3.63,1.72,0.435050
5187,19:45,2021-01-12,/soccer/england/national-league-south/welling-...,Welling,St. Albans,3.36,3.43,1.97,0.422926
5184,18:00,2021-01-12,/soccer/england/premier-league/sheffield-utd-n...,Sheffield Utd,Newcastle,2.50,3.16,3.12,0.413239
5185,20:15,2021-01-12,/soccer/england/premier-league/burnley-manches...,Burnley,Manchester Utd,7.27,4.65,1.46,0.395522

___

### HOCKEY

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
28,16:30,2021-01-12,/hockey/finland/liiga/jukurit-ifk-helsinki-Cr2...,Jukurit,IFK Helsinki,3.44,4.31,1.84,0.505028
27,16:30,2021-01-12,/hockey/finland/liiga/kalpa-kuopio-vaasan-spor...,KalPa,Vaasan Sport,2.00,4.08,3.14,0.527141

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## EXPERIMENTAL

### Daily model 53

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
670,17:45,2021-01-12,/soccer/romania/liga-1/cs-u-craiova-sepsi-ImuX...,U Craiova,Sepsi Sf. Gheorghe,1.96,3.31,3.95,DRAW
669,15:00,2021-01-12,/soccer/romania/liga-1/gaz-metan-medias-volunt...,Gaz Metan Medias,FC Voluntari,2.29,3.33,3.03,DRAW

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5731,22:15,2021-01-12,/soccer/brazil/serie-b/brasil-de-pelotas-espor...,Brasil de Pelotas,Juventude,2.89,2.94,2.57,TEAM1
5732,22:15,2021-01-12,/soccer/brazil/serie-b/nautico-america-mg-j76x...,Nautico,America MG,3.21,2.94,2.34,TEAM1
5725,19:00,2021-01-12,/soccer/england/championship/luton-qpr-OULlkoQ1/,Luton,QPR,2.28,3.28,3.32,TEAM2
5727,19:00,2021-01-12,/soccer/england/league-two/scunthorpe-salford-...,Scunthorpe,Salford,3.24,3.37,2.24,TEAM1
5723,19:45,2021-01-12,/soccer/england/national-league-south/braintre...,Braintree,Oxford City,4.07,3.63,1.72,TEAM1
5722,19:45,2021-01-12,/soccer/england/national-league-south/welling-...,Welling,St. Albans,3.36,3.43,1.97,TEAM1
5736,18:00,2021-01-12,/soccer/germany/3-liga/bayern-meppen-8Myo5egl/,Bayern II,Meppen,2.03,3.36,3.66,DRAW
5737,18:00,2021-01-12,/soccer/germany/3-liga/magdeburg-saarbrucken-t...,Magdeburg,Saarbrucken,2.80,3.42,2.41,DRAW
5740,18:00,2021-01-12,/soccer/germany/3-liga/magdeburg-saarbrucken-t...,Magdeburg,Saarbrucken,2.80,3.42,2.41,TEAM2
5738,18:00,2021-01-12,/soccer/germany/3-liga/unterhaching-verl-IH2S0...,Unterhaching,Verl,2.57,3.37,2.63,TEAM2
5734,17:45,2021-01-12,/soccer/romania/liga-1/cs-u-craiova-sepsi-ImuX...,U Craiova,Sepsi Sf. Gheorghe,1.96,3.31,3.95,DRAW
5733,15:00,2021-01-12,/soccer/romania/liga-1/gaz-metan-medias-volunt...,Gaz Metan Medias,FC Voluntari,2.29,3.33,3.03,DRAW

### Daily predictions machin4 EMPATE

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []