In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
584,2021-03-29,19:45,soccer,france,national,Orleans,Bastia,X2,2.43,227.0
587,2021-03-29,17:30,hockey,germany,del,Schwenninger,Dusseldorf,X1,2.02,126.0
586,2021-03-29,00:00,soccer,paraguay,primera-division,Libertad Asuncion,Guarani,X1,1.66,286.0
585,2021-03-29,15:00,soccer,serbia,prva-liga,Graficar Beograd,Borac 1926,X1,1.98,100.0

### Gana Favorito en ODDs finales.

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1097,2021-03-29,00:00,basketball,usa,nba,Toronto Raptors,Portland Trail Blazers,OVER,0.771332,1.9,100
1098,2021-03-29,02:00,basketball,usa,nba,Denver Nuggets,Atlanta Hawks,UNDER,0.272303,1.9,100
1099,2021-03-29,03:00,basketball,usa,nba,Los Angeles Lakers,Orlando Magic,OVER,0.629116,1.9,100

### Criterio

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1208,2021-03-29,17:30,hockey,germany,del,Schwenninger,Dusseldorf,TEAM1,2.02,126
1204,2021-03-29,00:00,soccer,paraguay,primera-division,Libertad Asuncion,Guarani,TEAM1,1.66,286
1205,2021-03-29,15:00,soccer,serbia,prva-liga,Dubocica,Kolubara,TEAM2,2.56,126
1207,2021-03-29,00:00,soccer,uruguay,primera-division,Boston River,Liverpool M.,TEAM2,2.29,155
1206,2021-03-29,18:05,baseball,usa,mlb,Baltimore Orioles,Tampa Bay Rays,TEAM2,1.71,307

### TAN!! SPECIAL SELECTION

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2093,15:00,2021-03-29,/soccer/serbia/prva-liga/din-vranje-kabel-novi...,Din. Vranje,Kabel Novi Sad,3.97,3.13,1.85,TEAM2
2094,15:00,2021-03-29,/soccer/serbia/prva-liga/dubocica-kolubara-rFQ...,Dubocica,Kolubara,2.56,3.04,2.56,TEAM2

___

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1359,00:00,2021-03-29,/soccer/paraguay/primera-division/libertad-asu...,Libertad Asuncion,Guarani,1.66,3.69,5.03,TEAM1

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1133,2021-03-29,00:00,basketball,usa,nba,Toronto Raptors,Portland Trail Blazers,233.5,1.71,100,0.771332
1134,2021-03-29,02:00,basketball,usa,nba,Denver Nuggets,Atlanta Hawks,227.0,1.56,100,0.272303
1135,2021-03-29,03:00,basketball,usa,nba,Los Angeles Lakers,Orlando Magic,213.5,1.58,100,0.629116

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

## NBA

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
579,02:00,2021-03-29,/basketball/usa/nba/denver-nuggets-atlanta-haw...,Denver Nuggets,Atlanta Hawks,1.56,0,2.53,0.573126
580,03:00,2021-03-29,/basketball/usa/nba/los-angeles-lakers-orlando...,Los Angeles Lakers,Orlando Magic,1.38,0,3.15,0.583674
578,00:00,2021-03-29,/basketball/usa/nba/toronto-raptors-portland-t...,Toronto Raptors,Portland Trail Blazers,2.16,0,1.73,0.408773

## NBA CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA FALLO SIN FILTRO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
533,01:00,2021-03-29,/hockey/usa/nhl/chicago-blackhawks-nashville-p...,Chicago Blackhawks,Nashville Predators,2.28,4.18,2.63,0.526015

## NHL CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### MLB

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
236,18:05,2021-03-29,/baseball/usa/mlb/baltimore-orioles-tampa-bay-...,Baltimore Orioles,Tampa Bay Rays,2.1,0,1.71,TEAM2

## SOCCER

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
405,22:15,2021-03-29,soccer/uruguay_primera-division,Montevideo City,Plaza Colonia,2.4,2.88,3.23,2-Montevideo City-0.04

## SOCCER FAVORITO SECUENCIA

###  MILAN - m√°s negativo -77

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - m√°s positivo .49

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
77,00:00,2021-03-29,soccer/paraguay_primera-division,Libertad Asuncion,Guarani,1.66,3.69,5.03,FAVORITO-1-Guarani-0.11

### LIGA MX

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
632,00:00,2021-03-29,/soccer/uruguay/primera-division/boston-river-...,Boston River,Liverpool M.,2.98,3.31,2.29,TEAM2
631,00:00,2021-03-29,/soccer/uruguay/primera-division/rentistas-dan...,Rentistas,Danubio,2.60,3.02,2.79,TEAM2

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6698,15:00,2021-03-29,/soccer/serbia/prva-liga/graficar-beograd-bora...,Graficar Beograd,Borac 1926,1.98,3.15,3.53,0.590262
6699,15:00,2021-03-29,/soccer/serbia/prva-liga/sremska-mitrovica-zem...,Sremska Mitrovica,Zemun,1.69,3.27,4.83,0.559764
6702,15:00,2021-03-29,/soccer/serbia/prva-liga/zeleznicar-pancevo-tr...,Zeleznicar Pancevo,Trayal Krusevac,1.94,3.15,3.62,0.555067
6696,15:00,2021-03-29,/soccer/serbia/prva-liga/din-vranje-kabel-novi...,Din. Vranje,Kabel Novi Sad,3.97,3.13,1.85,0.496462
6703,15:00,2021-03-29,/soccer/serbia/prva-liga/jagodina-buducnost-do...,Jagodina,Buducnost Dobanovci,1.63,3.54,4.93,0.462988
6701,15:00,2021-03-29,/soccer/serbia/prva-liga/dubocica-kolubara-rFQ...,Dubocica,Kolubara,2.56,3.04,2.56,0.425368
6700,15:00,2021-03-29,/soccer/serbia/prva-liga/sloga-kraljevo-loznic...,Sloga Kraljevo,Loznica,3.91,3.15,1.87,0.371322
6697,15:00,2021-03-29,/soccer/serbia/prva-liga/radnicki-pirot-radnic...,Radnicki Pirot,Radnicki 1923,6.77,4.10,1.41,0.353895

___

## EXPERIMENTAL

### Daily model 53

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
879,15:00,2021-03-29,/soccer/serbia/prva-liga/dubocica-kolubara-rFQ...,Dubocica,Kolubara,2.56,3.04,2.56,TEAM1
875,15:00,2021-03-29,/soccer/serbia/prva-liga/graficar-beograd-bora...,Graficar Beograd,Borac 1926,1.98,3.15,3.53,TEAM1
878,15:00,2021-03-29,/soccer/serbia/prva-liga/sloga-kraljevo-loznic...,Sloga Kraljevo,Loznica,3.91,3.15,1.87,TEAM1

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6500,19:45,2021-03-29,/soccer/france/national/orleans-bastia-QuVc43xK/,Orleans,Bastia,3.25,2.81,2.43,TEAM2
6498,00:00,2021-03-29,/soccer/panama/lpf/sporting-san-miguelito-vera...,Miguelito,Veraguas,2.01,3.22,3.76,TEAM2
6506,15:00,2021-03-29,/soccer/serbia/prva-liga/dubocica-kolubara-rFQ...,Dubocica,Kolubara,2.56,3.04,2.56,TEAM1
6502,15:00,2021-03-29,/soccer/serbia/prva-liga/graficar-beograd-bora...,Graficar Beograd,Borac 1926,1.98,3.15,3.53,TEAM1
6505,15:00,2021-03-29,/soccer/serbia/prva-liga/sloga-kraljevo-loznic...,Sloga Kraljevo,Loznica,3.91,3.15,1.87,TEAM1

### Daily predictions machin4 EMPATE

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []