In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
331,2021-01-25,23:00,soccer,brazil,serie-a,Corinthians,Bragantino,X2,2.83,256.0
330,2021-01-25,15:30,hockey,russia,vhl,Almetyevsk,Dinamo St. Petersburg,X1,2.12,173.0
332,2021-01-25,0:0,hockey,usa,nhl,Dallas Stars,Nashville Predators,2,2.59,200.0
333,2021-01-25,0:0,hockey,usa,nhl,Winnipeg Jets,Edmonton Oilers,2,2.16,200.0
334,2021-01-25,0:0,hockey,usa,nhl,Pittsburgh Penguins,New York Rangers,1,2.14,200.0

### Premium

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
691,2021-01-25,01:00,basketball,usa,nba,Milwaukee Bucks,Atlanta Hawks,OVER,0.569968,1.9,100
692,2021-01-25,03:00,basketball,usa,nba,Portland Trail Blazers,New York Knicks,OVER,0.682018,1.9,100

### Criterio

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
913,2021-01-25,19:45,soccer,france,ligue-2,Sochaux,Toulouse,TEAM2,2.40,151
914,2021-01-25,10:30,soccer,iran,division-1,Shahin Bushehr,Rayka Babol,TEAM2,3.31,235
910,2021-01-25,18:15,soccer,israel,ligat-ha-al,H. Beer Sheva,Hapoel Hadera,TEAM1,1.59,216
912,2021-01-25,01:00,soccer,mexico,liga-mx,Queretaro,U.N.A.M.- Pumas,TEAM2,3.29,234
911,2021-01-25,17:00,soccer,portugal,primeira-liga,Benfica,Nacional,TEAM1,1.28,165

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1671,17:00,2021-01-25,/soccer/portugal/primeira-liga/benfica-naciona...,Benfica,Nacional,1.28,5.86,10.37,TEAM1

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
905,18:15,2021-01-25,/soccer/israel/ligat-ha-al/h-beer-sheva-hapoel...,H. Beer Sheva,Hapoel Hadera,1.59,3.81,5.29,TEAM1

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
567,2021-01-25,00:00,basketball,usa,nba,Orlando Magic,Charlotte Hornets,219.0,1.57,100,0.467608
570,2021-01-25,00:00,basketball,usa,nba,Boston Celtics,Cleveland Cavaliers,217.5,1.60,100,0.402794
568,2021-01-25,01:00,basketball,usa,nba,Milwaukee Bucks,Atlanta Hawks,235.5,1.61,100,0.569968
571,2021-01-25,01:00,basketball,usa,nba,San Antonio Spurs,Washington Wizards,236.5,1.57,100,0.420467
569,2021-01-25,03:00,basketball,usa,nba,Portland Trail Blazers,New York Knicks,219.5,1.58,100,0.682018
572,2021-01-25,01:00,hockey,usa,nhl,St. Louis Blues,Los Angeles Kings,6.5,1.44,100,0.405578
573,2021-01-25,01:00,hockey,usa,nhl,Minnesota Wild,San Jose Sharks,6.5,1.45,100,0.576624
574,2021-01-25,01:00,hockey,usa,nhl,Anaheim Ducks,Colorado Avalanche,6.5,1.41,100,0.711053

## NBA

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
130,00:00,2021-01-25,/basketball/usa/nba/boston-celtics-cleveland-c...,Boston Celtics,Cleveland Cavaliers,1.40,0,3.06,0.615117
133,01:00,2021-01-25,/basketball/usa/nba/milwaukee-bucks-atlanta-ha...,Milwaukee Bucks,Atlanta Hawks,1.26,0,4.05,0.650793
131,00:00,2021-01-25,/basketball/usa/nba/orlando-magic-charlotte-ho...,Orlando Magic,Charlotte Hornets,2.06,0,1.81,0.512791
134,03:00,2021-01-25,/basketball/usa/nba/portland-trail-blazers-new...,Portland Trail Blazers,New York Knicks,1.58,0,2.49,0.537840
132,01:00,2021-01-25,/basketball/usa/nba/san-antonio-spurs-washingt...,San Antonio Spurs,Washington Wizards,1.33,0,3.48,0.595306

## NBA CLUSTER FALLO

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
30,0:0,2021-01-25,basketball/usa_nba,Boston Celtics,Cleveland Cavaliers,1.35,0,3.30,2
31,0:0,2021-01-25,basketball/usa_nba,Milwaukee Bucks,Atlanta Hawks,1.26,0,4.12,2

## NBA FALLO SIN FILTRO

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
67,0:0,2021-01-25,basketball/usa_nba,Portland Trail Blazers,New York Knicks,1.61,0,2.39,2
68,0:0,2021-01-25,basketball/usa_nba,Boston Celtics,Cleveland Cavaliers,1.35,0,3.30,2
69,0:0,2021-01-25,basketball/usa_nba,Milwaukee Bucks,Atlanta Hawks,1.26,0,4.12,2

## NHL

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
85,01:00,2021-01-25,/hockey/usa/nhl/anaheim-ducks-colorado-avalanc...,Anaheim Ducks,Colorado Avalanche,3.57,4.38,1.83,0.461869
84,01:00,2021-01-25,/hockey/usa/nhl/dallas-stars-nashville-predato...,Dallas Stars,Nashville Predators,2.40,4.11,2.56,0.644202
83,01:00,2021-01-25,/hockey/usa/nhl/minnesota-wild-san-jose-sharks...,Minnesota Wild,San Jose Sharks,2.06,4.21,3.02,0.631924
80,00:00,2021-01-25,/hockey/usa/nhl/new-jersey-devils-new-york-isl...,New Jersey Devils,New York Islanders,3.25,4.25,1.96,0.467316
81,00:00,2021-01-25,/hockey/usa/nhl/pittsburgh-penguins-new-york-r...,Pittsburgh Penguins,New York Rangers,2.14,4.41,2.81,0.551177
82,01:00,2021-01-25,/hockey/usa/nhl/st-louis-blues-los-angeles-kin...,St. Louis Blues,Los Angeles Kings,1.78,4.46,3.70,0.480688
86,02:00,2021-01-25,/hockey/usa/nhl/winnipeg-jets-edmonton-oilers-...,Winnipeg Jets,Edmonton Oilers,2.81,4.29,2.16,0.596870

## NHL CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
18,0:0,2021-01-25,hockey/usa_nhl,Dallas Stars,Nashville Predators,2.39,4.11,2.59,2
19,0:0,2021-01-25,hockey/usa_nhl,Winnipeg Jets,Edmonton Oilers,2.79,4.31,2.16,2
20,0:0,2021-01-25,hockey/usa_nhl,Pittsburgh Penguins,New York Rangers,2.14,4.41,2.81,1

### MLB

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
140,20:00,2021-01-25,soccer/brazil_serie-b,Operario,Chapecoense-SC,4.67,3.10,1.86,4-Operario-0.09
139,19:45,2021-01-25,soccer/france_ligue-2,Sochaux,Toulouse,3.26,2.96,2.40,1-Sochaux-0.57
141,01:00,2021-01-25,soccer/mexico_liga-mx,Queretaro,U.N.A.M.- Pumas,2.21,3.30,3.29,1-U.N.A.M.- Pumas-0.09
142,16:00,2021-01-25,soccer/turkey_super-lig,Alanyaspor,Ankaragucu,1.50,4.48,6.05,7-Ankaragucu-0.14

### LIGA MX

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
90,2021-01-25,01:00,soccer,mexico,liga-mx,Queretaro,U.N.A.M.- Pumas,TEAM1,0.363221,2.21,100

### NFL

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
5451,17:00,2021-01-25,/soccer/portugal/primeira-liga/benfica-naciona...,Benfica,Nacional,1.28,5.86,10.37,0.753791
5450,16:30,2021-01-25,/soccer/portugal/primeira-liga/rio-ave-santa-c...,Rio Ave,Santa Clara,2.10,3.08,4.01,0.583102
5453,13:00,2021-01-25,/soccer/world/club-friendly/cska-sofia-strumsk...,CSKA Sofia (Bul),Strumska Slava (Bul),1.10,7.50,15.00,0.525719
5449,14:30,2021-01-25,/soccer/portugal/primeira-liga/belenenses-tond...,Belenenses,Tondela,2.26,3.01,3.59,0.474520
5448,20:00,2021-01-25,/soccer/spain/laliga/ath-bilbao-getafe-EqzQ4n7K/,Ath Bilbao,Getafe,2.33,3.01,3.64,0.471440
5452,20:15,2021-01-25,/soccer/portugal/primeira-liga/sc-farense-fc-p...,SC Farense,FC Porto,7.71,4.48,1.43,0.168177

___

## EXPERIMENTAL

### Daily model 53

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []