In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
636,2021-04-09,18:00,soccer,germany,3-liga,Hallescher,Uerdingen,X2,2.56,100.0
637,2021-04-09,18:30,soccer,romania,liga-1,Din. Bucuresti,Academica Clinceni,X2,2.38,217.0
638,2021-04-09,02:00,basketball,usa,nba,Dallas Mavericks,Milwaukee Bucks,UNDER-232,1.57,100.0
639,2021-04-09,03:00,basketball,usa,nba,Los Angeles Clippers,Phoenix Suns,UNDER-226,1.58,100.0

### Gana Favorito en ODDs finales.

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
134,02:00,2021-04-09,/basketball/usa/nba/dallas-mavericks-milwaukee...,Dallas Mavericks,Milwaukee Bucks,1.78,0.00,2.09,0.535047
133,01:00,2021-04-09,/basketball/usa/nba/oklahoma-city-thunder-clev...,Oklahoma City Thunder,Cleveland Cavaliers,2.44,0.00,1.60,0.546651
135,00:30,2021-04-09,/basketball/usa/nba/toronto-raptors-chicago-bu...,Toronto Raptors,Chicago Bulls,2.44,0.00,1.60,0.468336
132,21:00,2021-04-09,/soccer/panama/lpf/veraguas-alianza-fBFlIWID/,Veraguas,Alianza,2.02,3.28,3.34,0.294437

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1186,2021-04-09,20:00,soccer,england,premier-league,Fulham,Wolves,TEAM2,1.000000,3.16,100
1185,2021-04-09,18:00,soccer,germany,3-liga,Hallescher,Uerdingen,X2,1.000000,2.56,100
1187,2021-04-09,00:30,basketball,usa,nba,Miami Heat,Los Angeles Lakers,OVER,0.645772,1.90,100
1188,2021-04-09,01:00,basketball,usa,nba,Oklahoma City Thunder,Cleveland Cavaliers,OVER,0.555683,1.90,100
1189,2021-04-09,03:00,basketball,usa,nba,Sacramento Kings,Detroit Pistons,OVER,0.575839,1.90,100
1190,2021-04-09,03:00,basketball,usa,nba,Los Angeles Clippers,Phoenix Suns,UNDER,0.314001,1.90,100

### Criterio

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1254,2021-04-09,17:45,soccer,ireland,premier-division,St. Patricks,Derry City,TEAM1,1.72,223
1255,2021-04-09,14:00,soccer,israel,leumit-league,Nof Hagalil,Ramat Hasharon,TEAM1,1.61,188
1256,2021-04-09,17:00,soccer,saudi-arabia,saudi-professional-league,Al-Taawon,Al Ain,TEAM1,1.56,168
1257,2021-04-09,14:00,soccer,tanzania,ligi-kuu-bara,JKT Tanzania,Mwadui,TEAM1,1.62,192
1258,2021-04-09,20:10,baseball,usa,mlb,Tampa Bay Rays,New York Yankees,TEAM2,1.74,228

### TAN!! SPECIAL SELECTION

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2178,17:30,2021-04-09,/soccer/bulgaria/parva-liga/slavia-sofia-cska-...,Slavia Sofia,CSKA 1948 Sofia,2.67,3.23,2.56,TEAM2
2177,20:00,2021-04-09,/soccer/england/premier-league/fulham-wolves-A...,Fulham,Wolves,2.53,3.12,3.16,TEAM2
2175,17:45,2021-04-09,/soccer/ireland/premier-division/st-patricks-d...,St. Patricks,Derry City,1.72,3.42,5.34,TEAM1
2176,20:00,2021-04-09,/soccer/portugal/primeira-liga/portimonense-vi...,Portimonense,Vitoria Guimaraes,2.57,3.08,2.96,TEAM2
2174,19:45,2021-04-09,/soccer/scotland/championship/hearts-alloa-ADQ...,Hearts,Alloa,1.15,7.24,16.54,TEAM1

___

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1420,15:30,2021-04-09,/soccer/belarus/vysshaya-liga/energetik-bgu-mi...,Energetik-BGU,Sputnik,1.41,4.70,6.36,TEAM1
1421,17:45,2021-04-09,/soccer/ireland/premier-division/st-patricks-d...,St. Patricks,Derry City,1.72,3.42,5.34,TEAM1
1422,14:00,2021-04-09,/soccer/israel/leumit-league/nof-hagalil-ramat...,Nof Hagalil,Ramat Hasharon,1.61,3.58,5.29,TEAM1
1423,17:00,2021-04-09,/soccer/saudi-arabia/saudi-professional-league...,Al-Taawon,Al Ain,1.56,3.89,5.23,TEAM1
1424,14:00,2021-04-09,/soccer/tanzania/ligi-kuu-bara/jkt-tanzania-mw...,JKT Tanzania,Mwadui,1.62,3.41,5.16,TEAM1

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1288,2021-04-09,19:30,soccer,germany,bundesliga,Arminia Bielefeld,Freiburg,3.25,1.33,100,0.205999
1264,2021-04-09,00:07,baseball,usa,mlb,Toronto Blue Jays,Los Angeles Angels,12.00,1.48,100,0.857506
1263,2021-04-09,01:10,baseball,usa,mlb,Houston Astros,Oakland Athletics,12.00,1.44,100,0.867476
1265,2021-04-09,00:30,basketball,usa,nba,Miami Heat,Los Angeles Lakers,209.50,1.60,100,0.645772
1266,2021-04-09,01:00,basketball,usa,nba,Oklahoma City Thunder,Cleveland Cavaliers,223.00,1.57,100,0.444171
1267,2021-04-09,01:00,basketball,usa,nba,Oklahoma City Thunder,Cleveland Cavaliers,223.00,1.60,100,0.555683
1269,2021-04-09,02:00,basketball,usa,nba,Dallas Mavericks,Milwaukee Bucks,232.00,1.57,100,0.383749
1268,2021-04-09,03:00,basketball,usa,nba,Sacramento Kings,Detroit Pistons,230.00,1.57,100,0.575839
1270,2021-04-09,03:00,basketball,usa,nba,Utah Jazz,Portland Trail Blazers,238.00,1.57,100,0.466070
1271,2021-04-09,03:00,basketball,usa,nba,Los Angeles Clippers,Phoenix Suns,226.00,1.58,100,0.314001
1272,2021-04-09,00:00,hockey,usa,nhl,New York Islanders,Philadelphia Flyers,6.50,1.40,100,0.607600
1273,2021-04-09,00:00,hockey,usa,nhl,New York Islanders,Philadelphia Flyers,6.50,1.44,100,0.669002
1274,2021-04-09,00:00,hockey,usa,nhl,Washington Capitals,Boston Bruins,6.50,1.43,100,0.708277
1275,2021-04-09,00:00,hockey,usa,nhl,Washington Capitals,Boston Bruins,6.50,1.44,100,0.733830
1276,2021-04-09,00:00,hockey,usa,nhl,Washington Capitals,Boston Bruins,6.50,1.45,100,0.750888
1278,2021-04-09,00:00,hockey,usa,nhl,Ottawa Senators,Edmonton Oilers,7.00,1.42,100,0.517894
1279,2021-04-09,00:00,hockey,usa,nhl,Ottawa Senators,Edmonton Oilers,7.00,1.44,100,0.602961
1280,2021-04-09,00:00,hockey,usa,nhl,New York Rangers,Pittsburgh Penguins,7.00,1.32,100,0.658720
1281,2021-04-09,00:00,hockey,usa,nhl,New York Rangers,Pittsburgh Penguins,7.00,1.37,100,0.695529
1282,2021-04-09,00:00,hockey,usa,nhl,New York Rangers,Pittsburgh Penguins,7.00,1.39,100,0.720378
1283,2021-04-09,00:00,hockey,usa,nhl,Carolina Hurricanes,Florida Panthers,7.00,1.30,100,0.737484
1284,2021-04-09,00:00,hockey,usa,nhl,Carolina Hurricanes,Florida Panthers,7.00,1.38,100,0.287109
1285,2021-04-09,00:00,hockey,usa,nhl,Carolina Hurricanes,Florida Panthers,7.00,1.42,100,0.447316
1286,2021-04-09,00:30,hockey,usa,nhl,Detroit Red Wings,Nashville Predators,6.00,1.41,100,0.562671
1287,2021-04-09,00:30,hockey,usa,nhl,Detroit Red Wings,Nashville Predators,6.00,1.39,100,0.637121
1277,2021-04-09,23:00,hockey,usa,nhl,New York Islanders,New York Rangers,6.50,1.42,100,0.762449

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
16,2021-04-09,01:00,basketball,usa,nba,Oklahoma City Thunder,Cleveland Cavaliers,223.0,1.57,100,UNDER
17,2021-04-09,03:00,basketball,usa,nba,Sacramento Kings,Detroit Pistons,230.0,1.57,100,UNDER

## NBA

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
666,02:00,2021-04-09,/basketball/usa/nba/dallas-mavericks-milwaukee...,Dallas Mavericks,Milwaukee Bucks,1.78,0,2.09,0.535047
668,03:00,2021-04-09,/basketball/usa/nba/los-angeles-clippers-phoen...,Los Angeles Clippers,Phoenix Suns,1.42,0,3.01,0.518565
664,00:30,2021-04-09,/basketball/usa/nba/miami-heat-los-angeles-lak...,Miami Heat,Los Angeles Lakers,1.23,0,4.36,0.554435
665,01:00,2021-04-09,/basketball/usa/nba/oklahoma-city-thunder-clev...,Oklahoma City Thunder,Cleveland Cavaliers,2.44,0,1.60,0.546651
669,03:00,2021-04-09,/basketball/usa/nba/sacramento-kings-detroit-p...,Sacramento Kings,Detroit Pistons,1.33,0,3.45,0.600065
663,00:30,2021-04-09,/basketball/usa/nba/toronto-raptors-chicago-bu...,Toronto Raptors,Chicago Bulls,2.44,0,1.60,0.468336
667,03:00,2021-04-09,/basketball/usa/nba/utah-jazz-portland-trail-b...,Utah Jazz,Portland Trail Blazers,1.43,0,2.96,0.612623

## NBA CLUSTER FALLO

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
227,0:0,2021-04-09,basketball/usa_nba,Utah Jazz,Portland Trail Blazers,1.36,0,3.26,2

## NBA FALLO SIN FILTRO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
427,0:0,2021-04-09,basketball/usa_nba,Los Angeles Clippers,Phoenix Suns,1.49,0,2.70,2
428,0:0,2021-04-09,basketball/usa_nba,Sacramento Kings,Detroit Pistons,1.38,0,3.09,2
429,0:0,2021-04-09,basketball/usa_nba,Utah Jazz,Portland Trail Blazers,1.36,0,3.26,2

## NHL

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
615,00:00,2021-04-09,/hockey/usa/nhl/buffalo-sabres-new-jersey-devi...,Buffalo Sabres,New Jersey Devils,2.71,4.09,2.26,0.512679
625,23:00,2021-04-09,/hockey/usa/nhl/buffalo-sabres-washington-capi...,Buffalo Sabres,Washington Capitals,4.23,4.51,1.72,0.372240
619,00:00,2021-04-09,/hockey/usa/nhl/carolina-hurricanes-florida-pa...,Carolina Hurricanes,Florida Panthers,2.08,4.35,2.90,0.578467
624,01:00,2021-04-09,/hockey/usa/nhl/chicago-blackhawks-dallas-star...,Chicago Blackhawks,Dallas Stars,2.57,4.09,2.35,0.539897
620,00:00,2021-04-09,/hockey/usa/nhl/columbus-blue-jackets-tampa-ba...,Columbus Blue Jackets,Tampa Bay Lightning,3.78,4.41,1.76,0.498743
623,00:30,2021-04-09,/hockey/usa/nhl/detroit-red-wings-nashville-pr...,Detroit Red Wings,Nashville Predators,3.11,4.18,2.01,0.415553
622,00:00,2021-04-09,/hockey/usa/nhl/montreal-canadiens-winnipeg-je...,Montreal Canadiens,Winnipeg Jets,2.28,4.22,2.61,0.532272
627,23:00,2021-04-09,/hockey/usa/nhl/new-jersey-devils-pittsburgh-p...,New Jersey Devils,Pittsburgh Penguins,3.43,4.31,1.92,0.447762
626,23:00,2021-04-09,/hockey/usa/nhl/new-york-islanders-new-york-ra...,New York Islanders,New York Rangers,2.03,4.17,3.19,0.620527
616,00:00,2021-04-09,/hockey/usa/nhl/new-york-islanders-philadelphi...,New York Islanders,Philadelphia Flyers,1.87,4.35,3.42,0.701044
617,00:00,2021-04-09,/hockey/usa/nhl/new-york-rangers-pittsburgh-pe...,New York Rangers,Pittsburgh Penguins,2.24,4.25,2.69,0.536751
621,00:00,2021-04-09,/hockey/usa/nhl/ottawa-senators-edmonton-oiler...,Ottawa Senators,Edmonton Oilers,3.45,4.51,1.84,0.470716
618,00:00,2021-04-09,/hockey/usa/nhl/washington-capitals-boston-bru...,Washington Capitals,Boston Bruins,2.25,4.13,2.74,0.615404

## NHL CLUSTER FALLO

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
324,0:0,2021-04-09,hockey/usa_nhl,Chicago Blackhawks,Dallas Stars,2.58,4.09,2.36,1
325,0:0,2021-04-09,hockey/usa_nhl,New York Islanders,New York Rangers,2.12,4.27,2.94,2
326,0:0,2021-04-09,hockey/usa_nhl,New Jersey Devils,Pittsburgh Penguins,3.34,4.48,1.91,1

### MLB

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
242,20:10,2021-04-09,/baseball/usa/mlb/tampa-bay-rays-new-york-yank...,Tampa Bay Rays,New York Yankees,2.18,0,1.74,TEAM2

## SOCCER

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
208,20:00,2021-04-09,/soccer/england/premier-league/fulham-wolves-A...,Fulham,Wolves,2.53,3.12,3.16,0.515260
209,19:30,2021-04-09,/soccer/germany/bundesliga/arminia-bielefeld-f...,Arminia Bielefeld,Freiburg,3.22,3.27,2.37,0.480114

### SOCCER CLUSTER FALLO

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
160,0:0,2021-04-09,soccer/england_premier-league,Fulham,Wolves,2.50,3.14,3.18,2
161,0:0,2021-04-09,soccer/germany_bundesliga,Arminia Bielefeld,Freiburg,3.23,3.27,2.37,1

### SOCCER EMPATE SECUENCIA

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
463,17:30,2021-04-09,soccer/austria_2-liga,A. Klagenfurt,Kapfenberg,1.55,4.20,5.32,1-A. Klagenfurt-0.17
465,20:00,2021-04-09,soccer/england_premier-league,Fulham,Wolves,2.53,3.12,3.16,2-Wolves-0.02
464,19:00,2021-04-09,soccer/france_national,Concarneau,Sete,2.29,2.83,3.55,1-Concarneau-0.31
461,14:00,2021-04-09,soccer/israel_leumit-league,Hapoel Jerusalem,H. Ironi Rishon,1.96,3.35,3.56,1-Hapoel Jerusalem-0.66
462,14:00,2021-04-09,soccer/israel_leumit-league,MS Kafr Qasim,Hapoel Kfar Shalem,2.05,3.39,3.25,4-MS Kafr Qasim-0.08

## SOCCER FAVORITO SECUENCIA

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

###  MILAN - más negativo -77

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - más positivo .49

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
268,16:30,2021-04-09,/hockey/finland/liiga/ifk-helsinki-pelicans-la...,IFK Helsinki,Pelicans,2.69,3.72,2.27,0.610320
269,16:30,2021-04-09,/hockey/finland/liiga/saipa-kookoo-hSrObtQ1/,SaiPa,KooKoo,4.18,4.43,1.65,0.410095
270,16:30,2021-04-09,/hockey/finland/liiga/tps-turku-assat-pori-vJc...,TPS Turku,Assat,1.60,4.53,4.48,0.624874

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
651,17:15,2021-04-09,/soccer/czech-republic/1-liga/fk-pardubice-boh...,FK Pardubice,Bohemians 1905,3.4,3.19,2.2,TEAM1

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6899,19:45,2021-04-09,/soccer/scotland/championship/hearts-alloa-ADQ...,Hearts,Alloa,1.15,7.24,16.54,0.669262
6908,11:30,2021-04-09,/soccer/australia/npl-victoria/oakleigh-cannon...,Oakleigh Cannons,Melbourne Knights,1.83,3.98,3.41,0.657576
6905,17:45,2021-04-09,/soccer/ireland/premier-division/st-patricks-d...,St. Patricks,Derry City,1.72,3.42,5.34,0.649880
6901,14:00,2021-04-09,/soccer/malaysia/super-league/kedah-terengganu...,Kedah,Terengganu,1.71,3.74,4.14,0.627887
6902,20:00,2021-04-09,/soccer/portugal/primeira-liga/portimonense-vi...,Portimonense,Vitoria Guimaraes,2.57,3.08,2.96,0.560436
6907,11:00,2021-04-09,/soccer/australia/npl-victoria/green-gully-sou...,Green Gully,South Melbourne,2.29,3.77,2.58,0.551490
6904,17:30,2021-04-09,/soccer/bulgaria/parva-liga/slavia-sofia-cska-...,Slavia Sofia,CSKA 1948 Sofia,2.67,3.23,2.56,0.532202
6900,20:00,2021-04-09,/soccer/spain/laliga/huesca-elche-j5evBxnp/,Huesca,Elche,2.07,3.30,4.01,0.530472
6903,20:00,2021-04-09,/soccer/england/premier-league/fulham-wolves-A...,Fulham,Wolves,2.53,3.12,3.16,0.515260
6906,19:45,2021-04-09,/soccer/ireland/premier-division/dundalk-bohem...,Dundalk,Bohemians,1.91,3.42,4.05,0.499742

___

## EXPERIMENTAL

### Daily model 53

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1031,11:00,2021-04-09,/soccer/armenia/premier-league/noah-pyunik-yer...,Noah,Pyunik Yerevan,1.96,3.33,3.50,TEAM2
1043,17:30,2021-04-09,/soccer/austria/2-liga/fc-juniors-oo-amstetten...,FC Juniors,Amstetten,2.52,3.35,2.66,TEAM2
1029,14:00,2021-04-09,/soccer/israel/leumit-league/hapoel-afula-hapo...,Hapoel Afula,Hapoel Umm al-Fahm,1.70,3.71,4.36,TEAM1
1030,14:00,2021-04-09,/soccer/israel/leumit-league/ms-kafr-qasim-hap...,MS Kafr Qasim,Hapoel Kfar Shalem,2.05,3.39,3.25,TEAM1
1020,18:30,2021-04-09,/soccer/romania/liga-1/campionii-arges-chindia...,FC Arges,Chindia Targoviste,3.07,2.86,2.56,TEAM2
1021,18:30,2021-04-09,/soccer/romania/liga-1/din-bucuresti-academica...,Din. Bucuresti,Academica Clinceni,3.18,3.03,2.38,TEAM2
1018,15:30,2021-04-09,/soccer/romania/liga-1/fc-astra-fc-uta-arad-nH...,Astra,UTA Arad,1.95,3.32,4.01,TEAM2
1019,18:30,2021-04-09,/soccer/romania/liga-1/voluntari-fc-botosani-K...,FC Voluntari,FC Botosani,3.44,3.13,2.20,TEAM2
1041,12:00,2021-04-09,/soccer/tanzania/ligi-kuu-bara/biashara-mara-u...,Biashara Mara United,Polisi Tanzania,2.00,2.64,4.40,TEAM1

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
6935,11:00,2021-04-09,/soccer/armenia/premier-league/noah-pyunik-yer...,Noah,Pyunik Yerevan,1.96,3.33,3.50,TEAM2
6952,11:30,2021-04-09,/soccer/australia/npl-victoria/oakleigh-cannon...,Oakleigh Cannons,Melbourne Knights,1.83,3.98,3.41,TEAM2
6963,17:30,2021-04-09,/soccer/austria/2-liga/fc-juniors-oo-amstetten...,FC Juniors,Amstetten,2.52,3.35,2.66,TEAM2
6921,22:00,2021-04-09,/soccer/costa-rica/primera-division/grecia-ala...,Grecia,Alajuelense,4.89,3.38,1.74,TEAM1
6953,17:00,2021-04-09,/soccer/france/national/bastia-borgo-annecy-QH...,Bastia-Borgo,Annecy,2.66,2.80,2.95,TEAM2
6956,19:00,2021-04-09,/soccer/france/national/cholet-quevilly-fctW6dbI/,Cholet,Quevilly Rouen,3.24,2.82,2.44,TEAM2
6958,19:00,2021-04-09,/soccer/france/national/concarneau-sete-WE9zED5o/,Concarneau,Sete,2.29,2.83,3.55,TEAM1
6938,17:00,2021-04-09,/soccer/france/national/orleans-le-mans-0zsS7xqC/,Orleans,Le Mans,2.22,2.82,3.68,DRAW
6959,17:00,2021-04-09,/soccer/france/national/orleans-le-mans-0zsS7xqC/,Orleans,Le Mans,2.22,2.82,3.68,TEAM1
6950,18:00,2021-04-09,/soccer/germany/3-liga/hallescher-uerdingen-Gz...,Hallescher,Uerdingen,2.67,3.34,2.56,DRAW
6932,14:00,2021-04-09,/soccer/israel/leumit-league/hapoel-afula-hapo...,Hapoel Afula,Hapoel Umm al-Fahm,1.70,3.71,4.36,TEAM1
6933,14:00,2021-04-09,/soccer/israel/leumit-league/ms-kafr-qasim-hap...,MS Kafr Qasim,Hapoel Kfar Shalem,2.05,3.39,3.25,TEAM1
6928,22:00,2021-04-09,/soccer/panama/lpf/arabe-unido-union-deportivo...,Arabe Unido,Deportivo Universitario,2.54,2.91,2.75,TEAM2
6927,21:00,2021-04-09,/soccer/panama/lpf/veraguas-alianza-fBFlIWID/,Veraguas,Alianza,2.02,3.28,3.34,TEAM2
6919,18:30,2021-04-09,/soccer/romania/liga-1/campionii-arges-chindia...,FC Arges,Chindia Targoviste,3.07,2.86,2.56,TEAM2
6920,18:30,2021-04-09,/soccer/romania/liga-1/din-bucuresti-academica...,Din. Bucuresti,Academica Clinceni,3.18,3.03,2.38,TEAM2
6917,15:30,2021-04-09,/soccer/romania/liga-1/fc-astra-fc-uta-arad-nH...,Astra,UTA Arad,1.95,3.32,4.01,TEAM2
6918,18:30,2021-04-09,/soccer/romania/liga-1/voluntari-fc-botosani-K...,FC Voluntari,FC Botosani,3.44,3.13,2.20,TEAM2
6961,12:00,2021-04-09,/soccer/tanzania/ligi-kuu-bara/biashara-mara-u...,Biashara Mara United,Polisi Tanzania,2.00,2.64,4.40,TEAM1

### Daily predictions machin4 EMPATE

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []