In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
33,14/04/2021,20:00,basketball,usa,nba,Houston Rockets,Indiana Pacers,234.0,1.57,100,OVER
34,14/04/2021,21:00,basketball,usa,nba,Denver Nuggets,Miami Heat,209.0,1.57,100,UNDER

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:

df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area, league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo, Rating, auc]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

## NHL CLUSTER FALLO

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
148,02:30,2021-04-15,/basketball/usa/nba/memphis-grizzlies-dallas-m...,Memphis Grizzlies,Dallas Mavericks,2.25,0.0,1.68,0.546277
149,03:00,2021-04-15,/basketball/usa/nba/sacramento-kings-washingto...,Sacramento Kings,Washington Wizards,2.14,0.0,1.74,0.554843
150,00:30,2021-04-15,/basketball/usa/nba/toronto-raptors-san-antoni...,Toronto Raptors,San Antonio Spurs,2.84,0.0,1.45,0.472674

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
1250,2021-04-15,00:00,basketball,usa,nba,Charlotte Hornets,Cleveland Cavaliers,OVER,0.777558,1.9,100
1251,2021-04-15,00:00,basketball,usa,nba,Philadelphia 76ers,Brooklyn Nets,OVER,0.649322,1.9,100
1252,2021-04-15,00:30,basketball,usa,nba,Toronto Raptors,San Antonio Spurs,OVER,0.843456,1.9,100
1253,2021-04-15,01:00,basketball,usa,nba,Detroit Pistons,Los Angeles Clippers,OVER,0.818173,1.9,100
1254,2021-04-15,01:00,basketball,usa,nba,Chicago Bulls,Orlando Magic,UNDER,0.283405,1.9,100
1255,2021-04-15,01:00,basketball,usa,nba,Minnesota Timberwolves,Milwaukee Bucks,OVER,0.607552,1.9,100
1256,2021-04-15,01:00,basketball,usa,nba,New Orleans Pelicans,New York Knicks,UNDER,0.291360,1.9,100
1257,2021-04-15,02:30,basketball,usa,nba,Memphis Grizzlies,Dallas Mavericks,OVER,0.681789,1.9,100
1258,2021-04-15,03:00,basketball,usa,nba,Sacramento Kings,Washington Wizards,UNDER,0.320029,1.9,100

### Criterio

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1284,2021-04-15,17:00,soccer,iran,persian-gulf-pro-league,Shahr Khodrou,Zob Ahan,TEAM1,1.74,291
1285,2021-04-15,23:00,soccer,morocco,botola-pro,Wydad,Mouloudia Oujda,TEAM1,1.52,190
1288,2021-04-15,21:00,soccer,panama,lpf,Veraguas,Tauro,TEAM2,2.71,202
1286,2021-04-15,14:20,soccer,uzbekistan,super-league,Nasaf Qarshi,Termez Surkhon,TEAM1,1.42,109
1287,2021-04-15,14:20,soccer,uzbekistan,super-league,Sogdiana,Mashal Muborak,TEAM1,1.55,208

___

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1478,17:00,2021-04-15,/soccer/iran/persian-gulf-pro-league/shahr-kho...,Shahr Khodrou,Zob Ahan,1.74,3.20,5.04,TEAM1
1479,23:00,2021-04-15,/soccer/morocco/botola-pro/wydad-mouloudia-ouj...,Wydad,Mouloudia Oujda,1.52,3.72,5.97,TEAM1
1480,14:20,2021-04-15,/soccer/uzbekistan/super-league/nasaf-qarshi-t...,Nasaf Qarshi,Termez Surkhon,1.42,3.86,7.95,TEAM1
1481,14:20,2021-04-15,/soccer/uzbekistan/super-league/sogdiana-masha...,Sogdiana,Mashal Muborak,1.55,3.44,6.43,TEAM1

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
1381,2021-04-15,00:10,baseball,usa,mlb,Houston Astros,Detroit Tigers,10.0,1.41,100,0.739358
1382,2021-04-15,00:10,baseball,usa,mlb,New York Mets,Philadelphia Phillies,10.0,1.44,100,0.346929
1383,2021-04-15,00:20,baseball,usa,mlb,Atlanta Braves,Miami Marlins,10.5,1.47,100,0.702767
1384,2021-04-15,03:10,baseball,usa,mlb,Los Angeles Dodgers,Colorado Rockies,9.5,1.45,100,0.781752
1385,2021-04-15,00:00,basketball,usa,nba,Charlotte Hornets,Cleveland Cavaliers,217.5,1.58,100,0.777558
1386,2021-04-15,00:00,basketball,usa,nba,Philadelphia 76ers,Brooklyn Nets,230.0,1.58,100,0.649322
1387,2021-04-15,00:30,basketball,usa,nba,Toronto Raptors,San Antonio Spurs,226.5,1.58,100,0.843456
1388,2021-04-15,01:00,basketball,usa,nba,Detroit Pistons,Los Angeles Clippers,221.5,1.57,100,0.818173
1389,2021-04-15,01:00,basketball,usa,nba,Chicago Bulls,Orlando Magic,219.5,1.56,100,0.283405
1390,2021-04-15,01:00,basketball,usa,nba,Minnesota Timberwolves,Milwaukee Bucks,239.0,1.57,100,0.607552
1391,2021-04-15,01:00,basketball,usa,nba,New Orleans Pelicans,New York Knicks,224.5,1.56,100,0.291360
1392,2021-04-15,02:00,basketball,usa,nba,Houston Rockets,Indiana Pacers,239.0,1.57,100,0.436407
1393,2021-04-15,02:00,basketball,usa,nba,Oklahoma City Thunder,Golden State Warriors,229.0,1.54,100,0.534901
1394,2021-04-15,02:30,basketball,usa,nba,Memphis Grizzlies,Dallas Mavericks,230.5,1.58,100,0.681789
1395,2021-04-15,03:00,basketball,usa,nba,Denver Nuggets,Miami Heat,214.0,1.57,100,0.505943
1396,2021-04-15,03:00,basketball,usa,nba,Sacramento Kings,Washington Wizards,246.5,1.59,100,0.320029
1397,2021-04-15,00:00,hockey,usa,nhl,Montreal Canadiens,Calgary Flames,6.5,1.44,100,0.565118
1398,2021-04-15,00:00,hockey,usa,nhl,Ottawa Senators,Winnipeg Jets,7.0,1.37,100,0.125886
1399,2021-04-15,03:00,hockey,usa,nhl,Los Angeles Kings,Vegas Golden Knights,6.5,1.44,100,0.585943

## NBA

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
711,00:00,2021-04-15,/basketball/usa/nba/charlotte-hornets-clevelan...,Charlotte Hornets,Cleveland Cavaliers,1.63,0,2.36,0.658443
715,01:00,2021-04-15,/basketball/usa/nba/chicago-bulls-orlando-magi...,Chicago Bulls,Orlando Magic,1.20,0,4.80,0.569664
720,03:00,2021-04-15,/basketball/usa/nba/denver-nuggets-miami-heat-...,Denver Nuggets,Miami Heat,1.42,0,3.00,0.580838
714,01:00,2021-04-15,/basketball/usa/nba/detroit-pistons-los-angele...,Detroit Pistons,Los Angeles Clippers,2.32,0,1.65,0.348615
717,02:00,2021-04-15,/basketball/usa/nba/houston-rockets-indiana-pa...,Houston Rockets,Indiana Pacers,2.57,0,1.54,0.400173
719,02:30,2021-04-15,/basketball/usa/nba/memphis-grizzlies-dallas-m...,Memphis Grizzlies,Dallas Mavericks,2.25,0,1.68,0.546277
722,01:00,2021-04-15,/basketball/usa/nba/minnesota-timberwolves-mil...,Minnesota Timberwolves,Milwaukee Bucks,3.54,0,1.26,0.432988
716,01:00,2021-04-15,/basketball/usa/nba/new-orleans-pelicans-new-y...,New Orleans Pelicans,New York Knicks,1.69,0,2.24,0.522931
718,02:00,2021-04-15,/basketball/usa/nba/oklahoma-city-thunder-gold...,Oklahoma City Thunder,Golden State Warriors,6.29,0,1.13,0.487933
712,00:00,2021-04-15,/basketball/usa/nba/philadelphia-76ers-brookly...,Philadelphia 76ers,Brooklyn Nets,1.27,0,4.03,0.566369
721,03:00,2021-04-15,/basketball/usa/nba/sacramento-kings-washingto...,Sacramento Kings,Washington Wizards,2.14,0,1.74,0.554843
713,00:30,2021-04-15,/basketball/usa/nba/toronto-raptors-san-antoni...,Toronto Raptors,San Antonio Spurs,2.84,0,1.45,0.472674

## NBA CLUSTER FALLO

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
245,0:0,2021-04-15,basketball/usa_nba,Detroit Pistons,Los Angeles Clippers,4.53,0,1.21,1
246,0:0,2021-04-15,basketball/usa_nba,Chicago Bulls,Orlando Magic,1.20,0,4.73,2
247,0:0,2021-04-15,basketball/usa_nba,Oklahoma City Thunder,Golden State Warriors,5.55,0,1.16,1

## NBA FALLO SIN FILTRO

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
459,0:0,2021-04-15,basketball/usa_nba,Houston Rockets,Indiana Pacers,2.86,0,1.44,1
460,0:0,2021-04-15,basketball/usa_nba,Detroit Pistons,Los Angeles Clippers,4.53,0,1.21,1
461,0:0,2021-04-15,basketball/usa_nba,Chicago Bulls,Orlando Magic,1.20,0,4.73,2
462,0:0,2021-04-15,basketball/usa_nba,Oklahoma City Thunder,Golden State Warriors,5.55,0,1.16,1

## NHL

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
669,03:00,2021-04-15,/hockey/usa/nhl/los-angeles-kings-vegas-golden...,Los Angeles Kings,Vegas Golden Knights,3.65,4.50,1.79,0.470442
671,02:00,2021-04-15,/hockey/usa/nhl/minnesota-wild-arizona-coyotes...,Minnesota Wild,Arizona Coyotes,1.84,4.35,3.55,0.601304
666,00:00,2021-04-15,/hockey/usa/nhl/montreal-canadiens-calgary-fla...,Montreal Canadiens,Calgary Flames,1.93,4.35,3.27,0.587100
667,00:00,2021-04-15,/hockey/usa/nhl/ottawa-senators-winnipeg-jets-...,Ottawa Senators,Winnipeg Jets,3.38,4.50,1.86,0.474424
670,03:30,2021-04-15,/hockey/usa/nhl/san-jose-sharks-anaheim-ducks-...,San Jose Sharks,Anaheim Ducks,1.88,4.40,3.38,0.624943
668,00:30,2021-04-15,/hockey/usa/nhl/st-louis-blues-colorado-avalan...,St. Louis Blues,Colorado Avalanche,3.50,4.38,1.86,0.418536

### MLB

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

###  MILAN - más negativo -77

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - más positivo .49

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### LIGA MX

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,outcome,odd,m_criterio
180,2021-04-15,03:00,soccer,mexico,liga-mx,Juarez,U.A.N.L.- Tigres,TEAM1,0.500955,3.82,100

### NFL

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
302,16:30,2021-04-15,/hockey/finland/liiga/kookoo-ilves-tampere-vDO...,KooKoo,Ilves,1.95,4.21,3.26,0.566204
301,16:30,2021-04-15,/hockey/finland/liiga/vaasan-sport-karpat-oulu...,Vaasan Sport,Karpat,2.53,3.83,2.47,0.555312
303,18:30,2021-04-15,/hockey/germany/del/erc-ingolstadt-iserlohn-ro...,ERC Ingolstadt,Iserlohn Roosters,1.59,5.02,4.16,0.561788

### Daily predictions machin3.

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7043,19:00,2021-04-15,/soccer/scotland/league-one/partick-montrose-A...,Partick Thistle,Montrose,1.85,3.58,3.89,0.603134
7042,19:00,2021-04-15,/soccer/scotland/league-one/clyde-dumbarton-OS...,Clyde,Dumbarton,2.09,3.44,3.29,0.552477
7041,17:30,2021-04-15,/soccer/bulgaria/parva-liga/montana-lok-plovdi...,Montana,Lok. Plovdiv,6.96,3.35,1.58,0.311074

___

## EXPERIMENTAL

### Daily model 53

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
7630,15:00,2021-04-15,/soccer/armenia/premier-league/ararat-yerevan-...,Ararat Yerevan,Noah,2.08,3.09,3.46,TEAM1
7631,21:00,2021-04-15,/soccer/panama/lpf/veraguas-tauro-lSwDI0Ug/,Veraguas,Tauro,2.52,3.04,2.71,TEAM2
7635,19:00,2021-04-15,/soccer/scotland/league-one/clyde-dumbarton-OS...,Clyde,Dumbarton,2.09,3.44,3.29,TEAM2
7636,19:00,2021-04-15,/soccer/scotland/league-one/partick-montrose-A...,Partick Thistle,Montrose,1.85,3.58,3.89,TEAM2

### Daily predictions machin4 EMPATE

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []