In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

### Simples

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin7")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
106,17:00,2020-08-11,/soccer/bulgaria/parva-liga/tsarsko-selo-etar-...,Tsarsko Selo,Etar,2.18,3.21,3.18,TEAM2
105,16:00,2020-08-11,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.22,3.25,3.24,TEAM1
107,16:00,2020-08-11,/soccer/south-africa/premier-league/mamelodi-s...,Mamelodi Sundowns,Orlando Pirates,2.39,3.02,2.95,TEAM1

### ONE-SHOT

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin8")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
35,12:00,2020-08-11,/soccer/china/super-league/chongqing-lifan-qin...,Chongqing Lifan,Qingdao Huanghai,1.95,3.5,3.79,TEAM1

### DOBLE en secuencia

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin9")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
71,12:00,2020-08-11,/soccer/china/super-league/chongqing-lifan-qin...,Chongqing Lifan,Qingdao Huanghai,1.95,3.50,3.79,TEAM1
70,16:00,2020-08-11,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.22,3.25,3.24,TEAM1

### TAN!! SPECIAL SELECTION

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
334,18:00,2020-08-11,/soccer/slovakia/fortuna-liga/slovan-bratislav...,Slovan Bratislava,Michalovce,1.17,7.20,12.75,TEAM1
336,18:00,2020-08-11,/soccer/slovakia/fortuna-liga/slovan-bratislav...,Slovan Bratislava,Michalovce,1.12,8.38,16.67,TEAM1
333,17:00,2020-08-11,/soccer/slovakia/fortuna-liga/zilina-nitra-h4Y...,Zilina,Nitra,1.37,5.00,7.30,TEAM1
335,17:00,2020-08-11,/soccer/slovakia/fortuna-liga/zilina-nitra-h4Y...,Zilina,Nitra,1.28,5.45,9.03,TEAM1

___

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
143,2020-08-11,17:00,soccer,norway,obos-ligaen,KFUM Oslo,Lillestrom,TEAM1,2.97,200
141,2020-08-11,17:00,soccer,slovakia,fortuna-liga,Zilina,Nitra,TEAM1,1.37,200
145,2020-08-11,01:40,baseball,usa,mlb,Los Angeles Dodgers,San Diego Padres,TEAM1,1.58,200
142,2020-08-11,22:37,baseball,usa,mlb,Toronto Blue Jays,Miami Marlins,TEAM1,1.59,200
144,2020-08-11,22:40,baseball,usa,mlb,Cincinnati Reds,Kansas City Royals,TEAM1,1.54,200

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
34,2020-08-11,17:00,soccer,slovakia,fortuna-liga,Zilina,Nitra,TEAM1,1.37,1000

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
60,2020-08-11,00:10,baseball,usa,mlb,Milwaukee Brewers,Minnesota Twins,10.5,1.47,100,0.792949
61,2020-08-11,00:40,baseball,usa,mlb,Colorado Rockies,Arizona Diamondbacks,13.5,1.51,100,0.798646
62,2020-08-11,01:05,baseball,usa,mlb,Texas Rangers,Seattle Mariners,10.5,1.45,100,0.829172
65,2020-08-11,01:10,baseball,usa,mlb,Houston Astros,San Francisco Giants,11.0,1.45,100,0.118872
63,2020-08-11,01:40,baseball,usa,mlb,Los Angeles Dodgers,San Diego Padres,10.5,1.46,100,0.764584
64,2020-08-11,01:40,baseball,usa,mlb,Los Angeles Angels,Oakland Athletics,11.5,1.43,100,0.764897
66,2020-08-11,23:05,baseball,usa,mlb,Philadelphia Phillies,Baltimore Orioles,11.0,1.40,100,0.642000

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
86,00:10,2020-08-11,/baseball/usa/mlb/milwaukee-brewers-minnesota-...,Milwaukee Brewers,Minnesota Twins,1.95,0,1.94,TEAM1
87,00:40,2020-08-11,/baseball/usa/mlb/colorado-rockies-arizona-dia...,Colorado Rockies,Arizona Diamondbacks,1.73,0,2.22,TEAM1
88,01:05,2020-08-11,/baseball/usa/mlb/texas-rangers-seattle-marine...,Texas Rangers,Seattle Mariners,1.69,0,2.31,TEAM1
90,01:40,2020-08-11,/baseball/usa/mlb/los-angeles-angels-oakland-a...,Los Angeles Angels,Oakland Athletics,2.21,0,1.75,TEAM1
89,01:40,2020-08-11,/baseball/usa/mlb/los-angeles-dodgers-san-dieg...,Los Angeles Dodgers,San Diego Padres,1.58,0,2.54,TEAM1
79,22:37,2020-08-11,/baseball/usa/mlb/toronto-blue-jays-miami-marl...,Toronto Blue Jays,Miami Marlins,1.59,0,2.58,TEAM1
80,22:40,2020-08-11,/baseball/usa/mlb/cincinnati-reds-kansas-city-...,Cincinnati Reds,Kansas City Royals,1.54,0,2.70,TEAM1
81,23:05,2020-08-11,/baseball/usa/mlb/new-york-yankees-atlanta-bra...,New York Yankees,Atlanta Braves,1.65,0,2.42,TEAM1
82,23:05,2020-08-11,/baseball/usa/mlb/philadelphia-phillies-baltim...,Philadelphia Phillies,Baltimore Orioles,1.59,0,2.54,TEAM1
85,23:10,2020-08-11,/baseball/usa/mlb/cleveland-indians-chicago-cu...,Cleveland Indians,Chicago Cubs,1.72,0,2.28,TEAM1
84,23:10,2020-08-11,/baseball/usa/mlb/detroit-tigers-chicago-white...,Detroit Tigers,Chicago White Sox,1.98,0,1.93,TEAM1
83,23:10,2020-08-11,/baseball/usa/mlb/new-york-mets-washington-nat...,New York Mets,Washington Nationals,2.30,0,1.70,TEAM1

### Daily predictions machin3.

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
117,12:00,2020-08-11,/soccer/china/super-league/chongqing-lifan-qin...,Chongqing Lifan,Qingdao Huanghai,1.95,3.50,3.79,TEAM1
116,16:00,2020-08-11,/soccer/south-africa/premier-league/mamelodi-s...,Mamelodi Sundowns,Orlando Pirates,2.39,3.02,2.95,TEAM1

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1482,17:00,2020-08-11,/soccer/norway/obos-ligaen/kfum-oslo-lillestro...,KFUM Oslo,Lillestrom,2.97,3.59,2.20,0.817977
1480,18:00,2020-08-11,/soccer/slovakia/fortuna-liga/slovan-bratislav...,Slovan Bratislava,Michalovce,1.17,7.20,12.75,0.726795
1474,14:30,2020-08-11,/soccer/ukraine/persha-liga/cherkashchyna-mfk-...,Cherkashchyna,Mykolaiv,13.00,7.50,1.08,0.689562
1479,17:00,2020-08-11,/soccer/slovakia/fortuna-liga/zilina-nitra-h4Y...,Zilina,Nitra,1.37,5.00,7.30,0.622984
1492,16:45,2020-08-11,/soccer/world/club-friendly/fc-emmen-groningen...,FC Emmen (Ned),Groningen (Ned),2.76,3.77,2.16,0.525719
1496,18:00,2020-08-11,/soccer/world/club-friendly/gvvv-vvog-AcnP5J7l/,GVVV (Ned),VVOG (Ned),1.11,8.98,11.04,0.525719
1493,18:00,2020-08-11,/soccer/world/club-friendly/tec-den-bosch-bLy4...,TEC (Ned),Den Bosch (Ned),5.71,4.66,1.43,0.525719
1494,18:00,2020-08-11,/soccer/world/club-friendly/spakenburg-dhsc-QP...,Spakenburg (Ned),DHSC (Ned),1.08,9.33,12.67,0.525719
1485,13:00,2020-08-11,/soccer/world/club-friendly/rodinghausen-werde...,Rodinghausen (Ger),Werder Bremen II (Ger),1.52,4.64,4.63,0.525719
1486,15:00,2020-08-11,/soccer/world/club-friendly/regensburg-nurnber...,Regensburg (Ger),Nurnberg (Ger),3.03,3.70,2.03,0.525719
1489,16:00,2020-08-11,/soccer/world/club-friendly/red-star-st-maur-l...,Red Star (Fra),Lusitanos (Fra),1.51,3.82,5.92,0.525719
1484,09:00,2020-08-11,/soccer/world/club-friendly/niort-cholet-Sjr2r...,Niort (Fra),Cholet (Fra),1.84,3.68,3.63,0.525719
1490,16:30,2020-08-11,/soccer/world/club-friendly/naesby-sfb-oure-EP...,Naesby (Den),SfB-Oure (Den),2.28,3.87,2.50,0.525719
1497,18:00,2020-08-11,/soccer/world/club-friendly/ijsselmeervogels-u...,IJsselmeervogels (Ned),USV Hercules (Ned),1.10,9.12,13.64,0.525719
1491,16:30,2020-08-11,/soccer/world/club-friendly/wienerberger-fc-ma...,Wienerberger (Aut),Mauerwerk (Aut),7.51,5.97,1.28,0.525719
1488,15:30,2020-08-11,/soccer/world/club-friendly/fk-pardubice-bohem...,FK Pardubice (Cze),Bohemians 1905 (Cze),3.19,3.78,1.96,0.525719
1495,18:00,2020-08-11,/soccer/world/club-friendly/barendrecht-excels...,Barendrecht (Ned),Excelsior Maassluis (Ned),3.88,4.66,1.61,0.525719
1487,15:00,2020-08-11,/soccer/world/club-friendly/aek-larnaca-ol-nic...,AEK Larnaca (Cyp),Ol. Nicosia (Cyp),1.82,3.56,3.88,0.525719
1478,16:00,2020-08-11,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.22,3.25,3.24,0.521733
1483,18:00,2020-08-11,/soccer/faroe-islands/premier-league/klaksvik-...,Klaksvik,IF Fuglafjordur,1.16,7.78,9.48,0.327257
1481,17:00,2020-08-11,/soccer/bulgaria/parva-liga/tsarsko-selo-etar-...,Tsarsko Selo,Etar,2.18,3.21,3.18,0.278794
1476,17:00,2020-08-11,/soccer/slovakia/fortuna-liga/zilina-nitra-h4Y...,Zilina,Nitra,1.28,5.45,9.03,0.277038
1477,18:00,2020-08-11,/soccer/slovakia/fortuna-liga/slovan-bratislav...,Slovan Bratislava,Michalovce,1.12,8.38,16.67,0.276433
1475,16:00,2020-08-11,/soccer/slovakia/fortuna-liga/trnava-ruzombero...,Trnava,Ruzomberok,2.26,3.23,3.06,0.239943

___

## EXPERIMENTAL

### Daily model 53

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin4 EMPATE

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []