In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp

# Daily selection

___

In [2]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_seleccion")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
128,14/07/2021,11:00,soccer,estonia,esiliiga,Tallinna Kalev,Elva,3.5,1.9,100,OVER

In [3]:
df_prediccion = dsp.load_data(tbl="tbl_stevehudson_soccer")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [4]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-5
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [5]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_base")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-2
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [6]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_hockey")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [7]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_ou_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
df['objetivo'] = df['objetivo']-1
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
136,14/07/2021,11:00,soccer,estonia,esiliiga,Tallinna Kalev,Elva,3.5,1.9,100,OVER

In [8]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_hp")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [9]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_empate_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [10]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_model2_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [11]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_model_soccer")
df=dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

In [12]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion)
dsp.correcion_horario(df)

Empty DataFrame
Columns: [hora, date, area, league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo, Rating, auc]
Index: []

In [13]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_0")
df = dsp.daily_prediction_model(df_prediccion,min_auc=0,min_games=5)
dsp.correcion_horario(df)

,hora,date,area,league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo,Rating,auc
5039,19:30,13/07/2021,soccer@brazil,serie-b,Coritiba,Vasco,2.68,2.82,2.94,TEAM1,83.410177,51
5040,19:30,13/07/2021,soccer@brazil,serie-b,Vitoria,Sampaio Correa,2.16,2.90,3.82,TEAM1,-235.491230,51
5041,19:30,13/07/2021,soccer@brazil,serie-b,Londrina,Operario,3.39,2.79,2.41,TEAM1,-82.492920,51
5042,17:00,14/07/2021,soccer@brazil,serie-b,CSA,Goias,2.80,2.84,2.77,TEAM1,-66.011515,51

In [14]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium_magic")
df = dsp.daily_prediction_criterio(df_prediccion)
dsp.correcion_horario(df)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
943,13/07/2021,19:30,soccer,brazil,serie-b,Londrina,Operario,X2,2.41,248.0

## NHL CLUSTER FALLO

In [15]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [16]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nhl_original")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### TAN!! SPECIAL SELECTION

In [17]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN")
df=dsp.daily_prediction(df_prediccion)
dsp.correcion_horario(df)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
2517,11:00,14/07/2021,/soccer/estonia/esiliiga/nomme-utd-tammeka-tar...,Nomme Utd,Tammeka U21,1.15,7.42,11.55,TEAM1
2516,11:00,14/07/2021,/soccer/estonia/esiliiga/tallinna-kalev-elva-Q...,Tallinna Kalev,Elva,1.15,7.59,11.92,TEAM1

In [18]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

____

-----

### Gana Favorito en ODDs finales.

In [19]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_inversos")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## GANA 1 si objetivo es mayor a 0.52, GANA 2 si es menor a 49

In [20]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6_glicko")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Premium

In [21]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_premium")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### Criterio

In [22]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,m_criterio
1675,2021-07-14,01:30,soccer,brazil,serie-b,Coritiba,Vasco,TEAM1,2.68,254
1673,2021-07-14,17:00,soccer,estonia,esiliiga,Tallinna Kalev,Elva,TEAM1,1.15,225
1674,2021-07-14,17:00,soccer,estonia,esiliiga,Nomme Utd,Tammeka U21,TEAM1,1.15,225
1676,2021-07-14,05:00,baseball,japan,npb,Nippon Ham Fighters,Orix Buffaloes,TEAM1,2.08,120
1672,2021-07-14,17:00,soccer,morocco,botola-pro,Raja Casablanca,Moghreb Tetouan,TEAM1,1.45,175

___

In [23]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN11")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
1914,17:00,2021-07-14,/soccer/morocco/botola-pro/raja-casablanca-mog...,Raja Casablanca,Moghreb Tetouan,1.45,3.9,7.31,TEAM1

In [24]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio2")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

In [25]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machinTAN_criterio3")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, m_criterio]
Index: []

### OVER UNDER

In [26]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_base1")
dsp.daily_prediction_criterio(df_prediccion)

,date,hora,sport,area,league,team1,team2,objetivo,odd,criterio,outcome
2682,2021-07-14,17:00,soccer,estonia,esiliiga,Tallinna Kalev,Elva,4.5,1.39,100,0.046298

In [27]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_handicap1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, odd, criterio, outcome]
Index: []

## NBA

In [28]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA CLUSTER FALLO

In [29]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NBA FALLO SIN FILTRO

In [30]:
df_prediccion = dsp.load_data(tbl="tbl_fallo2_nba")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### MLB FALLO

In [31]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_mlb")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## NHL

In [32]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nhl")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### MLB

In [33]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_base1")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['hora'],ascending=True)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## SOCCER

In [34]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER CLUSTER FALLO

In [35]:
df_prediccion = dsp.load_data(tbl="tbl_fallo_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### SOCCER EMPATE SECUENCIA

In [36]:
df_prediccion = dsp.load_data(tbl="tbl_empate_soccer")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

###  MILAN - ms negativo -77

In [37]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_MILAN")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

## CRB - ms positivo .49

In [38]:
df_prediccion = dsp.load_data(tbl="tbl_favorito_soccer_CRB")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
203,01:30,2021-07-14,soccer/brazil_serie-b,Londrina,Operario,3.39,2.79,2.41,FAVORITO-2-Operario-0.49
204,01:30,2021-07-14,soccer/brazil_serie-b,Vitoria,Sampaio Correa,2.16,2.90,3.82,FAVORITO-2-Sampaio Correa-0.05
202,23:00,2021-07-14,soccer/brazil_serie-b,CSA,Goias,2.80,2.84,2.77,FALLO-2-CSA-0.38

### LIGA MX

In [39]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_mx1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### NFL

In [40]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_nfl1")
dsp.daily_prediction_criterio(df_prediccion)

Empty DataFrame
Columns: [date, hora, sport, area, league, team1, team2, objetivo, outcome, odd, m_criterio]
Index: []

### HOCKEY

In [41]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin_hockey")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin3.

In [42]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin3")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin6

Objetivo > .50 TEAM1  | Objetivo < .50 TEAM2

In [43]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin6")
dp = dsp.daily_prediction(df_prediccion)
dp.sort_values(by=['objetivo'],ascending=False)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
9181,14:00,2021-07-14,/soccer/world/club-friendly/vfb-stuttgart-darm...,Stuttgart (Ger),Darmstadt (Ger),1.61,3.95,5.05,0.869927
9190,16:00,2021-07-14,/soccer/world/club-friendly/bayer-leverkusen-w...,Bayer Leverkusen (Ger),Wehen (Ger),1.18,6.96,11.00,0.869794
9183,15:00,2021-07-14,/soccer/world/club-friendly/wolfsburg-holstein...,Wolfsburg (Ger),Holstein Kiel (Ger),1.48,4.72,5.37,0.848242
9185,15:00,2021-07-14,/soccer/world/club-friendly/bochum-bonner-2kAS...,Bochum (Ger),Bonner (Ger),1.02,18.00,23.50,0.846070
9209,17:00,2021-07-14,/soccer/estonia/esiliiga/tallinna-kalev-elva-Q...,Tallinna Kalev,Elva,1.15,7.59,11.92,0.764581
9188,16:00,2021-07-14,/soccer/world/club-friendly/hertha-berlin-hann...,Hertha Berlin (Ger),Hannover (Ger),1.48,4.56,5.61,0.691075
9211,17:00,2021-07-14,/soccer/estonia/esiliiga/nomme-utd-tammeka-tar...,Nomme Utd,Tammeka U21,1.15,7.42,11.55,0.661460
9210,17:00,2021-07-14,/soccer/estonia/esiliiga/levadia-parnu-Em0U2M1o/,Levadia U21,Parnu,1.56,4.45,4.44,0.590364
9178,10:00,2021-07-14,/soccer/world/club-friendly/tychy-garbarnia-n5...,Tychy (Pol),Garbarnia (Pol),1.51,3.48,8.01,0.525719
9197,17:00,2021-07-14,/soccer/world/club-friendly/westfalia-herne-wu...,Westfalia Herne (Ger),Wuppertaler (Ger),11.63,8.57,1.17,0.525719
9176,10:00,2021-07-14,/soccer/world/club-friendly/mlada-boleslav-var...,Mlada Boleslav (Cze),Varnsdorf (Cze),1.30,5.75,7.57,0.525719
9194,17:00,2021-07-14,/soccer/world/club-friendly/st-gilloise-valenc...,St. Gilloise (Bel),Valenciennes (Fra),1.92,3.66,3.50,0.525719
9199,18:00,2021-07-14,/soccer/world/club-friendly/schalke-schonnebec...,Schalke II (Ger),Schonnebeck (Ger),1.54,4.58,4.91,0.525719
9202,19:00,2021-07-14,/soccer/world/club-friendly/rubin-kazan-sparta...,Rubin Kazan (Rus),Spartak Moscow (Rus),4.10,3.58,1.79,0.525719
9203,19:30,2021-07-14,/soccer/world/club-friendly/paulton-rovers-bat...,Paulton Rovers (Eng),Bath (Eng),4.57,4.50,1.52,0.525719
9177,10:00,2021-07-14,/soccer/world/club-friendly/paris-sg-le-mans-A...,Paris SG (Fra),Le Mans (Fra),1.06,12.12,25.04,0.525719
9206,19:45,2021-07-14,/soccer/world/club-friendly/witton-albion-crew...,Witton (Eng),Crewe (Eng),5.55,4.80,1.44,0.525719
9198,18:00,2021-07-14,/soccer/world/club-friendly/pansdorf-phonix-lu...,Pansdorf (Ger),Phonix Lubeck (Ger),5.43,4.45,1.43,0.525719
9196,17:00,2021-07-14,/soccer/world/club-friendly/orleans-caen-vsC7F...,Orleans (Fra),Caen (Fra),3.17,3.57,2.16,0.525719
9192,16:00,2021-07-14,/soccer/world/club-friendly/trabzonspor-umrani...,Trabzonspor (Tur),Umraniyespor (Tur),1.30,5.22,7.60,0.525719
9180,11:30,2021-07-14,/soccer/world/club-friendly/korona-kielce-ruch...,Korona Kielce (Pol),Ruch Chorzow (Pol),1.94,3.73,3.51,0.525719
9187,16:00,2021-07-14,/soccer/world/club-friendly/krasnodar-ceske-bu...,Krasnodar (Rus),Ceske Budejovice (Cze),1.70,4.14,4.07,0.525719
9205,19:45,2021-07-14,/soccer/world/club-friendly/frickley-winterton...,Frickley (Eng),Winterton (Eng),1.96,4.27,2.83,0.525719
9184,15:00,2021-07-14,/soccer/world/club-friendly/almere-city-maastr...,Almere City (Ned),Maastricht (Ned),1.56,4.19,5.10,0.525719
9175,08:45,2021-07-14,/soccer/world/club-friendly/asu-poli-timisoara...,ASU Poli Timisoara (Rou),CSM Resita (Rou),1.76,3.74,4.18,0.525719
9174,02:00,2021-07-14,/soccer/world/club-friendly/austin-fc-u-a-n-l-...,Austin FC (Usa),U.A.N.L.- Tigres (Gr4),2.74,3.35,2.39,0.525719
9204,19:45,2021-07-14,/soccer/world/club-friendly/celtic-bristol-cit...,Celtic (Sco),Bristol City (Eng),1.84,3.87,3.61,0.525719
9186,16:00,2021-07-14,/soccer/world/club-friendly/khimki-pfc-sochi-K...,Khimki (Rus),Sochi (Rus),3.42,3.34,2.04,0.525719
9195,17:00,2021-07-14,/soccer/world/club-friendly/dvtk-fc-kosice-xxU...,DVTK (Hun),FC Kosice (Svk),1.77,3.92,3.98,0.525719
9207,19:45,2021-07-14,/soccer/world/club-friendly/grays-phoenix-spor...,Grays (Eng),Phoenix (Eng),1.91,4.20,2.90,0.525719
9191,16:00,2021-07-14,/soccer/world/club-friendly/gyor-vasas-IeksesHr/,Gyor (Hun),Vasas (Hun),2.98,3.52,2.17,0.525719
9182,14:00,2021-07-14,/soccer/world/club-friendly/hlucin-opava-EX7b2...,Hlucin (Cze),Opava (Cze),5.32,5.30,1.43,0.525719
9189,16:00,2021-07-14,/soccer/world/club-friendly/wurzburger-kickers...,Wurzburger Kickers (Ger),Greuther Furth (Ger),5.38,4.68,1.50,0.525719
9208,17:00,2021-07-14,/soccer/estonia/esiliiga/tartu-jk-welco-maardu...,Tartu Welco,Maardu,19.88,12.61,1.06,0.282351
9179,11:00,2021-07-14,/soccer/world/club-friendly/genk-az-alkmaar-j9...,Genk (Bel),AZ Alkmaar (Ned),2.29,3.70,2.73,0.193321
9201,19:00,2021-07-14,/soccer/world/club-friendly/psv-paok-4603Xu5a/,PSV (Ned),PAOK (Gre),1.77,3.96,3.95,0.176012
9200,19:00,2021-07-14,/soccer/world/club-friendly/blauw-geel-den-bos...,Blauw Geel (Ned),Den Bosch (Ned),8.30,5.78,1.25,0.145345
9193,16:30,2021-07-14,/soccer/world/club-friendly/viktoria-berlin-un...,Viktoria Berlin (Ger),Union Berlin (Ger),8.64,5.83,1.29,0.128432

___

## EXPERIMENTAL

### Daily model 53

In [44]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_53")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

In [45]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_50")
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
10166,01:30,2021-07-14,/soccer/brazil/serie-b/coritiba-vasco-bXFz9vjT/,Coritiba,Vasco,2.68,2.82,2.94,TEAM1
10169,23:00,2021-07-14,/soccer/brazil/serie-b/csa-goias-KtHW9KzN/,CSA,Goias,2.80,2.84,2.77,TEAM1
10168,01:30,2021-07-14,/soccer/brazil/serie-b/londrina-operario-25MRA...,Londrina,Operario,3.39,2.79,2.41,TEAM1
10167,01:30,2021-07-14,/soccer/brazil/serie-b/vitoria-sampaio-correa-...,Vitoria,Sampaio Correa,2.16,2.90,3.82,TEAM1

### Daily predictions machin4 EMPATE

In [46]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin4")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []

### Daily predictions machin5

In [47]:
df_prediccion = dsp.load_data(tbl="tbl_prediccion_machin5")
dsp.daily_prediction(df_prediccion)

Empty DataFrame
Columns: [hora, date, area_league, team1, team2, team1_odds, draw_odds, team2_odds, objetivo]
Index: []