In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime
import dsp as dsp

### Daily predictions

In [2]:
df_prediccion = dsp.load_data()

In [3]:
dsp.daily_prediction(df_prediccion)

,hora,date,area_league,team1,team2,team1_odds,draw_odds,team2_odds,objetivo
400,17:00,2020-06-23,/soccer/england/premier-league/leicester-brigh...,Leicester,Brighton,1.72,3.87,5.16,TEAM1
394,17:00,2020-06-23,/soccer/germany/3-liga/chemnitzer-braunschweig...,Chemnitzer,Braunschweig,3.34,3.61,2.07,TEAM1
397,17:00,2020-06-23,/soccer/germany/3-liga/chemnitzer-braunschweig...,Chemnitzer,Braunschweig,3.34,3.61,2.07,DRAW
402,17:30,2020-06-23,/soccer/spain/laliga2/lugo-malaga-0YV6cMbF/,Lugo,Malaga,3.20,2.85,2.54,TEAM1